// Path Management -----------------------------------------------------------
@imgPath: "../../../img";

// Libs ----------------------------------------------------------------------
@import "_shared/base";

// Blocks ------------------------------------------------------------------
@import "_blocks/header";
@import "_blocks/title";
@import "_blocks/footer";

#content { position: relative; }

#content {
    background: #F2F2F2;
    background: rgba(0, 0, 0, 0.02);
    height: 225px;
    width: 100%;
    top: 75px;
    border: 1px solid #E6E6E6;

  & > section {
    .container;
    padding-bottom: 75px;
  }

  .story { margin-top: 28px; }

  h1 {
    font-size: 92px;
    margin: 0 auto 0;
    color: #444;
    text-align: center;
    text-shadow: 0 1px 1px white;

    & + p {
      color: #444;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 54px;
      text-align: center;
      text-shadow: 0 1px 1px white;
    }
  }
}
