


// Bootstrap
// -------------------------
@import "../vendor/bootstrap/less/reset.less";
@import "variables.less";
@import "../vendor/bootstrap/less/mixins.less";
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/layouts.less";
@import "../vendor/bootstrap/less/type.less";
@import "../vendor/bootstrap/less/code.less";
@import "../vendor/bootstrap/less/forms.less";
@import "../vendor/bootstrap/less/tables.less";
@import "../vendor/bootstrap/less/dropdowns.less";
@import "../vendor/bootstrap/less/wells.less";
@import "../vendor/bootstrap/less/component-animations.less";
@import "../vendor/bootstrap/less/close.less";
@import "../vendor/bootstrap/less/buttons.less";
@import "../vendor/bootstrap/less/button-groups.less";
@import "../vendor/bootstrap/less/alerts.less";
@import "../vendor/bootstrap/less/navs.less";
@import "../vendor/bootstrap/less/navbar.less";
@import "../vendor/bootstrap/less/breadcrumbs.less";
@import "../vendor/bootstrap/less/pagination.less";
@import "../vendor/bootstrap/less/pager.less";
@import "../vendor/bootstrap/less/modals.less";
@import "../vendor/bootstrap/less/tooltip.less";
@import "../vendor/bootstrap/less/popovers.less";
@import "../vendor/bootstrap/less/thumbnails.less";
@import "../vendor/bootstrap/less/labels-badges.less";
@import "../vendor/bootstrap/less/progress-bars.less";
@import "../vendor/bootstrap/less/accordion.less";
@import "../vendor/bootstrap/less/carousel.less";
@import "../vendor/bootstrap/less/hero-unit.less";

// FontAwesome
// -------------------------
@import "../vendor/font-awesome/less/font-awesome.less";
@fontAwesomePath: "../vendor/font-awesome/font";

// Image path helper
// -------------------------
@imgPath: "../../img";

// Legacy
// -------------------------
.saturate(@value, @class) {
  -webkit-filter: ~"saturate(@{value}%)";
  @c: ".@{class}";

  (@c) {
    &:after {
      display: block;
      .square(100%);
    }
  }
}

// Navbar
// -------------------------
.navbar {
  background: #134374;

  .container {
    height: 50px;
  }
}

.navbar-inner {
  margin-top: 4px;

  .navbar-inverse & {
    background-color: #4e7297;
    background-image: url("@{imgPath}/navbar-texture.png");
    background-position-y: 1px;
    border-bottom: 1px solid #214062;
    border-top: 1px solid #0d2e50;
  }
}

// Legacy imports
// -------------------------
@import "shared/grid";
@import "shared/blocks/header";
@import "shared/blocks/footer";
@import "shared/blocks/title";
@import "shared/blocks/flash";
@import "shared/syntax/solarized_light";
@import "outer/home/teaser";
@import "outer/home/features";
@import "outer/home/testimonials";
@import "outer/home/power";
@import "outer/about/content";
@import "outer/about/team";
@import "outer/about/contact";
@import "outer/privacy/privacy.less";
@import "outer/docs/article.less";
@import "outer/docs/categories.less";
@import "outer/docs/docs.less";
@import "outer/docs/layout.less";

// Bootstrap utilities
// -------------------------
@import "../vendor/bootstrap/less/utilities.less"; // Has to be last to override when necessary