/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  color: #222222;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #0f5391;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #023066;
}
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  font-size: 15px;
  line-height: 1.231;
}
h1,
h2 {
  letter-spacing: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad", sans-serif;
}
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000000;
  text-decoration: none;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 85%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-family: "Myriad", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
button,
.button {
  font-family: "Myriad", sans-serif;
  font-weight: 700;
  line-height: 21px;
  padding: 8px 14px;
  *padding: 5px 15px;
  border: 1px solid #367203;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.green,
button.green,
input[type="submit"].green {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 2px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 2px rgba(0,0,0,.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 2px 2px rgba(0,0,0,.25);
  background-color: #61a400;
  background-image: -moz-linear-gradient(top, #74b000, #459300);
  background-image: -ms-linear-gradient(top, #74b000, #459300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#74b000), to(#459300));
  background-image: -webkit-linear-gradient(top, #74b000, #459300);
  background-image: -o-linear-gradient(top, #74b000, #459300);
  background-image: linear-gradient(top, #74b000, #459300);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74b000', endColorstr='#459300', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#74b000', EndColorStr='#459300');
}
a.green:hover,
button.green:hover,
input[type="submit"].green:hover {
  border: 1px solid #2b5b02;
  background-color: #4e8400;
  background-image: -moz-linear-gradient(top, #5d8d00, #377600);
  background-image: -ms-linear-gradient(top, #5d8d00, #377600);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d8d00), to(#377600));
  background-image: -webkit-linear-gradient(top, #5d8d00, #377600);
  background-image: -o-linear-gradient(top, #5d8d00, #377600);
  background-image: linear-gradient(top, #5d8d00, #377600);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d8d00', endColorstr='#377600', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#5d8d00', EndColorStr='#377600');
}
a.green:active,
button.green:active,
input[type="submit"].green:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.95);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.95);
  position: relative;
  top: 1px;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
textarea {
  outline: none;
  padding: 8px 4px;
  color: #000000;
  border: 1px solid #909090;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}
input:focus,
textarea:focus {
  border: 1px solid rgba(15, 81, 143, 0.4) !important;
  box-shadow: 0 0 5px #80bfff;
  background: #ffffff;
}
/* Placeholder text color */
::-webkit-input-placeholder {
  color: #848484;
}
input:-moz-placeholder {
  color: #848484;
}
input:-ms-input-placeholder {
  color: #848484;
  text-shadow: none;
}
input.placeholder {
  color: #848484;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  /* 1 */

  *overflow: visible;
  /* 2 */

}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ie7 .ir {
  line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  width: 100%;
  zoom: 1;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.container {
  zoom: 1;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
input[type=text].signup {
  width: 270px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  background-color: #e9e9e9;
  background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#c9c9c9));
  background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: linear-gradient(top, #ffffff, #c9c9c9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#c9c9c9');
}
input[type=text].signup:focus {
  background: #ffffff;
}
.authGithub {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  background: url("../../../img/outer/home/sprites.png") no-repeat 0 -725px;
  width: 412px;
  height: 135px;
}
.ie7 .authGithub {
  line-height: 0;
}
.authGithub br {
  display: none;
}
.authGithub:hover {
  background-position: 0 -862px;
}
.authGithub:active {
  position: relative;
  bottom: 1px;
}
.authGithub.disabled:active {
  bottom: 0;
}
.authGithub.disabled:hover {
  background-position: 0 -725px;
}
::-moz-selection {
  background: #0f5391;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #0f5391;
  color: #fff;
  text-shadow: none;
}
#head {
  height: 88px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(top, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  border-top: 5px solid #105AAF;
}
.no-cssgradients #head {
  background: url("../../../img/outer/home/header-bg-repeat.png") repeat-x;
}
#head  > header {
  zoom: 1;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
#head  > header:before,
#head  > header:after {
  content: "";
  display: table;
}
#head  > header:after {
  clear: both;
}
#head #circle {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin: 20px 0;
}
#head #circle a {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  width: 182px;
  height: 48px;
  margin: 0;
  background: url("../../../img/outer/home/sprites.png") no-repeat 0 -1092px;
}
.ie7 #head #circle a {
  line-height: 0;
}
#head #circle a br {
  display: none;
}
#head nav {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  margin-left: 250px;
  margin-top: 36px;
  float: right;
}
#head nav ul {
  float: right;
}
#head nav li {
  display: inline;
  margin: 0 0 0 2.3em;
  /* 40px */

  text-align: right;
}
#head nav a {
  color: #105AAF;
  font-family: "Myriad", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
#head nav a:visited {
  color: #105AAF;
}
#head nav a:hover,
#head nav a:active {
  color: #023066;
  text-shadow: 0 0 8px rgba(153, 153, 153, 0.2);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#title {
  height: 116px;
  background: url("../../../img/outer/blocks/title/title_bg.png") repeat-x;
}
#title h1 {
  margin: 0;
  zoom: 1;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
  color: #fff;
  font-size: 42px;
  line-height: 116px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
#title h1:before,
#title h1:after {
  content: "";
  display: table;
}
#title h1:after {
  clear: both;
}
#title:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.048);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  background-repeat: repeat-x;
  background-color: transparent;
  display: block;
  height: 50px;
  width: 100%;
  z-index: 10;
  position: absolute;
}
#footer {
  -webkit-box-shadow: inset 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 8px 10px -5px rgba(0, 0, 0, 0.15);
  background-color: #e6e6e6;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(top, #e6e6e6, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#e6e6e6', EndColorStr='#ffffff');
}
#footer footer {
  zoom: 1;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 20px;
  font-size: 12px;
}
#footer footer:before,
#footer footer:after {
  content: "";
  display: table;
}
#footer footer:after {
  clear: both;
}
#footer footer  > span {
  display: inline;
  float: left;
  width: 140px;
  margin: 0 10px;
  color: #a4a4a4;
}
#footer footer a:hover {
  text-shadow: 0 0 8px rgba(16, 89, 173, 0.3);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#footer ul {
  margin: 0;
  float: right;
}
#footer li {
  float: left;
  display: inline;
  margin: 0 0 0 15px;
}
#footer .ficon {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  background: url("../../../img/outer/home/sprites.png") no-repeat;
  display: inline-block;
  position: relative;
  top: -5px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  *display: block;
}
.ie7 #footer .ficon {
  line-height: 0;
}
#footer .ficon br {
  display: none;
}
#footer .ficon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#footer .tw {
  background-position: -414px -725px;
}
#footer .em {
  background-position: -414px -803px;
}
#footer .fb {
  background-position: -414px -751px;
}
#footer .gp {
  background-position: -414px -777px;
}
#content {
  position: relative;
  /* background: url("../../../img/outer/bg_pattern.png"); */
}
#content  > section {
  zoom: 1;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
}
#content  > section:before,
#content  > section:after {
  content: "";
  display: table;
}
#content  > section:after {
  clear: both;
}
#content h1 {
  margin: 100px auto 0;
  color: #444;
  font-size: 92px;
  line-height: 80px;
  text-align: center;
}
#content h1 + p,
#content .story p {
  color: #444;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
  text-shadow: 0 1px 1px #ffffff;
}
#content h1 + p {
  color: #0f5391;
  font-weight: 300;
}
#content .story {
  padding: 10px 0;
  margin-left: 170px;
  margin-right: 170px;
}
.no-generatedcontent #content .story {
  border: 1px;
  border-style: dashed;
  border-color: #cccccc;
  border-left: none;
  border-right: none;
}
#content .story:before {
  content: '';
  display: block;
  position: absolute;
  background: #FAFAFA;
  background: rgba(0, 0, 0, 0.02);
  height: 225px;
  width: 100%;
  top: 75px;
  left: 0;
  border: 1px solid #e6e6e6;
}
#content .story p {
  margin-top: 18px;
  margin-bottom: 18px;
}
#content hr {
  border-style: dashed;
  border-color: #cccccc;
  margin-bottom: 65px;
}

html, body, #wrap { height: 100%; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 150px; }  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  clear:both;}

/* CLEAR FIX*/
.clearfix:after {content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

