@jobs_font_size: 16px;
@jobs_trans1: 200ms;
@jobs_trans2: 400ms;
@jobs_section_padding: 8em;
.jobs {
  font-size: @jobs_font_size;
  line-height: 24px;
  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 @jobs_font_size;
  }
  h1 {
    font-size: 60px;
  }
  a {
    transition: @jobs_trans2 ease-in-out;
    &:hover {
      transition: @jobs_trans1 ease-in-out;
    }
    &:not(:hover) {
      color: inherit;
    }
  }
  i {
    font-size: 2em;
    margin: 0 0 @jobs_font_size;
  }
}
.jobs-head {
  .flexy(center, center, column);
  background-color: @blueDarker;
  background-image: linear-gradient(to bottom, @blueDarker 66%, @blueDarkest 100%);
  height: 75vh;
  color: @white;
}
.jobs-body {
  max-width: @minimumContentWidth;
  margin: 0 auto;
  > [class^="jobs-"] {
    &:not(:first-child) {
      margin: @jobs_section_padding 0;
    }
  }
  p {
    color: @grayLight;
    margin: 0 0 @jobs_font_size;
  }
}
.jobs-types {
  @columns: 3;
  .flexy(stretch);
  .outlineFlat();
  border-radius: 4px;
  height: (@minimumContentWidth / 4);
  margin: (@jobs_section_padding / 2) 0;
  a {
    .flexy(center, center, column);
    width: 100% / @columns;
    &:not(:first-child) {
      box-shadow: -1px 0 @grayBoxBorder;
    }
  }
}
.jobs-location {
  @split_by: (1 / 3);
  .flexy(stretch);
  margin: (@jobs_section_padding / 2) 0;
  aside {
    .flexy(center, center, column);
    width: (@split_by * 100%);
  }
  article {
    width: ((1 - @split_by) * 100%);
  }
}
.jobs-perks {
  @columns: 3;
  .flexy(stretch, space-between);
  article {
    .flexy(column);
    width: (round(100% / @columns) - 1);
  }
  h3 {
    margin-top: @jobs_font_size;
  }
}
.jobs-listings {
  article {
    .flexy(column);
    padding-bottom: 2em;
  }
  h2 {
    margin-bottom: (@jobs_font_size * 2);
    padding-bottom: @jobs_font_size;
    box-shadow: 0 1px @grayBoxBorder;
  }
  ul {
    margin: 0 0 @jobs_font_size @jobs_font_size;
  }
  li {
    line-height: 24px;
    color: @grayLight;
  }
  [role="button"] {
    .circleButton();
    min-width: 10em;
    margin: 1em auto;
  }
}
