#jobs {
	font: 15px/24px 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	background: white;
  counter-reset: my-counter;

  .step {
    counter-increment: my-counter;
  }

  step:before {
    content: counter(my-counter);
  }

  strong {
	  font-weight: 800;
  }

  h1, h2, h3, h4 {
	  color: black;
  }

  h1 {
	  padding: 50px 0;
	  margin: 0 0 50px 0;
	  font-size: 3em;
	  text-align: center;
	  background: #f9f8f8;
  }

  h2 {
	  margin-bottom: 40px;
	  font-size: 2em;
	  line-height: 1.2em;
  }

  h3 {
	  font-size: 1.1em;
	  text-transform: uppercase;
	  line-height: 1.3em;
	  color: #444;
  }

  .headers {
	  padding-bottom: 30px;
	  margin-bottom: 40px;
  }

  .headers h2, .headers h3 {
	  text-align: center;
  }

  a {
	  color: #366aa4;
	  text-decoration: none;
  }

  a:hover,
  a:focus {
	  color: #1b4f8a;
  }

  section a {
	  font-weight: 600;
  }

  ul {
	  margin: 0;
	  padding: 0;
  }

  ul li {
	  float: left;
	  list-style-type: none;
  }

  section ul li {
	  line-height: 1.4em;
  }

  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .pull-left {
	  float: left;
  }

  .pull-right {
	  float: right;
  }

  h1, .jobs section, .headers,
  .accordion, .step,
  .jobs .point {
	  border-bottom: 1px solid #eee;
  }

  /* Containers */
  .container {
	  width: 70%;
	  margin: 0 auto;
  }

  /* Jobs page specific */

  .jobs section:last-of-type,
  .jobs .point:last-of-type {
	  border: none;
  }

  .jobs section li {
	  padding: 2% 0;
  }

  .jobs .box:first-of-type {
	  padding-left: 0;
  }

  .jobs .apply .box h3 {
	  text-align: center;
  }

  .jobs h2:last-child {
	  margin: 40px 0 100px 0;
	  text-align: center;
  }

  .jobs .application li {
	  float: none;
  }

  .jobs .step {
	  position: relative;
  }

  .jobs .step:before {
	  left: 10px;
	  top: 40px;
	  background: #ffdf23;
	  content: counter(my-counter);
  }

  .jobs .step:before,
  .jobs .point .ss-icon {
	  position: absolute;
	  color: white;
	  border-radius: 50px;
	  text-align: center;
  }

  .jobs .step ul {
	  margin-left: 20px;
  }

  .jobs .step li {
	  padding: 3px 0;
	  list-style-type: disc;
  }

  .jobs .point {
	  position: relative;
  }

  .jobs .point .ss-icon {
	  display: block;
	  padding-top: 20px;
	  height: 40px;
	  width: 60px;
	  font-size: 1.7em;
  }

  .jobs .point.culture .ss-icon {
	  background: #ef535e;
  }

  .jobs .point.tech .ss-icon {
	  background: #0065d7;
  }

  .jobs .point.young .ss-icon {
	  background: #a100c4;
  }

  .jobs .point.learn .ss-icon {
	  background: #ffae00;
  }

  /* Accordion */

  input[type=checkbox] {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
  }

  label {
	  position: relative;
	  cursor: pointer;
	  color: #366aa4;
  }

  label:before {
	  content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: -20px;
    border-left: 5px solid black;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-top: -5px;
  }

  .accordion-container {
	  margin: 40px 0;
  }

  .accordion {
	  padding-left: 30px;
	  position: relative;
  }

  .accordion:last-child {
	  border: none;
  }

  .accordion ul {
    max-height: 0;
    padding: 0 0 0 20px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  section .accordion li {
	  float: none;
	  font-size: 1em;
	  padding: 5px 0;
	  list-style-type: disc;
  }

  section .accordion li:last-child {
	  padding: 5px 0 20px 0;
  }

  input[type=checkbox]:checked ~ h3 label:before {
    border-left: 5px solid transparent;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    margin-left: -4px;
    margin-top: -4px
  }

  input[type=checkbox]:checked ~ ul {
	  min-height: 300px;
	  max-height: 700px;
  }


  /* Media queries */

  @media screen and (min-width: 320px) and (max-width: 768px) {

	  .jobs section {
		  padding-bottom: 20px;
		  margin-bottom: 20px;
	  }

	  .jobs .box {
		  float: none;
		  width: 100%;
	  }

	  .jobs .point {
		  padding: 80px 0 20px 0;
	  }

	  .jobs .point h3 {
		  text-align: center;
		  width: 100%;
	  }

	  .jobs .point .ss-icon {
		  top: 20px;
		  left: 50%;
		  margin-left: -30px;
	  }

	  .jobs .step {
		  padding:  20px 0 20px 60px;
	  }

	  .jobs .step:before {
		  height: 27px;
		  width: 30px;
		  padding-top: 3px;
	  }

  }

  @media screen and (min-width: 767px) {
	  .jobs section {
		  padding-bottom: 40px;
		  margin-bottom: 40px;
	  }

	  .jobs .box {
		  float: left;
		  width: 45%;
		  padding: 0 0 5% 5%;
	  }
	  .jobs .point {
		  padding: 20px 0 20px 100px;
	  }

	  .jobs .point .ss-icon {
		  top: 40px;
		  left: 0;
	  }

	  .jobs .step {
		  padding:  20px 0 20px 100px;
	  }

	  .jobs .step:before {
		  height: 40px;
		  width: 50px;
		  padding-top: 10px;
	  }
  }

  /* Font icons */
  @charset "UTF-8";

  @font-face {
    font-family: "SSSocialCircle";
    src: url('../fonts/ss-social-circle.eot');
    src: url('../fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ss-social-circle.woff') format('woff'),
    url('../fonts/ss-social-circle.ttf')  format('truetype'),
    url('../fonts/ss-social-circle.svg#SSSocialCircle') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}