.page {
  .banner {
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 30px;
    text-align: center;

    h3 {
      opacity: .5;
      max-width: 70%;
      margin: 0 auto;
      font-style: italic;
    }
  }
}

.banner {
  background: @circleBlue;
  padding-bottom: 30px;

  h1, h3, h4 {
    color: white;
  }

  h1 em {
    color: @circleBlueLight;
  }

  h3 {
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
  }
}
