&#footer {

  border-top: 1px solid #eee;

  .logo {
    margin: 6px 10px 0 0;
  }

  nav {
    margin: 0;
    li {
      a:hover, a:focus, .active {
        background: lighten(#eee, 4%);
      }
    }
  }

  a {
    color: darken(#eee, 8%);
  }

  @import "../home/additional.less";
}