header {
  background: @circleBlue;
  padding-bottom: 30px;

  h1, h3, h4 {
    color: white;
  }

  h1 em {
    color: #9ec5d4;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
  }

  .btn-large {
    width: 200px;
    margin-top: 40px;
    margin-left: -140px;
    position: relative;
    left: 50%;
  }

  .how {
    margin-top: 40px;
    counter-reset: featureNum;

    .span4:first-of-type {
      margin: 0;
    }

    h3 {
      margin-bottom: 30px;
      color: @circleBlueLight;
    }

    h4 {
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      counter-increment: featureNum;

      &:before {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        font-size: 13px;
        text-align: center;
        border-radius: 20px;
        color: @circleBlueLight;
        background: @circleBlueDark;
        content: counter(featureNum);
      }
    }

    figure {
      text-align: center;
    }
  }

	.bar {
	  padding: 15px 0;
    background: @circleBlueDark;

	  #logo {
		  display: block;
		  height: 40px;
		  width: 130px;
		  margin: -7px 0 0 0;
	  }

    nav {
      li {
        a:hover, a:focus, .active {
          background: #084963;
        }
      }
    }

	  .nav-pills {
		  margin: 0;
		  a {
		    color: #84aebe;
		  }
	  }

    .controls {
      text-align: right;
    }
	}

  .container:nth-child(2) {
    margin-top: 40px;
  }

}
