header {
  background: @circleBlue;
  height: 280px;

  h1, h3 {
    color: white;
  }

  h1 em {
    color: #9ec5d4;
  }

  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
  }

	.bar {
	  padding: 15px 0;
    background: @circleBlueDark;

	  #logo {
		  display: block;
		  height: 40px;
		  width: 130px;
		  margin: -7px 0 0 0;
	  }

    nav {
      li {
        a:hover, a:focus, .active {
          background: #084963;
        }
      }
    }

	  .nav-pills {
		  margin: 0;
		  a {
		    color: #84aebe;
		  }
	  }

    .controls {
      text-align: right;
    }
	}

  .container:nth-child(2) {
    margin-top: 40px;
  }

}
