#navbar {
  background: @circleBlueDark;
  padding: 15px 0;
  #logo {
    display: block;
    width: 130px;
    margin: 0;
    img {
      height: 3em;
    }
  }
  ul {
    margin: 0;
    a {
      padding: 0 1em;
      margin: 0;
      line-height: 3em;
      color: #84aebe;
      &:hover, &:focus, &:active {
        background: @circleBlue;
      }
    }
  }
  .controls {
    text-align: right;
  }
  .login-link{
    //to center link without affecting postiion of control button
    line-height: 42px;
    color: #fff;
  }
}
