@import "../../bootstrap/variables.less";

.background.main {
  right: 70px;
  bottom: 0;
  height: 40%;

  @media (max-width: @screen-md-max) {
    opacity: 0.03;
  }
}

.outer-section-overview {
  padding-bottom: 70px;
  .make-xs-column(12);

  > h2 {
    margin-top: 0;
  }

  > p {
    margin-bottom: 0;
  }
}

.feature {
  .make-sm-column(4);

  > h3 {
    .text-center;
  }
}

.jumbotron {
  position: relative;

  .small-aside {
    @media (min-width: @screen-lg-min) {
      max-width: 70%;
    }
  }

  .btn-cta {
    // TODO: 11px is the lower padding on an H3– use calculated
    // version instead of hardcoding it here.
    margin-top: calc(40px - 11px);
  }
}
