@import "../../bootstrap/variables.less";

// Background implemented as an after so we can set its opacity.
// Important! The element this is applied to should have a z-index (so it forms
// a stacking context). Set z-index: 0 if it doesn't already have one. We don't
// do that in the mixin so we don't override another value.
.background-after-element(@rules) {
  position: relative;

  &:after {
    position: absolute;
    display: block;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    content: "";

    @rules();
  }
}


.outer-section-overview {
  padding-bottom: 70px;
  .make-xs-column(12);

  > h2 {
    margin-top: 0;
  }

  > p {
    margin-bottom: 0;
  }
}

.feature {
  .make-sm-column(4);

  > h3 {
    .text-center;
  }
}

.jumbotron {
  position: relative;

  .small-aside {
    @media (min-width: @screen-lg-min) {
      max-width: 70%;
    }
  }

  .btn-cta {
    // TODO: 11px is the lower padding on an H3– use calculated
    // version instead of hardcoding it here.
    margin-top: calc(40px - 11px);
  }

  .background-after-element({
    background-image: url('@{imgPath}/outer/integrations/main-docker-logo.svg');
    background-position: ~"calc(100% - 70px)" bottom;
    background-size: auto 40%;
    background-repeat: no-repeat;

    @media (max-width: @screen-md-max) {
      opacity: 0.03;
    }
  });
}

.docker-cta {
  position: relative;
  .make-row;

  z-index: 0;

  .background-after-element({
    background-image: url('@{imgPath}/outer/integrations/banner-docker-logo.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom left;

    @media (max-width: @screen-md-max) {
      opacity: 0.03;
    }
  });

  > section {
    > .cta-text {
      .make-md-column(12);
      .make-lg-column(6);
      .make-lg-column-offset(3);
    }

    > .cta-btn {
      .make-md-column(12);
      .make-lg-column(3);

      @media (max-width: @screen-md-max) {
        .text-center;
      }
    }
  }
}
