.integrations {
  &.docker {
    @import "docker.less";
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @zindex-modal;

    .flexy();
    .flex-direction(column);
    .align-items(center);
    .justify-content(center);

    background-color: rgba(0, 0, 0, .484375);

    > div > .modal-video,
    > .modal-video {
      width: 848px;
      height: 477px;

      border: 4px @white solid;
      border-radius: 5px;
    }

    > .close {
      width: 50px;
      height: 50px;
      margin-top: 30px;

      background-image: url('@{imgPath}/outer/video/video-close.svg');
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;

      // Overiding Bootstrap's styles
      .opacity(.5);
      &:hover, &:focus {
        .opacity(.8);
        outline: none;
      }
    }
  }

  .feature.video {
    > a.play {
      position: relative;

      display: block;
      width: 200px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;

      border-radius: 50%;
      overflow: hidden;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px @black;
      }

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        width: 100%;
        height: 100%;

        background-image: url('@{imgPath}/outer/video/video-play-1.svg');
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0,0.3);
        transition: background-size 50ms;

        content: ' ';
      }

      &:active:before {
        background-size: 47px;
      }
    }
  }
}
