
/******************************************************************/
/*** Rule sets that apply only to Internet Explorer 7 and below ***/

#header {
	position: relative;
	z-index: 100;
}

.clear, .ie7_sliderFix {
	height: 0;
}

input[type="text"] {
	height: 26px;
	padding: 9px 0 3px 10px;
}

.comment {
	display: inline-block;
}
