.enterprise-landing {
	.heading{

	}
	.section{
		height: 50vh; 
		.flexBox();
		.align-items(center);
	}
	.item { 
		width: 48%;
		img{
			.center;
		}

		img{
			margin: 0 auto;
			display: block;
		}
	}
	.btn {
		min-width: 200px;
		min-height: 50px;
		line-height: 50px;
		font-size: 20px;
		color: white;
		margin-bottom: 30px;
	}
	.modal{
		h4{
			font-size: 14px;
			.center-text;
		}
		form{
			max-width: 220px;
			.center;
		}
	}
}
