// Article view
#content .title {
  & > h1 {
    font-size: 32px;
    text-align: left;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    text-align: left;
    color: @gray;
    margin-top: 0;
  }

  hr {
    margin: 0.5em 0 1.5em;
  }
}

#content {
  article {
    background: white;
    margin-bottom: 50px;
    padding: 25px 30px;
    border: 1px solid #E0E0E0;
    .border-radius;
  }

  .doc {
    & > h1 {
      text-align: left;
      font-size: 1.9em;
      line-height: 1em;
      color: #222;
    }

    h6 { margin: 0; }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    li {
      line-height: 26px;
    }

    ul li {
      padding-left: 5px;

      &:before {
        text-indent: -2.7em;
      }
    }

    ol {
      counter-reset: ordered;
      padding-left: 16px;
      list-style: none;

      li { padding: 3px 0; }

      li::before {
        content: counter(ordered);
        counter-increment: ordered;
        background: #0F5391;
        color: white;
        border-radius: 13px;
        width: 18px;
        height: 18px;
        display: inline-block;
        text-align: center;
        margin-right: 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: 17px;
      }
    }
  }
}
