// Article view
#content .title {
  & > * { text-align: left; }

  & > h1 {
    font-size: 32px;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    color: @gray;
    margin-top: 0;
  }
}

.topics {
  & > article {
    padding: 20px 25px;
    margin-bottom: 50px;
    background: white;
    border: 1px solid #E0E0E0;
    .border-radius;
  }
}
