// Article view
#content .title {
  & > h1 {
    font-size: 32px;
    text-align: left;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    text-align: left;
    color: @gray;
    margin-top: 0;
  }

  hr {
    margin: 0.5em 0 1.5em;
  }
}

#content {
  article {
    background: white;
    margin-bottom: 50px;
    padding: 25px 30px;
    border: 1px solid #E0E0E0;
    .border-radius;
  }

  .doc {
    & > h1 {
      text-align: left;
      font-size: 1.9em;
      line-height: 1em;
      color: #222;
    }

    h6 { margin: 0; }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
