// Categories view
#content > .categories {
  padding-top: 0;
}

.categories {
  a {
    display: block;
    background: @link;
    border: 2px solid @linkHover;
    margin-bottom: 15px;
  }

  li {
    list-style: none;
  }

}
