// Categories view
#content > .categories {
  .container;
  padding-top: 0;
}

.categories {
  li {
    list-style: none;
  }

  a {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    background-color: @link;
    #gradient > .vertical(#115EA6, #0F5391);
    color: white;
    border: 2px solid @linkHover;
    .clearfix;
  }

  i {
    font-size: 60px;
  }
}
