#docs-page > #content .article_list {
  li {
    list-style: none;
  }

  hr {
    margin: 0.5em 0 1.5em;
    border-color: #d7dce3;
  }

  h4 {
    margin: 1.33em 0 0;
    color: #366aa4;
    font-size: 16px;
  }
}
