#docs-page #content .sidebar {
  display: inline;
  float: left;
  width: 248px;
  margin-right: 10px;

  .sidebar-search-form {
    form {
      margin-bottom: 0;
      width: 248px - 20px;
      margin-left: 10px;
      margin-right: 10px;
      input {
        width: 248px - 20px - 28px; // extra 28px for padding on left and right
      }
    }
  }

  .topics {
    margin: 5px 0 10px 0;
    background: white;
    padding: 0;
    border: 1px solid #E0E0E0;
    .border-radius(5px 5px 5px 5px);
    .box-shadow(inset -2px 0px 16px -10px black);

    ul {
      height: 0;
      overflow: hidden;
    }

    .expand {
      height: auto;
    }


    li {
      padding: 0 5px 4px 10px;
      list-style: none;

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        padding-bottom: 20px;
      }

    }
    li > ul {
      list-style: none;
    }

    .category {
      font-size: 16px;
      font-weight: bold;
    }

    .title {
      font-size: 16px;
    }

    .icon-chevron-down, .icon-chevron-up {
      text-decoration: none;
    }

    hr {
      margin-top: 0;
      margin-bottom: 0;
      border-color: #D7DCE3;
    }
  }
}
