.topics {
  ul {
    height: 0;
    overflow: hidden;
  }

  .expand {
    height: auto;
  }

  li > ul {
    list-style: none;
  }

  i {
    color: #0F5391;
  }
}



.topics {
  display: inline;
  float: left;
  width: 248px;
  margin: 20px 0 10px 0;
  background: white;
  padding: 0;
  border: 1px solid #E0E0E0;
  border-right: none;
  .border-radius(5px 0 0 5px);
  .box-shadow(inset -2px 0px 16px -10px black);

  li {
    padding: 0 5px 0 10px;
    list-style: none;

    &:first-child {
      padding-top: 20px;
    }
  }
}
