.product-page.stories {
  > .jumbotron .shopify-logo {
    height: 70px;
  }

  .stories-stats {
    > dl {
      .flexy(center, center, column, wrap);

      @key-height: 22px;
      @value-height: 60px;
      height: @key-height + @value-height;

      > dt {
        font-weight: normal;
        text-transform: uppercase;
        height: @key-height;
      }

      > dd {
        font-size: @value-height;
        line-height: 1em;
      }
    }
  }

  .feature {
    .make-sm-column(4);
    .text-center;

    > h3 {
      .text-center;
    }
  }

  .bottom-cta-section {
    // TODO: This makes the margins look better on pages with nothing between
    // the h2 and the .cta-btn, but we should structure our markup and styles
    // so this happens without special casing for this page.
    h2 {
      margin-bottom: 22px;
    }
  }
}

@stories_font_size: 18px;
.stories-procedure {
  @color: @gray;

  display: block;
  margin-left: auto;
  margin-right: auto;

  .slot {
    fill: @color;
  }

  .step {
    &:hover {
      .track,
      .direction,
      .pin {
        stroke-width: 10;
        transition: stroke-width 200ms;
        transition-timing-function: cubic-bezier(0.5, -1, 0.5, 2);
      }
      p {
        color: @color;
        padding: 0 (@stories_font_size * 2) 0 0;
        transition: padding 200ms, color 200ms;
        &.right {
          padding: 0 0 0 (@stories_font_size * 2);
        }
      }
    }
  }

  .touch {
    fill: none;
    stroke: transparent;
    stroke-width: 50; // increases hover area
    cursor: pointer;
  }

  .track {
    fill: none;
    stroke: @color;
    stroke-width: 2;
    transition: stroke-width 400ms;
    stroke-linecap: round;
  }

  .direction {
    fill: @color;
    stroke: @color;
    stroke-width: 0;
    transition: stroke-width 400ms;
  }

  .pin {
    stroke-width: 0;
    transition: stroke-width 400ms;
  }

  .passing {
    .track,
    .direction {
      stroke: @green;
    }

    .direction,
    .pin {
      fill: @green;
      stroke: @green;
    }
  }

  .failing {
    .track,
    .direction {
      stroke: @redLight;
    }

    .direction,
    .pin {
      fill: @redLight;
      stroke: @redLight;
    }
  }

  .mask {
    fill: @white;
  }

  p {
    .flexy(center);
    margin: 0;
    padding: 0 @stories_font_size 0 @stories_font_size;
    color: fade(@color, 0);
    text-align: center;
    pointer-events: none;
    transition: padding 300ms, color 300ms;
  }
}
