/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/figwheel_server.log
/node_modules
/resources/public/cljs
/resources/components
/resources/app.css.map
/resources/assets/css/app.css
/resources/public/assets/
/resources/assets/docs/manifest.json
*.swp
*.swo
karma
.cljs_rhino_repl
.repl-1.7.28
TESTS*
out
.#*
.DS_Store
/.dirac-chrome-profile
.idea/
frontend.iml
