#contact {

  .hero-title {
    margin-bottom: 0;
  }

  .contact {
    padding: 0 10px;
    text-align: center;

    .logo {
      height: 60px;
      margin-bottom: 40px;
    }

    .header, .value {
      font-size: 120%;
    }
  }

  .map {
    height: 320px;
    width: 600px;
    margin: 0 auto;
    display: block;
    border: none
  }

  .contact-us {
    border-radius: 1.5em;
    text-align: center;

    .form-header {
      margin-bottom: 50px;
    }

    .form-control {
      height: 3em;
      padding: calc(~'1em - 1px');
      line-height: 1em;
      border-radius: 1.5em;
      box-shadow: none;
      transition: height 0.5s;
    }

    input, textarea {
      &:invalid {
        border-color: @redLight;
      }
    }

    .message {
      resize: none;
      &:valid, &:focus {
        height: 13em;
      }
    }

    .btn {
      margin: 50px auto 0 auto;
    }
  }
}
