.background {
  position: absolute;
}

.background.language {
  height: 200px;

  &.rails-1 {
    height: 200px;
    bottom: -85px;
    left: 10%;
  }

  &.clojure-1 {
    bottom: -120px;
    right: 50px;
  }

  &.java-1 {
    top: -100px;
    right: 20%;
  }

  &.php-1 {
    bottom: -115px;
    left: 50%;
  }

  &.python-1 {
    top: 30%;
    left: -100px;
  }

  &.ruby-1 {
    top: -100px;
    left: 100px;
  }

  &.javascript-1 {
    top: -100px;
    right: -110px;
  }

  &.node-1 {
    top: -170px;
    right: 40%;
  }
}

.outer-section-condensed {

  .background.language {

    &.java-1 {
      top: -150px;
    }

    &.python-1 {
      left: -150px;
      top: 15%;
    }
  }
}
