
.background.language {
  position: absolute;
  height: 200px;

  &.rails-2 {
    // height: 10%;
    height: 200px;
    bottom: -85px;
    left: 0;
  }

  &.clojure-2 {
    bottom: -140px;
    right: -100px;
  }

  &.java-2 {
    top: -170px;
    right: 0;
  }

  &.php-2 {
    bottom: -130px;
    left: 60%;
  }
}
