// Bootstrap
// -------------------------
@import "bootstrap-variables.less";
@import "../shared/bootstrap-files.less";

// Image path helper
// -------------------------
@imgPath: "../../img";

// Navbar
// -------------------------
.navbar {
  background: #134374;

  .container {
    height: 50px;
  }
}

.navbar-inner {
  margin-top: 4px;

  .navbar-inverse & {
    background-color: #4e7297;
    background-image: url("@{imgPath}/navbar-texture.png");
    background-position-y: 1px;
    border-bottom: 1px solid #214062;
    border-top: 1px solid #0d2e50;
  }
}

html { height: 100%; }
body {
  padding: 0;
  margin: 0;
}

// Legacy imports
// -------------------------
@import "../shared/grid";
@import "../shared/blocks/header";
@import "../shared/blocks/footer";
@import "../shared/blocks/title";
@import "../shared/blocks/flash";
@import "../shared/blocks/wrap";
@import "../shared/blocks/content";
@import "../shared/syntax/solarized_light";
@import "home/teaser";
@import "home/features";
@import "home/testimonials";
@import "home/power";

@import "about/team";
@import "about/contact";
@import "privacy/privacy";
@import "jobs/jobs";
@import "docs/article";
@import "docs/categories";
@import "docs/sidebar";
@import "docs/related";
@import "error/error";
@import "../shared/functions";
@import "../inner/billing";
