//
// CircleCi branding
// --------------------------------------------------

// Brand Colors

@circleBlue:        #084963;
@circleBlueDark:    #04394e;
@circleBlueLight:   #9ec5d4;
@circleFont:        #646464;
@circleAccent:      #d34913;
@circleAccentText:  #fed8c9;

// Typography

@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");

.outer {

  p, li {
    color: @circleFont;
  }

  strong {
    color: #333;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 29px;
  }

  &.landing h2, &.landing h2 ~ h3, &.security h2, &.privacy h2, &.about h2, &.pricing h2 {
    text-align: center;
  }

  .content {
    margin-bottom: 50px;
  }

  form {
    margin: 20px 0 0 0;
  }

  input[type=text], input[type=email] {
    height: 30px;
  }

  input[type=text], input[type=email], textarea {
    margin-bottom: 20px;
    padding: 4px 10px;
    background-color: lighten(@grayLighter, 3%);
    border: none;
    resize: none;
    box-shadow: none;
  }

  label {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: @gray;
  }

  button {
    .border-radius(3px);
  }

  .btn {
    line-height: 30px;
  }

  .btn, button {
    border: none;
    height: 30px;
    text-shadow: none;
    background: #084963;
    color: #6a93a3;
  }

  .btn:hover, .btn:focus, button:hover {
    background: lighten(#084963, 5%);
    color: white;
  }

  .btn-primary, button.btn-primary {
    background: @circleAccent;
    color: @circleAccentText;

    i {
      display: inline-block;
      top: 2px;
      position: relative;
      margin-right: 7px;
    }
  }

  .btn-primary:hover, .btn-primary:active {
    background: lighten(@circleAccent, 5%);
  }

  h2 {
    margin: 30px 0;
  }

  @import "shared/header.less";
  @import "shared/footer.less";
  @import "error/error.less";
  @import "page.less";
  @import "contact/contact.less";
  @import "about/about.less";
  @import "docs/docs.less";
  @import "jobs/jobs.less";
  @import "blog/blog.less";
  @import "pricing/pricing.less";
  @import "privacy/privacy.less";
  @import "privacy/security.less";
  @import "privacy/changelog.less";
}