/*
 *= require 'shared/builds'
 */

.action_header {
   background-repeat: no-repeat;
   padding: 6px 0px 6px 40px;
   margin: 5px 0px 5px 10px;
}

.action_header.success { background-color: #57A957; }
.action_header.failed { background-color: #EE5F5B; }
.action_header.running { background-color: #a0a0ee; }


.action_header.success.contents {
   background-image: image-url("builds/green_minus.png");
}

.action_header.success.contents.minimize {
   background-image: image-url("builds/green_plus.png");
}

.action_header.failed.contents {
   background-image: image-url("builds/red_minus.png");
}

.action_header.failed.contents.minimize {
   background-image: image-url("builds/red_plus.png");
}

.detail.minimize {
   display: none;
}

.time {
   font-size: 14px;
}

.command {
   font-weight: bold;
   font-size: 18px;
}

.output > span.err {
   background-color: #ffdddd;
}

.output > span.out {
   background-color: #ddffdd;
}


dt.key {
   width: 100px;
   float: left;
}

dd.value {
   display: block;
}
