/*
 *= require shared/status
 */


.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
    width: 820px;
}

.help-block {
   padding-bottom: 8px;
}

.larger-notice {
   font-size: 24px;
   line-height: 30px;
}


$infocolor: #FDF5D9;
$inforadius: 10px;
p.infoboxtext {
   background: $infocolor;
   -webkit-border-radius: $inforadius;
   -moz-border-radius: $inforadius;
   border-radius: $inforadius;
   margin: 20px 0 0 40px;
   width: 300px;
   padding: 10px;
}

p.short {
   height: 145px;
}

p.long {
   height: 200px;
}

.infobox {
   border: solid 10px transparent;
   border-right-color: $infocolor;
   position: absolute;
   margin: 0 0 0 20px;
}

.infobox.short {
   margin-top: -90px;
}

.infobox.long {
   margin-top: -145px;
}


span.major {
   font-size: 16px;
}

span.minor {
   font-size: 12px;
}

// Trees and lists
ul.tree, ul.tree ul {
   list-style-type: none;
//   background: image-url("projects/vline.png") repeat-y;
   margin: 0;
   padding: 0;
}

ul.tree ul {
   margin-left: 10px;
}

ul.tree li {
   padding: 0 12px;
   line-height: 20px;
   background: image-url("projects/node.png") no-repeat;
   color: #369;
   font-weight: bold;
   margin-left: 10px;
   font-size: 14px;
}

ul.tree li.last {
   background: image-url("projects/lastnode.png") no-repeat;
}

a#menutitle {
   font-size: 18px;
   font-weight: bold;
}

.massive {
   font-size: 72px;
   line-height: 72px;
}


.lower {
   padding-top: 100px;
}

.highlight {
   font-weight: bold;
   font-size: 18px;
}

// Put the URL closer to the heading
h1.less-padding {
   margin-bottom: 0px;
}

.more-padding {
   padding-bottom: 20px;
}

.indent-slightly {
   padding-left: 15px;
}

.larger {
   font-size: 18px;
}
