.hidden {
    display: none;
}

.subdued {
    color: #ccc;
    background: #eee;
}

.highlighted {
    background: #ff0;
}

.show_cb {
    padding-top: 10px;
}
.show_cb label {
    float: none;
    font-weight: bold;
}