.hidden {
    display: none;
}

.subdued {
    color: #ccc;
    background: #eee;
}

.highlighted {
    background: #ff0;
}

.show_cb label {
    float: none;
    padding-top: 12px;
    border-top: 12px;
    vert-align: center;
}