ul.contact > li {
  list-style-type: none;
}

ul.contact {
  padding-top: 10px;
}

td.build_column a {
   color: white;
}

td.build_column {
   text-align: right;
}

.content {
   padding-left: 60px;
}