#settings-api {
  table {
    .skin-table();
  }
  .revoke-token {
    i {
      margin-right: 4px;
      font-size: @fontSizeLarge;
      vertical-align: text-bottom;
      color: @red;
    }
    span {
      cursor: pointer;
    }
  }
}
