#settings-beta-program {

  input.btn {
    .circleButton(@grayLightest, @grayLighter);
    margin: 20px 0 10px;
  }

  h2 .badge-enrolled {
    margin: 0 0 10px 5px;
    width: 13px;
  }

  h3 .badge-enrolled {
    margin: 0 0 2px 5px;
    width: 13px;
  }

  h4 {
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
  }
}
