.technologies .tech_list {
list-style: none;
}
.technologies .tech_list {
width: auto;
display: block;
position: relative;
margin: 0 auto;
text-align: center;
}
.technologies .tech_list li {
display: inline;
height: 100px;
width: 50px;
text-align: center;
display:inline-block;
}
.technologies .tech_list li img {
display: block;
width: 50px;
}
.technologies .tech_list li span {
display: block;
text-align: center;
bottom: 0;
position:absolute;
}
.technologies .tech_list li span {
display: none;
}
.technologies h5, .technologies h4 {
display: block;
clear: both;
text-align: center;
}
.technologies #title {
background: transparent;
}