// Title --------------------------------------------------------------------

#title {
  @titleHeight: 84px;
  background: rgba(0, 0, 0, 0.02);

  h1, h1 > a {
    .container;
    color: #333;
    font-size: 32px;
    line-height: @titleHeight;
    text-decoration: none;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    padding: 20px 0 20px 0;
    width: 100%;
  }

}
