.icon-aws { background-image: url(../../public/icons/img/aws.png); background-repeat: no-repeat; }

.icon-circle { background-image: url(../../public/icons/img/circle.png); background-repeat: no-repeat; }

.icon-github { background-image: url(../../public/icons/img/github.png); background-repeat: no-repeat; }

.icon-twitter { background-image: url(../../public/icons/img/twitter.png); background-repeat: no-repeat; }