// Imports -------------------------------------------------------------------
@import "../shared/normalize";
@import "../shared/mixins";
@import "../shared/animations/wiggle";
@import "../shared/fonts/myriad";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "susy";

// Layout Grid ---------------------------------------------------------------
$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;
$side-gutter-width      : $gutter-width;
$show-grid-backgrounds  : true;

// Typographic Grid ----------------------------------------------------------
body {
  font: 16px/1.625em sans-serif;
}

h1 {
  @include font-calc(86, 104);
  @include vert-calc(1, 2, 86);
}

h2 {
  @include font-calc(49, 52);
  @include vert-calc(2, 2, 49);
}

h3 {
  @include font-calc(28, 52);
  @include vert-calc(1, 0, 28);
}

p {
  @include vert-calc(2, 2);
}

small, aside {
  @include font-calc(9, 14);
}
