// Teaser ------------------------------------------------------------------

// Full width wrapper
#features {
  position: relative;
  z-index: 1;
  background: url("@{imgPath}/outer/bg_pattern.png");

  // Header
  & > header {
    .container;
    padding: 10px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,1);

    h2 {
      font-size: 42px;
      text-align: center;
      color: @blueDarker;
    }

    p {

    }
  } // /Header

  & > section {
    .container;
    padding-top: 35px;
    padding-bottom: 45px;
  }
}

// Sections
.tour {
  @ib-height: 160px;

  width: 280px;
  min-height: @ib-height;
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 0 white;
  zoom: 1;
  *display: inline;
  _height: @ib-height;

  i {
    position: absolute;
    font-size: 35px;
    top: -4px;
    left: -25px;
    color: #2F5F9E;
    z-index: 1;

    .icon-beaker    { left: -23px; }
    .icon-bolt      { left: -19px; }
    .icon-bullhorn  { left: -24px; }
  }

  // Tour text
  figcaption {
    padding-left: 20px;
    position: relative;
    z-index: 10;

    h2 {
      color: @blueDark;
      margin: 0;
    }

    p {
      margin: 0.75em 0;
      font-size: 14px;
      line-height: 20px;
      color: #444;
    }

  } // /Tour text
} // /Tour
