// Teaser ------------------------------------------------------------------

// Full width wrapper
#features {
  position: relative;
  z-index: 1;
  background: url("@{imgPath}/outer/bg_pattern.png");

  // Header
  & > header {
    .container;
    padding: 20px 0 30px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,1);

    h2 {
      font-size: 42px;
      text-align: center;
      color: @blueDarker;
    }

    p {

    }
  } // /Header

  & > section {
  }
}

// Sections
.tour {

  // Tour text
  figcaption {

    h2 {
    }

    h3 {
    }

    li {
    }

  } // /Tour text
} // /Tour
