#hero {
  @subheadColor: #747474;
  padding-bottom: 30px;

  h1 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 82px;
    font-weight: 600;
    line-height: 92px;
    text-align: center;
    em {
      color: @circleBlueLight;
    }
  }

  h3 {
    text-align: center;
    font-size: 22px;
    color: @subheadColor;
    margin: 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
  }

  .how {
    margin-top: 5em;
    .span4 {
      text-align: center;
    }
  }

  .hero-unit-cta {
    margin-top: 5em;
    padding-top: 40px;
    border-top: dotted 1px @circleFont;

    .ctabox {
      text-align: center;
      p {
        color: @circleBlueLight;
      }
      .btn {
        margin: 10px 0;
      }
    }
  }
}
