.landing {

  h2 {
    margin: 1em 0;
    font-size: 40px;
  }

  h2, h3 {
    color: #555;
    line-height: 2em;
    margin: 0;
  }

  .container {
    padding-bottom: 40px;
  }

  .ctabox {
    text-align: center;
  }

  @import "hero.less";
  @import "customers.less";

//  @import "features.less";
  @import "features_old.less";
  @import "get_started.less";
  @import "additional.less";
  @import "technology.less";
}