.landing {

  h2 {
    margin: 80px 0 50px;
    font-size: 40px;
  }

  h2, h3 {
    color: #555;
  }

  @import "header.less";
  @import "customers.less";
  @import "features.less";
  @import "additional.less";
  @import "technology.less";
}