&.landing h2 {
  margin-bottom: 0;
}

&.landing h2 ~ h3 {
  margin: 0 0 20px 0;
  font-weight: normal;
  color: lighten(@circleFont, 10%);
}

&.landing header h1, &.landing header h3 {
  text-align: center;
}


@import "home/customers.less";
@import "home/features.less";
@import "home/additional.less";
@import "home/technology.less";
