// Power ------------------------------------------------------------------

// Full width wrapper
#power {
  background-color: #3a3a3a;
  #gradient > .vertical(rgb(58, 58, 58), rgb(36, 36, 36));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3a3a3a', EndColorStr='#242424');
  text-align: center;
  z-index: 500;
  position: relative;

  & > section {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
    padding: 20px 0 25px;
  }

  h2 {
    font-size: 34px;
    margin: 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
  }

  // Authorize button big
  .authGithub { margin: 30px auto 0; }

  ul {
    margin: 30px auto 0;
  }

  li {
    display: inline-block;
    *display: inline;
    padding-left: 42px;
    margin-right: 42px;
    font-family: "Myriad", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    background: url("@{imgPath}/outer/home/home_sprite.png") no-repeat -400px -146px;
    zoom: 1;
  }

  p {
    width: 960px;
    margin: 0 auto;
  }

  // Authorize button big
  .authGithub {
    &.disabled {
      background-position: -13px -28px;
      cursor: not-allowed;
    }

    &.disabled:active { bottom: 0; }
  }
} // /Power
