// Teaser ------------------------------------------------------------------

// Full width wrapper
#teaser {
  background: url("@{imgPath}/outer/home/teaser_bg_pattern.png");
  // .box-shadow( inset 0 8px 25px -6px rgba(0,0,0,.5) );
  // #gradient > .vertical(rgb(11, 90, 175), rgb(8, 55, 107));

  // Content container
  & > section {
    .container;
    position: relative;
    height: 518px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  // Screenshot
  .screenshot {
    .ir;
    z-index: 1;
    width: 772px;
    height: 431px;
    position: absolute;
    bottom: 0;
    left: 21em;
    background: url("@{imgPath}/outer/home/teaser_ss.png") no-repeat;
  }

  // Text layout
  h2, h3, p, form {
    .column(5.5);
    .pull(6.5);
    margin-left: 0;
  }

  // Typography
  h2 {
    font-size: 36px;
    margin-top: 88px;
  }

  h3 {
    margin-top: 1em;
    font: 400 20px/30px "Open Sans", sans-serif;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 20px;
  }

  // Authorize button big
  .authGithub {
    .ir;
    background: url("@{imgPath}/outer/home/home_sprite.png") no-repeat -16px -862px;
    .size(84px,311px);
    position: relative;
    top: 31px;
    left: 20px;

    &:hover, &:focus {
      background-position: -16px -968px;
    }

    &:active {
      background-position: -16px -1074px;
      top: 34px;
    }
  }

  input.signup:focus {
    border: 1px solid #152942 !important;
  }

  // z-index > screenshot's, prevent clickability occlusion
  button {
    position: relative;
    z-index: 5;
  }
}
