// Teaser ------------------------------------------------------------------

// Full width wrapper
#teaser {
  background: url("@{imgPath}/outer/home/teaser_bg_pattern.png");
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15), inset 0px -5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15), inset 0px -5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15), inset 0px -5px 5px rgba(0, 0, 0, 0.15);

  // Content container
  & > section {
    .container;
    position: relative;
    height: 477px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.55);
  }

  // Screenshot
  .screenshot {
    .ir;
    z-index: 1;
    width: 772px;
    height: 431px;
    position: absolute;
    bottom: 2.5em;
    left: 31em;
    background: url("@{imgPath}/outer/home/teaser_ss.png") no-repeat;
  }

  // Text layout
  h2, h3, p, form {
    .column(5.5);
    .pull(6.5);
    margin-left: 0;
  }

  // Typography
  h2 {
    font-size: 36px;
    margin-top: 48px;
  }

  h3 {
    margin-top: 1em;
    font: 400 18px/30px "Open Sans", sans-serif;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 20px;
  }

  .authGithub {
    top: 31px;
    left: 32px;

    &:active { top: 34px; }
  }

  // Privacy policy
  .footnote {
    width: 280px;
    margin: 50px 0 0 45px;
    font-size: 13px;
    text-align: center;

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
    }

    a {
      border-bottom: dotted 1px #7F8D9F;
      color: #CCDFF5;

      &:hover {
        color: white;
        border-color: white;
      }
    }
  }

  input.signup:focus {
    border: 1px solid #152942 !important;
  }

  // z-index > screenshot's, prevent clickability occlusion
  button {
    position: relative;
    z-index: 5;
  }
}
