.technology {
  min-height: 530px;
  .container {
    padding-bottom: 0px;
  }

  #tech {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }

  .nav-tabs {
    border-bottom: 20px;

    a {
      background: white;
    }

    .active > a, a:hover {
      background: darken(@circleBlueLight, 20%);
      color: white;
      border-radius: 3px;
    }
  }
}
