.technology {
  .nav-tabs {
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    a {
      background: white;
    }

    .active > a, a:hover {
      background: darken(@circleBlueLight, 20%);
      color: white;
      border-radius: 3px;
    }
  }

  .tab-content {
    padding-bottom: 40px;
  }
}
