// Testimonials -------------------------------------------------------------

// Full width wrapper
.testimonial-header {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: @blue;
  text-align: center;
  margin: 0.75em 0;
}

#testimonials {
  background: @blueLighter;
  border: 1px solid @blueLight;
  border-left: none;
  border-right: none;

  // Content container
  & > section {
    .container;
    height: 80px;

    .customer {
      .column(6);
      .ir;
    }

    a {
      display: block;
      position: relative;
      background: url("@{imgPath}/outer/home/home_sprite.png") no-repeat;

      span {
        content: '';
        display: block;
        background: url("@{imgPath}/outer/home/home_sprite.png") no-repeat;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        opacity: 0
      }
    }

    a:hover span { opacity: 1 }
  }

  // Logos
  .zencoder {
    background-position: 0 -503px;
    margin-top: 20px;
    margin-left: 140px;
    width: 249px;
    height: 35px;

    span {
      background-position: 0 -443px;
      width: 249px;
      height: 35px;
    }
  }

  .storenvy {
    background-position: -262px -506px;
    margin-top: 15px;
    margin-left: 80px;
    width: 177px;
    height: 59px;

    span {
      background-position: -262px -446px;
      width: 177px;
      height: 59px;
    }
  }
}
