// Font from Font Squirrel (http://www.fontsquirrel.com)

/* Normal */
@font-face {
    font-family: 'Myriad';
    src: font-url('myriad/myriadpro-semibold-webfont.eot');
    src: font-url('myriad/myriadpro-normal-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('myriad/myriadpro-normal-webfont.woff') format('woff'),
         font-url('myriad/myriadpro-normal-webfont.ttf') format('truetype'),
         font-url('myriad/myriadpro-normal-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Semibold */
@font-face {
    font-family: 'Myriad Semi';
    src: font-url('myriad/myriadpro-semibold-webfont.eot');
    src: font-url('myriad/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('myriad/myriadpro-semibold-webfont.woff') format('woff'),
         font-url('myriad/myriadpro-semibold-webfont.ttf') format('truetype'),
         font-url('myriad/myriadpro-semibold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: 'Myriad';
    src: font-url('myriad/myriadpro-bold-webfont.eot');
    src: font-url('myriad/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('myriad/myriadpro-bold-webfont.woff') format('woff'),
         font-url('myriad/myriadpro-bold-webfont.ttf') format('truetype'),
         font-url('myriad/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
