@import "../../bootstrap/variables.less";
@import "../../../../components/bootstrap/less/mixins/grid.less";

#features {

  .jumbotron {
    overflow: hidden;
  }

  .feature-row {
    .make-row();

    padding-top: 70px;
  }

  .row + .feature-row {
    padding-top: 40px;
  }

  .feature {
    .make-sm-column(5);
    .text-center;

    &:first-child {
      .make-sm-column-offset(1);
    }
  }
}

#integration {

  .jumbotron {
    overflow: hidden;
  }

  .feature-row {
    .make-row();

    padding-top: 70px;
  }

  .row + .feature-row {
    padding-top: 40px;
  }

  .feature {
    .make-sm-column(5);

    &:first-child {
      .make-sm-column-offset(1);
    }
  }
}
