@import "../../bootstrap/variables.less";
@import "../../../../components/bootstrap/less/mixins/grid.less";

#features {

  .jumbotron {
    overflow: hidden;
  }

  .feature-row {
    .make-row();

    padding-top: 70px;
  }

  .row + .feature-row {
    padding-top: 40px;
  }

  .feature {
    .make-sm-column(5);
    .text-center;

    &:first-child {
      .make-sm-column-offset(1);
    }
  }
}

#integration {

  .jumbotron {
    overflow: hidden;
  }

  .feature-row {
    .make-row();

    padding-top: 70px;
  }

  .row + .feature-row {
    padding-top: 40px;
  }

  .feature {
    .make-sm-column(5);

    &:first-child {
      .make-sm-column-offset(1);
    }

    &.video {
      > a.play {
        position: relative;

        display: block;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;

        border-radius: 50%;
        overflow: hidden;

        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          display: block;
          width: 100%;
          height: 100%;

          background-image: url('@{imgPath}/outer/video/video-play-1.svg');
          background-size: 50px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: rgba(0,0,0,0.3);
          transition: background-size 50ms;

          content: ' ';
        }

        &:active:before {
          background-size: 47px;
        }

        > img.thumb {
          width: 500px;
        }
      }
    }
  }
}
