#footer {
/*** Reset all elements ******************************************************/
/*** The following rule sets are used to resolve browser inconsistencies in displaying various html elements. They remove some default stylings applied to these elements so that they look the same in all browsers. ***/

html, body, div, h1, h5, p, a, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	line-height: 1;
	color: black;
}

img {
	vertical-align: bottom;
}

ul {
  list-style: none;
}


/*************************************************************************/
/*** General rule sets (apply to multiple elements on different pages) ***/

body {
	line-height: 20px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
	line-height: 40px;
	font-family: "PT Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 40px;
	font-weight: normal;
}


h5 {
	font-size: 15px;
	font-weight: normal;
}

p {
	margin: 0 0 20px 0;
	font-size: 13px;
}

a {
	color: #373737;
}


.box_wide {
	float: left;
	width: 460px;
}


.box_small {
	float: left;
	width: 220px;
}


.separator_r {
	margin: 0 20px 0 0;
}

.clear {
	clear: both;
}


/***************************************************/
/*** Homepage content wrap and content rule sets ***/


#notthefooter {
  min-height: 100%;
}

html, body {
  height: 100%;
}

/****************************************/
/*** Footer wrap and footer rule sets ***/

/* This is a div sitting just above the footer, which is the
 * same size as the footer. The footer uses a negative margin
 * to overlap this div. This avoids a problem with a shrunken
 * browser, where the footer might move over the contents of
 * the page. */
#notthefooterclear {
  height: 100px;
}


#footer_wrap {
	border-top: 2px solid #D8D8D8;
	color: #5F5F5F;
	background: #EBEBEB;
  height: 70px;

  margin: -72px 0 0 0;
}

#footer {
  width: 940px;
  padding: 20px 0 0px 0;
  margin: 0 auto;
  font-size: 13px;
}

#copyright {
	margin: 0;
	font-size: 11px;
	color: #939393;
}


#social_info ul li {
	margin: 0 0 10px 0;
}

#twitter {
	padding: 0 0 0 25px;
	background: url("icon_social_01.png") no-repeat top left;
}

	#twitter a {
		color: #2B95C8;
		text-decoration: none;
	}

#contact_info h5 {
	margin: 0 0 10px 0;
}


h5 {
	color: #2B95C8;
}

body {
  margin:0px 0 0px 0;
  padding:0;
  font-size:small;
  font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
}
img,a img {
  border:none;
  -ms-interpolation-mode:bicubic;
}
.info {
  display:inline-block;
  clear:both;
  margin:0 0 5px 0;
  padding:0 1% 1.1em 1%;
  border-bottom:1px dotted #ccc;
}
.info[class] {
  display:block;
}
.clear {
  clear:both !important;
}

}