.container
  .row
    .alert-message.block-message.notice.span8.offset3
      Your builds should now be working, and please alert us if this is not the case. You can message us directly via the white envelope below.
      As always, please feel free to contact us directly:
      %ul
        %li
          = mail_to "paul@circleci.com"
        %li
          +1 415 341 2432

  %table#projects
    %thead
      %tr
        %th Project
        %th Github
        %th Status
    %tbody
      - @projects.each do |project|
        %tr
          %td
            = link_to(project.github_project_name, github_project_path(project))
          %td
            = link_to project.vcs_url do
              = project.vcs_url
          %td
            Available
