#footer.bottombar
  .row
    .span4.offset2
      %p#copyright Copyright &copy; 2011 Circle
    .offset3.span4#twitter
      = link_to "follow @circleci", "http://twitter.com/circleci"
    .offset0.span4#contact_info
      questions@circleci.com
