.product-page.mobile {
  .jumbotron {
    // Phone image sizes are scaled by width.
    @iphone-width: 320px;
    @htc-width: 260px;

    background-image: url('@{imgPath}/outer/mobile/iphone.svg'), url('@{imgPath}/outer/mobile/htc.svg');
    background-repeat: no-repeat;
    background-size: @iphone-width auto, @htc-width auto;

    // iPhone is 50px left of HTC; HTC is one pixel offscreen to the right to ensure full bleed.
    background-position: right (@htc-width + 50px - 1px) top, right -1px top;

    padding: 70px;
  }

  .feature {
    .make-sm-column(4);

    > h3, p {
      .text-center;
    }
  }

  .overview {
    .make-md-column(10);
    .make-md-column-offset(1);
    .text-center;

    // Required because Bootstrap's clearfixing ::before element stops the margin from collapsing.
    > h2:first-child {
      margin-top: 0;
    }
  }

  .how-it-works {
    .make-row;

    > .explanation {
      .make-sm-column(7);
    }

    > .diagram {
      .make-sm-column(5);

      svg.stories-procedure {
        // TODO: This negative margin trims off whitespace on the sides of the
        //       SVG, but really we should trim the SVG itself.
        margin-left: -100px;
        margin-right: -100px;
        width: ~"calc(100% + 200px)";
        height: 100%;

        // Bump the font size to compensate for scaling.
        p {
          font-size: 20px;
        }
      }
    }
  }

  ol.steps {
    @circle-radius: 30px;
    @diagram-color: @grayDark;
    @line: 1px dashed @diagram-color;
    @background-color: @white;

    .flexy(top, space-between);

    position: relative;


    @margin-top: 40px;
    // The actual margin-top is an additional @circle-radius, to position the
    // border-top along the axis of the circles.
    margin-top: @margin-top + @circle-radius;
    margin-bottom: -@circle-radius;
    padding: 0;

    list-style: none;
    border-top: @line;

    counter-reset: steps-list;

    > li {
      counter-increment: steps-list;

      position: relative;
      top: -@circle-radius;
      z-index: 0;

      width: 160px;

      text-align: center;

      &:before {
        content: counter(steps-list);

        display: block;
        width: @circle-radius * 2;
        height: @circle-radius * 2;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;

        color: @diagram-color;
        line-height: @circle-radius * 2;

        border: @line;
        border-radius: 50%;
        background: @background-color;
      }

      &:first-child:after, &:last-child:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        width: 50%;
        background: @background-color;
        z-index: -1;
      }

      &:first-child:after { left: 0; }
      &:last-child:after { right: 0; }
    }
  }

  .wide-cta-banner:after {
    background-image: url('@{imgPath}/outer/mobile/footer-htc.svg');
    background-repeat: no-repeat;
    background-size: 225px auto;
    // -1px to ensure bleed.
    background-position: left -1px bottom;
  }

  &.overview {
    .jumbotron {
      padding-top: 110px;
    }
  }

  &.platform {
    .feature {
      .make-sm-column(6);
    }

    .overview {
      .make-md-column(8);
      .make-md-column-offset(2);
      margin-bottom: 105px;

      a.documentation {
        margin: auto;
        margin-top: 40px;
        border: 1px @green solid;
      }
    }

    &.ios {
      .jumbotron {
        background-image: url('@{imgPath}/outer/mobile/apple.svg');
        background-repeat: no-repeat;
        background-position: right 70px bottom;
      }
    }

    &.android {
      .jumbotron {
        background-image: url('@{imgPath}/outer/mobile/android.svg');
        background-repeat: no-repeat;
        background-position: right 70px bottom;
        background-size: 400px auto;

        > p {
          // Make extra room for the android.
          padding-right: 320px;
        }
      }
    }
  }
}
