@import "../bootstrap/variables.less";
@import "../../../components/bootstrap/less/mixins/grid.less";

.product-page {
  .jumbotron {
    overflow: hidden;
  }

  .fact {
    padding: 0 10px;
    text-align: center;

    .header, .caption {
      margin: 0;
      color: @gray-dark;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2em;
    }

    .value {
      margin: 0;
      color: @headings-color;
      font-size: 64px;
      font-weight: 300;
    }
  }

  .feature-row {
    .make-row();
  }

  .row + .feature-row {
    padding-top: 40px;
  }

  .feature-row + .feature-row {
    padding-top: 70px;
  }

  .feature {
    .make-sm-column(6);

    > h4 {
      font-weight: 400;
    }
  }

  .docker-diagram {
    @diagram-icon-size: 65px;
    @diagram-icon-count: 5;
    @diagram-active-indicator-line-height: 80px;
    @diagram-active-indicator-size: 17px;

    padding-top: 29px;

    .diagram-section {
      display: inline-block;
      position: relative;
      height: @diagram-icon-size;
      width: ~"calc(100% / @{diagram-icon-count})";

      &:first-child {

        .diagram-icon {
          margin-left: ~"calc(50% - (@{diagram-icon-size} / 2))";
        }
      }
    }

    .diagram-content {
      height: calc(@diagram-icon-size + @diagram-active-indicator-size + @diagram-active-indicator-line-height);
    }

    .diagram-annotation {
      .make-row;
    }

    .diagram-icon {
      display: inline-block;
      width: @diagram-icon-size;
      height: @diagram-icon-size;
    }

    .diagram-arrow {
      margin-top: 27px;
      height: 21px;
    }

    .connector-line {
      width: ~"calc(50% - (@{diagram-icon-size} / 2))";
      display: inline-block;
      border-top: 1px solid #ddd;

      &.active {
        border-top: 1px solid @brand-success;
      }
    }

    .active-indicator-line {
      height: @diagram-active-indicator-line-height;
      position: absolute;
      display: block;
      left: 50%;
      top: @diagram-icon-size;
      border-right: 1px solid @brand-success;
    }

    .active-indicator-dot {
      height: @diagram-active-indicator-size;
      left: ~"calc(50% - (@{diagram-active-indicator-size} / 2))";
      top: @diagram-active-indicator-line-height + @diagram-icon-size;
      position: absolute;
    }
  }

  .docker-cta {
    position: relative;
    .make-row;

    .background {
      bottom: 0;
      right: 0;
    }

    > .cta-text {
      .make-md-column(12);
      .make-lg-column(6);
      .make-lg-column-offset(3);
    }

    > .cta-btn {
      .make-md-column(12);
      .make-lg-column(3);

      @media (max-width: @screen-md-max) {
        .text-center;
      }
    }
  }

  .background.docker-banner {
    left: 0;
    bottom: 0;
    height: 100%;

    @media (max-width: @screen-md-max) {
      opacity: 0.03;
    }
  }

}

.header-icon {
  .center-block;
  width: 65px;
  margin-bottom: 20px;
}
