.jobs {
  .map {
    width: 100%;
    border: none;
    height: 350px;

    @media (max-width: @screen-xs-max) {
      height: 200px;
    }
  }

  .jobs-where {
    border-top: solid 1px @panel-default-border;

    h2 {
      @media (min-width: @screen-sm-min) {
        position: absolute;
        display: inline-block;
        top: -40px;
        left: 30%;
        padding: 0 5px;
        background: @body-bg;
      }
    }

  }

  .jobs-ui-example {
    padding-top: 70px;
  }

  .example-shot {
    overflow: hidden;

    > img {
      height: 285px;
    }
  }


  .jobs-intro-wrapper {
    padding-top: 70px;
    border-top: solid 1px @panel-default-border;
  }

  .map-wrapper {
    height: 350px;
    padding-left: 0;

    @media (max-width: @screen-xs-max) {
        height: 200px;
        padding: 0;
    }
  }

  .job-reasons {
      .row {
          padding-top: 40px;
      }
  }

  .job-cta {
      h3 {
          margin-bottom: 0;
      }

      .btn-cta {
          margin-top: 40px;
      }
  }
}
