.jobs {
  .map {
    width: 100%;
    border: none;
    height: 350px;

    @media (max-width: @screen-xs-max) {
      height: 100px;
    }
  }

  .jobs-where {
    border-top: solid 1px @panel-default-border;

    h2 {
      @media (min-width: @screen-sm-min) {
        position: absolute;
        display: inline-block;
        top: -18px;
        left: 30%;
        padding: 0 5px;
        background: @body-bg;
      }
    }

  }

  .where-text {
    padding-right: @grid-gutter-width;

    @media (max-width: @screen-xs-max) {
      padding-left: @grid-gutter-width;
    }
  }

  .jobs-ui-example {
    padding-top: 70px;
  }

  .example-shot {
    overflow: hidden;

    > img {
      height: 285px;
    }
  }

  .jobs-intro {
    padding-left: @grid-gutter-width;

    @media (max-width: @screen-xs-max) {
      padding-right: @grid-gutter-width;
    }
  }

  .jobs-intro-wrapper {
    padding-top: 70px;
    border-top: solid 1px @panel-default-border;
  }

  .map-wrapper {
    height: 350px;
  }
}
