%tr{ :class => (build.failed? ? "fail" : "success") }
  %td
    = build.build_num

  %td
    = revision_link(build.vcs_url, build.vcs_revision)

  -# TODO: need the commit log and the author

  %td
    = as_commit_time build.start_time

  %td
    = as_length_of_build build.start_time, build.stop_time


-#= build.to_json
