.container
  .content
    %h4
      = @project.name
    %h6
      = @project.vcs_url

    -#    = render :partial => 'running'

    %table#recent-jobs
      %thead
        %tr
          %th #
          %th Success
          %th Revision
          -#          %th Author
          %th Started at
          %th Time taken
      %tbody
        = render :collection => @recent_builds, :partial => 'build'