.container
  .content
    = trigger_project_button(@project)
    -#    = render :partial => 'running'

    %table#recent-jobs
      %thead
        %tr
          %th #
          %th Success
          %th Revision
          -#          %th Author
          %th Started at
          %th Time taken
      %tbody
        = render :collection => @recent_builds, :partial => 'build'