.container
  .content
    = render :partial => 'running'

    %table#recent-jobs
      %thead
        %tr
          %th #
          %th Revision
          -#          %th Author
          %th Started
          %th Time taken
          %th Status
      %tbody
        = render :collection => @project.recent_builds(30), :partial => 'build', :locals => {:project => @project}