.container-fluid
  = render :partial => 'running'


  - @builds = @project.recent_builds(30)
  = render :partial => 'shared/builds',
                       :locals => { :mention_project => false, :pagination => false }
