%p
  Commit #{@build.vcs_revision} has passed all its tests!
  %br
    = render "full_build_report"

  %p
    These commands were run, and were all successful:
    = render "successful_commands"

  %p
    = render "full_build_report"
