.flexBug(@arg) {
  -webkit-box-flex: @arg;
          box-flex: @arg;
}
.flex(@grow: 0, @shrink: 1, @basis: auto) {
  .flexBug(@grow);
  -webkit-flex: @grow @shrink @basis;
          flex: @grow @shrink @basis;
}

.displayFlex {
  .poly() {
    display: -webkit-box;
    display:         box;
  }
  .poly();
  display: -webkit-flex;
  display:         flex;
}


.flexJustBugStart(@arg) when (@arg = flex-start) {
    -webkit-box-pack: start;
            box-pack: start;
}
.flexJustBugEnd(@arg) when (@arg = flex-end) {
    -webkit-box-pack: end;
            box-pack: end;
}
.flexJustBugCenter(@arg) when (@arg = center) {
    -webkit-box-pack: @arg;
            box-pack: @arg;
}
.flexJustBugBetween(@arg) when (@arg = space-between) {
    -webkit-box-pack: justify;
            box-pack: justify;
}
.flexJustBug(@arg) {
  .flexJustBugStart(@arg);
  .flexJustBugEnd(@arg);
  .flexJustBugCenter(@arg);
  .flexJustBugBetween(@arg);
}
.justify-content(@arg) { // flex-start, flex-end, center, space-between, space-around
  .flexJustBug(@arg);
  -webkit-justify-content: @arg;
          justify-content: @arg;
}
//
// flex-direction
// includes polyfill for old flex syntax to fix safari 6.0 bug
//
.flex-direction(@arg) { // row, row-reverse, column, column-reverse
  .poly(@arg) {
    .row(@arg) when (@arg = row) {
         -webkit-box-orient: horizontal;
                 box-orient: horizontal;
    }
    .row-rev(@arg) when (@arg = row-reverse) {
      -webkit-box-direction: reverse;
              box-direction: reverse;
         -webkit-box-orient: horizontal;
                 box-orient: horizontal;
    }
    .col(@arg) when (@arg = column) {
         -webkit-box-orient: vertical;
                 box-orient: vertical;
    }
    .col-rev(@arg) when (@arg = column-reverse) {
      -webkit-box-direction: reverse;
              box-direction: reverse;
         -webkit-box-orient: vertical;
                 box-orient: vertical;
    }
    .row(@arg);
    .row-rev(@arg);
    .col(@arg);
    .col-rev(@arg);
  }
  .poly(@arg);
  -webkit-flex-direction: @arg;
          flex-direction: @arg;
}
//
// align-items
// includes polyfill for old flex syntax to fix safari 6.0 bug
//
.align-items(@arg) {
  .poly(@arg) {
    .start(@arg) when (@arg = flex-start) {
      -webkit-box-align: start;
              box-align: start;
    }
    .end(@arg) when (@arg = flex-end) {
      -webkit-box-align: end;
              box-align: end;
    }
    .else(@arg) when (@arg = center), (@arg = baseline), (@arg = stretch) {
      -webkit-box-align: @arg;
              box-align: @arg;
    }
    .start(@arg);
    .end(@arg);
    .else(@arg);
  }
  .poly(@arg);
  -webkit-align-items: @arg;
          align-items: @arg;
}
