
// Skin Assets
// small visual details, used collectively to make large visual skins

.skinAsset_cleanBox(@color: @whiten) {
  background: @color;
  border-radius: 4px;
  padding: 2em;
  .outlineEmboss(@color);
}
.skinAsset_shadowY(@color: @whiten) {
  @middle: darken(@color,   9.5);
  @border: darken(@color, 11.75);
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0px;
    width: 50%;
  }
  &:after {
    right: -1px;
    box-shadow: -1px 1px @middle,
                -2px 2px @middle,
                -3px 3px @middle,
                -4px 4px @border;
  }
  &:before {
    left: -1px;
    box-shadow: 1px 1px @middle,
                2px 2px @middle,
                3px 3px @middle,
                4px 4px @border;
  }
}

// Complete Skins
// modular visual elements assembled from various skin assets

.skin_cleanBoxShadow(@color: @whiten) {
  .skinAsset_cleanBox(@color);
  .skinAsset_shadowY(@color);
}
