.stickyLabel-shared-base {
  position: relative;
}
.stickyLabel-shared-label {
  padding: 0 3px;
  position: absolute;
  line-height: 1em;
  top: 0;
  left: 0;
  color: @grayLighter;
  white-space: nowrap;
  cursor: text;
  transition: all .2s ease-in-out;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: translate(0, 100%) scale(1, 1);
          transform: translate(0, 100%) scale(1, 1);
}
.stickyLabel-shared-text {
  .box-sizing(border-box);
  .outlineInside(@grayLighter);
  line-height: 2em;
  padding: .5em 1.34em;
  background: transparent;
  resize: none;
}
.stickyLabel-shared-focus {
  .outlineInside(@blueLighter);
}
.stickyLabel-shared-focusLabel {
  color: @blueLighter;
  cursor: default;
}
.stickyLabel-shared-valid {
  outline: none;
}
.stickyLabel-shared-validLabel {
  background: @whiten;
  cursor: default;
  -webkit-transform: translate(0, -50%) scale(.9, .9);
          transform: translate(0, -50%) scale(.9, .9);
}

.stickyLabel {
  > label {
    margin: 0 0 0 1em;
  }
  > input[type="text"] {
    height: 3em;
    width: 100%;
    margin: 0 0 1em 0;
    border-radius: 5em;
    &:focus {
      ~ label {
      }
    }
    &:focus, &:valid {
      ~ label {
      }
    }
  }
}
.stickyLabelTextarea {
  > label {
    margin: 1em 0 0 1em;
  }
  > textarea {
    height: auto;
    width: 100%;
    margin: 1em 0;
    border-radius: .5em;
    &:focus {
      ~ label {
      }
    }
    &:focus, &:valid {
      ~ label {
      }
    }
  }
}