.ns("frontend.components.pages.projects", {
  .ui("page", {
    .flexy();
    margin-top: 15px;

    > .sidebar {
      width: 285px;
      margin-right: 15px;
    }

    > .main {
      flex-grow: 1;

      > .card {
        > .header {
          // Hack to get header border to reach across entire card. Needed until
          // we have a real card component.
          margin: 0 -15px 15px;
          padding: 0 15px 15px 15px;
          border-bottom: 1px solid @grayLighter;

          > .title {
            font-size: @fontSizeLarge;
            line-height: 24px;
          }
        }
      }
    }
  });

  .ui("table", {
    width: 100%;

    // OVERRIDE--ICON-MARGIN
    .octicon, .material-icons {
      margin-left: 0;
    }

    > thead > tr > th {
      font-size: @fontSizeSmall;
      font-weight: bold;
      color: @gray;
    }

    > thead, > tbody {
      > tr {
        border-bottom: 1px solid @grayLighter;
        height: 30px;

        > th, > td {
          padding-left: 10px;
          padding-right: 10px;

          &.right {
            // Does not actually make the column 1px wide, but makes the column the
            // minimal width to contain its contents.
            width: 1px;
            white-space: nowrap;
            text-align: right;
          }
        }
      }
    }

    > tbody > tr:hover {
      background: @whiten;
    }
  });
});
