#setup-project {
  margin-top: 10px;

  ul {
    padding-left: 0;
  }

  .radio,
  .checkbox {
    // override forms.less block formatting
    display: inline-block;
  }

  input[type=radio] {
    display: none;

    &:checked + label {
      background-color: @blueLightest;
      border: solid 1px @blueLight;
    }
  }

  label {
    border: solid 1px @grayLighter;
    border-radius: 3px;
    margin: 5px 10px 0 0;

    cursor: pointer;
    font-weight: normal;
    color: @grayDark;
    line-height: 22px;
  }

  .projects-dropdown {
    select {
      width: 30%;
      max-width: 400px;
    }
  }

  // https://stackoverflow.com/a/30810322
  .hidden-config {
    // Copy to clipboard is easy with visible input.
    // We can't select 'none' or 'hidden' text display.
    // This is a work-around to hide the text area.
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    box-shadow: none;
    outline: none;
    border: none;
    background: transparent;
  }

  @tile-width: 135px;

  .platform-selector {
    .os {
      label {
        height: @button-primary-height;
        padding: 5px 10px;
        width: @tile-width;
      }

    }

    .platform-item {
      display: inline-block;
      vertical-align: top;
      width: 30%; // TODO: Make these guys the same height

      label {
        padding: 15px;
      }

      input[type=radio] {

        &:disabled + label {
          background-color: @grayLightest;
          border: solid 1px @grayLighter;
          cursor: not-allowed;
          color: @gray;
        }
      }
    }
  }

  .new-badge::after {
    background-color: @blueLightest;
    color: @blueDark;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    content: 'NEW';
    font-size: 9px;
    font-weight: bold;
  }

  .languages {
    .language-list {
      label {
        width: @tile-width;
        padding: 5px;

        overflow: hidden;
        white-space: nowrap;
      }
    }

    .missing-languages {
      display: inline;

      .requested-language {
        width: 30%;
        margin: 10px;
        height: @button-primary-height;
        padding: 8px 10px;
        line-height: 18px;
        border: solid 1px @blueLight;
        border-radius: 3px;
        cursor: pointer;

        font-weight: normal;
        color: @grayDark;
      }
    }
  }

  .checklist {
    p {
      margin: 0;
      line-height: @button-primary-height;
    }
  }

}
