.ns("frontend.components.pages.user-settings", {
  .ui("Page", {}, {
    .el("main-content", {
      padding-top: 15px;

      .table-row-icon {
        // We should be using the .action-button-styles mixin in pieces/table.less
        // Need to discuss how to include a mixin in multiple components
        width: 18px;
        margin: 0 auto;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        color: @grayLight;
      }
    });
  });
});
