#settings-api {
  label.sticky {
    display: inline-block;
  }
  #api-token {
    width: @standardBlockSize * 2;
  }
  input.btn {
    .circleButton(@grayLightest, @grayLighter);
    margin-bottom: 1em;
    position: absolute;
    top: 0;
    right: 0;
  }
  table {
    .skin_table();
  }
}
