#settings-heroku {
  form {
    margin-top: 2em;
  }
  input {
    &[type="text"] {
      &[required] {
        background: transparent;
        width: 50%;
        &:invalid {
          &:not(:focus) {
            + span {
              &[placeholder^="Current"] {
                &:before {
                  content: "none";
                }
              }
            }
          }
        }
      }
    }
    &[type="submit"] {
      .circleButton();
    }
  }
}
