#settings-heroku {
  form {
    margin-top: 2em;
  }
  input {
    &[type="text"] {
      &[required] {
        background: transparent;
        width: 50%;
      }
    }
    &[type="submit"] {
      .circleButton();
    }
  }
}
