// Links
@link:               @blueDark;
@linkHover:          @blueDarker;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #777;
@grayLight:             #ccc;
@grayLighter:           #eee;
@white:                 #fff;

// Blues
@blueDarker:            #1b4f8a;
@blueDark:              #366aa4;
@blue:                  #586e8a;
@blueLight:             #d7dce3;
@blueLighter:           #eff2f6;

// Greens - Daniel chose these, feel free to find better ones
@greenDark:             #2e6110;
@green:                 #579531;
@greenLight:            #8aca64;

// Reds
@redLight:              #FF7373;
@red:                   #BF3030;
@redDark:               #A60000;



// Layout Grid ---------------------------------------------------------------
@columns: 12;
@column-width: 60;
@gutter-width: 20;

