#logo {
  display: block;
  & > svg {
    fill: @gray-darker;
    margin-top: -2px;
  }
}

.breadcrumbs {
  margin-left: 1em;
  a {
    &:not(:first-child) {
      &:before {
        content: '/';
        color: @grayLight;
        margin-right: 3px; // from trial and error
      }
    }
    &:not(:hover) {
      color: @grayLight;
    }
    &[disabled] {
      pointer-events: none;
    }
    &:last-child{
      pointer-events: none;
    }
  }
}

.ui-v2 {
  .breadcrumbs {
    a {
      &:not(:first-child) {
        &:before {
          content: '»';
          color: @grayLight;
          margin-right: 3px; // from trial and error
        }
      }
    }
  }
}

#follow-project-button {
  .button_outline(@green, (@tile / 2));
  margin-right: 1em;
}

#statuspage-bar {
  &.none {
    visibility: hidden;
    height: 0px;
    padding: 0px;
  }

  .status-page-color(@color, @background-color) {
    visibility: visible;
    height: auto;
    padding: @alert-padding;
    background-color: @background-color;
    color: @color;
    h4 { color: @color; }
    a  { color: @color; }
  }

  &.minor {
    .status-page-color(@alert-warning-text, @alert-warning-bg);
  }

  &.major,
  &.critical {
    .status-page-color(@alert-danger-text, @alert-danger-bg);
  }

}

.head-admin {
  @color: fade(@white, 50);
  background: @grayDarker;
  color: @color;
  &:not(.open) {
    margin-top: -@tile;
  }
  &.expanded {
    .admin-tools {
      .metrics {
        cursor: n-resize;
      }
    }
  }
  a {
    color: @color;
    &:hover {
      color: @white;
    }
  }
  [role="button"] {
    cursor: pointer;
  }
  .admin-tools {
    height: @tile;
    line-height: 200%;
    &.expanded {
      height: auto;
    }
    .metrics {
      .flexy(center);
      .user-select(none);
      padding: 0 1em;
      cursor: s-resize;
      font-size: @baseFontSize * 1.5;
      color: @white;
      strong {
        font-size: @fontSizeSmall;
        color: @color;
        text-transform: uppercase;
        margin: 0 1em 0 3px;
      }
    }
  }
  .environment {
    .flexy(center, center);
    position: fixed;
    color: @white;
    bottom: 0;
    right: 120px;
    width: @tile * 1.5;
    height: 3em;
    border-radius: 4px 4px 0 0;
    z-index: 9001; // see intercom hack in shame.less
    background: @orange;
    &.env-production  { background: @redLight;  }
    &.env-staging     { background: @orange;    }
    &.env-development { background: @blueLight; }
    &.env-test        { background: @green;     }
    &.env-dwwoelfel   { background: #500000;  }
  }
  .options {
    margin-left: 1em;
    a {
      &:not(:first-child) {
        &:before {
          content: '/';
          color: @color;
          margin-right: 3px;
        }
      }
    }
  }
  .admin-stats {
    margin: 0 1em 1em;
    table {
      width: 100%;
    }
    th {
      text-align: left;
      &.number {
        text-align: right;
      }
    }
    td.number {
      text-align: right;
    }
    tbody {
      tr {
        &:hover {
          background: fadeout(@color, 34);
        }
      }
    }
  }
}

.navbar {

  &, .btn, .dropdown-menu > li > a {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

.subnav {
  min-height: 0;
  top: 70px;
  z-index: @zindex-subnav;

  .navbar-nav {
    @media (min-width: @screen-sm-min) {
      margin-left: 113px; // circle logo + padding
    }

    > li > a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
