i {
  &.ico {
    .flexy(center, center);
    svg {
      width: @baseFontSize;
      height: @baseFontSize;
      // &.busy-light,
      fill: none;
    }

    &.spinner > svg {
      .animation(clockwise 600ms infinite linear);
      .animation-bezier(0.42, 0, 0.58, 1);
      fill: @grayLightest;
    }
    &.ico-logo > svg {
      fill: @blueDark;
    }
    &.ico-pass > svg {
      fill: @green;
    }
    &.ico-fail > svg {
      fill: @redLight;
    }
    &.ico-queued > svg {
      fill: @grayLight;
    }
    .slim_circle {
      stroke-linecap: round;
      stroke-width: 20;
    }
  }
}
