.odd-section {
  background: @whiten;
  box-shadow: 0 1px 3px fade(@black, 5) inset;
  overflow: hidden;
}

.mobile  #navbar {
  display: none;
}

.page.mobile {
  .outer-nav {
    position: static;
  }

  section {
    padding: 70px;
  }

  h1 {
    font-size: 72px;
    line-height: 72px;
    font-weight: 300;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
  }

  h5 {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
  }

  a.signup {
    background-color: #229922;
    color: white;
  }

  section.intro {
    padding-top: 0px;
    padding-right: 0px;

    img.iphone {
      float: right;
      width:320px;
      max-width: 33%;
    }

    img.htc {
      float: right;
      margin-left: 60px;
      width: 260px;
      max-width: 33%;
    }

    .mobile-tagline {
      margin-top: 140px;
    }

    a.signup {
      margin-top: 70px;
    }
  }

  section.pitch {
    text-align: center;

    img.steps {
      margin-top: 70px;
      margin-bottom: 20px;
      width: 910px;
      max-width: 70%;
    }

    div.labels {
      margin: auto;
      width: 80%;
      position: relative;
      .flexy(stretch, space-between);

      p {
        max-width: 33%;
        .flex(0 0 10em);
      }
    }
  }

  section.workflow {
    img.workflow {
      float: right;
      max-width: 900px;
      margin: 20px;
    }
  }

  section.features {
    padding-bottom: 0;
    padding-top: 0;

    .feature-list {
      text-align: center;
      .flexy(stretch, space-around);
      flex-wrap: wrap;
      img {
	height: 60px;
      }
    }

    .feature {
      @half: (100% / 2);
      .flex(0 0 ~"calc(@{half} - 1.5em)" );
      margin-bottom: 70px;
      margin-top: 70px;
    }
    @media (max-width: (@tile * 13)) {
      .feature-list {
        .flex-direction(column);
        div {
          .flex(auto);
        }
      }
    }
  }

  section.conclusion {
    text-align: center;
    padding-bottom: 0px;
    img.nexus {
      float: left;
      position: relative;
      left: -70px;
      margin-top: -30px;
      width: 224px;
    }

    h3 {
      display: inline;
    }

    a.signup {
      margin-top: -30px;
      float: right;
    }
  }
}