// Font sizing pixel-to-em --------------------------------------------------
// Calculates ems given a pixel value with optional line-height
// and context for nested selectors.
// If line height is not set, it will inherit the parent's.
// Otherwise a new unitless line-height will be computed.
//
// http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/

@mixin font-calc($font-size, $line-height: false, $context: 16) {
  font-size: #{$font-size/$context}em;
  @if $line-height != false {
    line-height: #{$line-height/$font-size};
  }
}

// Vertical spacing pixel-to-em ---------------------------------------------
// Used for applying vertical spacing amongst elements while
// conforming to the typographic grid (1.5em/26px).

@mixin vert-calc($top, $bottom, $font-size: 16, $line-height: 26) {
  margin-top: #{$top*$line-height/$font-size}em;
  margin-bottom: #{$bottom*$line-height/$font-size}em;
}

// Image replacement --------------------------------------------------------
// Add the .ir @extend to any element you are applying
// image replacement to. For more information:
//
// http://html5boilerplate.com/docs/css/#ir-

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;

  .ie7 & { line-height: 0; }

  br { display: none; }
}

// Hide element -------------------------------------------------------------
// Add the .hidden @extend to any elements that you want to
// hide from all presentations, including screen readers.

.hidden {
  display: none !important;
  visibility: hidden;
}

// Clearfix -----------------------------------------------------------------
// Adding the .clearfix @extend to an element will ensure that it
// always fully contains its floated children.
//
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    zoom:1;
}

// Animations ---------------------------------------------------------------
// Provides a method for adding premade animations to any element.
// Effects partials in shared/animations/ have to be imported into
// the stylesheet that invokes the mixin.
//
// Animations by Animate.css http://daneden.me/animate/
@mixin animate($name: fadeIn, $duration: 1s, $delay: 0.2s, $function: ease, $mode: both) {
  @include experimental(animation, $name $duration $delay $function $mode); }
