.ns("frontend.components.pieces.button", {
  .button-styles() {
    font-size: @baseFontSize;
    line-height: 1;

    width: 155px;
    height: 35px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: @grayDark;
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 3px;
    background-color: @grayLightest;

    &:hover {
      background-color: @whiten;
    }

    &:active {
      background-color: @grayLighter;
    }

    &.medium {
      height: 30px;
    }


    // TODO: These colors match the style guide, but the style guide doesn\'t
    // match our palette/variables. Reconcile these in CIRCLE-103.

    &.primary {
      color: @white;
      background-color: #3dc1d9;

      &:hover {
        background-color: #27a0bd;
      }

      &:active {
        background-color: @blueDarkest;
      }
    }

    &.dangerous {
      color: @white;
      background-color: @red;

      &:hover {
        background-color: #e82e2e;
      }

      &:active {
        background-color: #d81e1e;
      }
    }

    &[disabled] {
      cursor: not-allowed;

      &,
      &:hover,
      &:active {
        color: @grayLight;
        background-color: @grayLighter;
      }
    }
  }

  .ui("button", {
    .button-styles();
  });

  .ui("managed-button", {
    .button-styles();
  });

  .ui("link", {
    // We need to include the element name in the selector to get the
    // a.exception rules to work correctly.
    a& {
      .button-styles();

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  });
});
