.ns("frontend.components.pieces.button", {
  .button-styles() {
    font-size: @baseFontSize;
    line-height: 1;

    width: 155px;
    height: 35px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: @grayDark;
    border: none;
    border-radius: 3px;
    background-color: @grayLightest;

    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: @grayLighter;
    }

    &:focus,
    &:active {
      background-color: @grayLighter;
      outline: none;
    }

    &.medium {
      height: 30px;
      font-size: @fontSizeSmaller;
      line-height: 2.2;
    }

    &[disabled] {
      color: @grayLight;
      background-color: @grayLightest;
      cursor: not-allowed;
    }

    &.primary {
      color: @white;
      background-color: @blue;

      &:hover {
        background-color: @blueDark;
      }

      &:focus,
      &:active {
        background-color: @blueDarkest;
      }

      &[disabled] {
        background-color: @blueLightest;
      }
    }

    &.danger {
      color: @white;
      background-color: @red;

      &:hover {
        background-color: @redDark;
      }

      &:focus,
      &:active {
        background-color: @redDarkest;
      }

      &[disabled] {
        background-color: @redLight;
      }
    }

    &.flat {
      color: @blueDark;
      background-color: transparent;

      &:hover {
        background-color: @grayLightest;
      }

      &:focus,
      &:active {
        background-color: @grayLightest;
      }

      &[disabled] {
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .ui("button", {
    .button-styles();
  });

  .ui("icon", {
    .button-styles();

    width: 30px;
    height: 30px;

    // OVERRIDE--ICON-STYLE
    i {
      margin-left: 0;
    }
  });

  .ui("managed-button", {
    .button-styles();
  });

  .ui("link", {
    // We need to include the element name in the selector to get the
    // a.exception rules to work correctly.
    a& {
      .button-styles();

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  });
});
