.ns("frontend.components.pieces.button", {
  .button-styles() {
    font-size: @baseFontSize;
    line-height: 1;

    width: 155px;
    height: 35px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: @grayDark;
    border: none;
    border-radius: 3px;
    background-color: @grayLightest;

    &:hover {
      background-color: @grayLighter;
    }

    &:focus,
    &:active {
      background-color: @grayLighter;
    }

    &.medium {
      height: 30px;
    }

    &[disabled] {
      cursor: not-allowed;
      opacity: .6;

      &:hover {
        background-color: @grayLightest;
      }
    }

    // TODO: These colors match the style guide, but the style guide doesn\'t
    // match our palette/variables. Reconcile these in CIRCLE-103.

    &.primary {
      color: @white;
      background-color: @blue;

      &:hover {
        background-color: @blueDark;
      }

      &:focus,
      &:active {
        background-color: @blueDarkest;
      }

      &[disabled] {
        opacity: .6;

        &:hover {
          background-color: @blue;
        }
      }
    }

    &.danger {
      color: @white;
      background-color: @red;

      &:hover {
        background-color: @redDark;
      }

      &:focus,
      &:active {
        background-color: @redDarkest;
      }

      &[disabled] {
        opacity: .6;

        &:hover {
          background-color: @red;
        }
      }
    }

    &.flat {
      color: @grayDark;
      background-color: transparent;

      &:hover {
        background-color: @grayLightest;
      }

      &:focus,
      &:active {
        background-color: @grayLightest;
      }

      &[disabled] {
        cursor: not-allowed;
        opacity: .6;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .ui("button", {
    .button-styles();
  });

  .ui("managed-button", {
    .button-styles();
  });

  .ui("link", {
    // We need to include the element name in the selector to get the
    // a.exception rules to work correctly.
    a& {
      .button-styles();

      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  });
});
