.ns("frontend.experimental.non-code-empty-state", {
  .ui("full-page-empty-state", {
    margin-top: @main-body-padding;
  });

  .ui("empty-state-header", {
    @icon-size: 60px;
    @icon-inner-size: 25px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > .icon-container {
        margin: 15px 0 10px;
        height: @icon-size;
        width: @icon-size;
        border-radius: 50%;
        background: @grayLighter;
        display: flex;
        justify-content: center;
        align-items: center;

        > .icon {
          color: @grayDark;
          width: @icon-inner-size;
          height: @icon-inner-size;
        }
      }

      > .description-text {
        text-align: center;
        width: 70%;

        @media (max-width: @screen-xs-max) {
          width: 100%;
        }
      }
    }
  });

  .ui("empty-state-footer", {
    .ctas {
      > a {
        margin: 10px 10px 0 0;
      }
    }
  });

  // to override #insights .project-block
  #non-code-insights > .project-block {
    width: 100% !important;
    margin: 0 !important;
  }

  .teams {
    // teams rendered inside a collection of card
    // which gives it a 15px margin -15px margin is
    // added to compensate that.
    margin: -15px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    > .placeholder-img {
      width: 100%;
      // limit width of image to actual width to avoid enlarging
      max-width: 1020px;
    }

    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }
});
