.ns("frontend.components.pieces.page-header", {
  .ui("crumb-node", {
    display: inline;

    // NOTE: Using :first-child and :last-child on the root node of a component
    // is pretty fishy, but then, a lot of the implementation of breadcrumbs is
    // still a bit fishy. The whole thing needs some reworking, but for now the
    // weirdness is at least contained to this namespace, as it\'s a private
    // component.

    &:not(:first-child):before {
      content: "»\00a0";
      padding: 0 5px;
      color: @grayDarker;
    }

    &:last-child {
      pointer-events: none;
    }

    > a {
      text-decoration: none;

      &:not(:hover) {
        color: @grayDark;
      }

      &:hover {
        color: @grayDark;
        text-decoration: underline;
      }

      &[disabled] {
        pointer-events: none;
      }
    }
  });

  .ui("header", {
    .flexy(center, space-between);

    box-sizing: border-box;
    height: @tile;
    padding: 20px;
    border-bottom: solid 1px @grayLighter;

    > .engine {
      position: relative;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -10px;
      height: 20px;
      border-radius: 3px;
      min-width: 20px;
      background: @grayLight;
      font-family: @monoFontFamily;
      letter-spacing: -2px;
      text-align: center;
      color: @white;
      line-height: 20px;
      padding: 0 6px 0 5px;
      font-size: 14px;
      white-space: nowrap;
      -webkit-transform-origin: -10% center;
      -ms-transform-origin: -10% center;
      transform-origin: -10% center;
      left: -358px;
    }

    > .breadcrumbs {
      .flexy(center);
      .text-overflow;

      margin: 0;
      padding: 0;
      font-size: @fontSizeLarger;
      position: relative;

      .engine-icon {
        display: inline-block;
        margin-left: 12px;
        svg {
          width: 20px;
          margin-left: 0;
          font-size: @fontSizeLarger;
          fill: @gray;
        }
      }
    }

    .engine-announce {
      a {
        cursor: pointer;
      }
    }

    > .actions {
      .flexy(center, space-between);
    }

    @media (max-width: @screen-sm-max) {
      .flexy(stretch, flex-start, column);
      height: auto;

      > .breadcrumbs {
        margin-bottom: 0;
      }
    }
  });
});
