.ns("frontend.components.pieces.text-input", {
  .ui("text-input", {
      &.small {
          height: 30px !important;
      }
      &.medium {
          height: 35px !important;
      }
      &.medium {
          min-height: 99px !important;
      }

      // TODO All these important!s are bad, should be removed in a future PR
      // that switched over *all* of our input fields to this component
      padding: 0 !important;
      width: auto !important;
      border-radius: 0 !important;

      &.rounded {
          border-radius: 30px !important;
      }
  });
});

