.ns("frontend.components.pieces.text-input", {
  .ui("text-input", {
      &.small {
          height: 30px !important;
      }
      &.medium {
          height: 35px !important;
      }
      &.medium {
          min-height: 99px !important;
      }

      width: auto !important;
      border-radius: 0 !important;
  });
});

