.ns("frontend.components.pieces.topbar", {
  .ui("topbar", {
    .flexy(row);
    background-color: @top-bar-color;
    background-color: @grayDark;
    height: @top-bar-height;

    > .navs-container {
      .flexy(stretch, space-between, row);
      width: 100%;

      > .logomark {
        .flexy(center, center);
        .icon-style(@white, (@em * 2));
        width: 70px;
        height: @top-bar-height;

        > i {
          opacity: 1;
        }
      }

      > .logomark-narrow {
        .flexy(center, center);
        .icon-style(@white, (@em * 2));
        width: 176px;
        height: @top-bar-height;

        > img {
          height: 44px;
        }
      }

      > .collapsing-nav-container {
        .flexy(stretch, space-between, row);
      }

      > button.navbar-toggler {
        background: inherit;
        border: none;
        padding: 0 2ex;

        i.material-icons {
          margin-left: 0;
          font-size: @fontSizeLargest;
        }
      }

      > .nav-items {
        .flexy;

        margin-bottom: 0;
        padding-left: 0;

        &.nav-items-left {
          margin-left: auto;
        }

        &.collapsing-nav {
          @media (max-width: @screen-sm-min) {
            display: none!important;
          }
        }

        > li {
          .flexy;

          > button.dropdown-toggle {
            border: none;
            background: none;
          }

          > a {
            position: relative;

            > i {
              margin-left: 0;
              @media (max-width: @screen-md-min) {
                display: none!important;
              }

              &.status {
                font-size: 24px;
                @media (max-width: @screen-md-min) {
                  display: inline !important;
                }
                &.operational {
                  color: @green;
                }

                &.minor {
                  color: @yellow;
                }

                &.major {
                  color: @redDark;
                }
              }
            }
          }

          > a,
          > button.dropdown-toggle {
            display: block;
            padding: 20px;
            font-size: @fontSizeSmall;
            font-weight: 400;
            line-height: 30px;
            color: @white;
            text-decoration: none;
            white-space: nowrap;
            .transition(all .2s ease-in);

            @media (max-width: @screen-md-min) {
              padding: 20px 1em;
            }

            > i {
              color: @white;
              .transition(all .1s ease-in);

              .material-icons {
                margin-top: -3px
              }
            }

            > .has-icon i {
              margin-left: 0;
            }

            > span {
              padding-left: 1ex;
              vertical-align: middle;
            }

            // TODO -ac Note, this should become its own component, since we
            // reuse it - *a lot*
            > .gravatar {
              min-width: 28px;
              height: 28px;
              border-radius: 50%;
              border: 1px solid @white;
            }

            &:hover {
              color: @grayLighter;

              i {
                color: @grayLighter;
              }
            }
          }

          > .dropdown-menu {
            // Bootstrap Overrides
            margin-top: -4px;
            padding: 8px 0;
            border: none;
            margin-right: 1em;

            > li > a {
              padding: 6px 20px;
              white-space: pre-wrap;
            }
          }

          &.user-menu {
            border-left: 1px solid fade(@gray, 50%);

            @media (max-width: @screen-sm-max) {
              padding-left: 0;
              border-left: none;
            }
          }
        }
      }
    }
  });
});
