#add-projects {

  #org-sidebar {
    background: #eff2f6;
    color: #6e839e;
    width: 100%;
    .nav-header {
      background: #d7dce3;
      color: #455C78;
    }
    .orgname {
      .pull-left();
      padding-top: 3px;
      overflow: hidden;
      margin-left: 3%;
      width: 70%;
    }
    img {
      .pull-left();
      width: 25px;
      height: 25px;
    }
    i {
      width: 5%;
      margin-right: 0;
      padding-top: 5px;
      .pull-right();
    }
  }
  #inviteForm {
    input {
      width: 270px;
    }
  }
  .add-repos {
    text-align: center;
    font-size: 1.231em; // 16px
    margin: 25vh 0;
    color: @grayLight;
    h3 {
      font-size: 1.846em; // 24px
      font-weight: 300;
      color: @gray;
    }
    ul {
      list-style: none;
    }
    &:empty {
      display: none;
    }
  }
  .side-return {
    display: inline-block;
    width: 15%;
    float: left;
    padding: 0 1em;
    .box-sizing(border-box);
    a {
      font-size: 1em;
      border-radius: 4px;
      line-height: 3em;
      color: @grayDark;
      display: block;
      transition: all .3s ease-in-out;
      font-weight: normal;
      text-decoration: none;
      background-color: transparent;
      &:hover {
        text-decoration: none;
        color: @blueLight;
        transition: .1s;
      }
    }
    h3 {
      font-weight: normal;
      color: #555;
      line-height: 1.25em;
    }
    p {
      color: #999;
    }
  }
  .proj-wrapper {
    display: flex;
    overflow: hidden;
    width: 70%;
    float: left;
    background: @whiten;
    border-radius: 4px;
    border: 1px solid darken(@grayLightest, 5.7);
    margin-bottom: 10%;
    min-height: 50vh;
    // padding: 1vw; (for later use with tabbing visual)
    .box-sizing(border-box);
    #loading-spinner {
      margin: 34vh auto;
    }
  }
  .proj-list {
    // border: 1px solid darken(@grayBorder,1%); (for later use with tabbing visual)
    list-style: none;
    margin: 0;
    width: 100%;
  }
  .side-list {
    float: left;
    width: 15%;
    display: inline-block;
    margin: 0;
    .box-sizing(border-box);
    a {
      cursor: pointer;
      .dark-links;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    & > span {
      text-align: center;
      display: block;
      line-height: 13em;
    }
    img {
      max-height: 1.5em;
    }
    .tooltip {
      white-space: normal;
    }
    li {
      padding: 0 1em;
    }
  }
  .add-orgs, .add-collabs, .add-you {
    display: inline-block;
    .box-sizing(border-box);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    color: @gray;
    font-weight: bold;
  }
  .side-item {
    font-weight: normal;
    line-height: 3em;
    overflow: hidden;
    .box-sizing(border-box);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    margin-right: -4px;
    // Waiting to get the active class to work on all 3 different options in the sidebar.
    // &.active {
    //   background: red;
    // }
  }
  .orgname {
    display: inline-block;
  }
  .repo {
    width: 100%;
    .clearfix();
    a {
      display: block;
      line-height: 1em;
      text-decoration: none;
      transition: all .2s ease-in-out;
      color: #555;
      font-weight: normal;
      text-decoration: none;
      box-shadow: 0 1px @white inset;
      padding: 0 1em;
      line-height: 3em;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        background-color: lighten(@grayBorder,8%);
        color: @blueLight;
        transition-duration: .1s;
      }
      &:active {
        background-color: lighten(@grayBorder,5%);
        transition-duration: .1s;
      }
    }
    &:not(:first-child) a {
      box-shadow: 0 1px lighten(@grayLightest, .5) inset, 0 2px @white inset;
      &:hover {
        box-shadow: 0 1px lighten(@grayBorder, 3) inset;
      }
      &:active {
        box-shadow: 0 1px 1px lighten(@grayBorder, 1) inset;
      }
    }
    // TODO Danny take a look
    // span {
    //   line-height: 3em;
    //   float: right;
    //   margin-top: -3em;
    //   margin-right: 6em;
    //   pointer-events: none;
    // }
    [class^="repo-"] {
      overflow: hidden;
      position: relative;
    }
    // To replace switches
    .repo-unfollow {
      button {
        .buttonDark(@redLight);
      }
    }
    .repo-follow {
      button {
        .buttonDark;
      }
      .join-project {
        .buttonDark(@green);
        line-height: 2em;
      }
    }
    .repo-nofollow {
      button {
        .buttonDark;
      }
    }
    [class^="repo-"] {
      button {
        line-height: 2em;
        padding: 0;
        position: absolute;
        right: 0;
        top: 1px;
        margin: .5em;
        width: 11ex;
        outline: none;
        border-radius: 3px;
        pointer-events: none;
      }
    }
    // Style items for switches > buttons. WIP
    //
    // .repo-1stfollow {
    //   color: @blueLight;
    //   span {
    //     opacity: 0;
    //     .translate(0,100%);
    //     transition: all .3s ease-out, opacity .1s linear;
    //   }
    //   i {
    //     display: inline-block;
    //     line-height: 3em;
    //     float: right;
    //     margin-top: -3em;
    //     margin-right: 5em;
    //     pointer-events: none;
    //     .translate(0,0);
    //     .animation(point-right 3s ease infinite);
    //     -webkit-backface-visibility: hidden;
    //   }
    // }
    // &:hover [class^="repo-"] span {
    //   opacity: 1;
    //   .translate(0,0);
    //   transition: all .1s ease-in, opacity .2s linear .1s;
    // }
    // img {
    //   height: 3em;
    //   padding: .5em;
    //   .box-sizing(border-box);
    //   margin-right: .5em;
    //   pointer-events: none;
    //   position: absolute;
    //   right: 0;
    //   top: 1px;
    // }
  }
  // @-webkit-keyframes point-right {
  //    50% {-webkit-transform: translate(5px,0);}
  // }
  // @keyframes point-right {
  //    50% {transform: translate(5px,0);}
  // }
}
