#org-sidebar {
  background: #eff2f6;
  color: #6e839e;
  width: 100%;
  .nav-header {
    background: #d7dce3;
    color: #455C78;
  }
  .orgname {
  	.pull-left();
  	padding-top: 3px;
  	overflow: hidden;
  	margin-left: 3%;
  	width: 70%;
  }
  img {
    .pull-left();
    width: 25px;
    height: 25px;
  }
  i {
    width: 5%;
    margin-right: 0;
    padding-top: 5px;
    .pull-right();
  }
}
#inviteForm {
	input {
		width: 270px;
	}
}
.add_repos_blank_slate {
  position: relative;
  background: #feffa1;
  color: #222222;
  padding: 10px 25px 25px 38px;
  margin: 10px 0 25px 30px;
  border-radius: 15px;
  border: 2px solid #ffc000;
}
.add_repos_blank_slate p {
  position: relative;
  font-size: 18px;
  line-height: 28px;
}
.add_repos_blank_slate p strong {
  position: relative;
}
.add_repos_blank_slate p strong:before {
  content: url("@{imgPath}/add_repos_arrow_2.png");
  display: block;
  position: absolute;
  left: -89px;
  top: -63px;
}
.side-return {
  display: inline-block;
  width: 15%;
  float: left;
  padding: 0 1vw;
  .box-sizing(border-box);
  a {
    font-size: 1em;
    border-radius: 4px;
    line-height: 3em;
    color: @grayDark;
    display: block;
    transition: all .3s ease-in-out;
    font-weight: normal;
    text-decoration: none;
    background-color: transparent;
    &:hover {
      text-decoration: none;
      color: @blueLight;
      transition: .1s;
    }
  }
  h3 {
    font-weight: normal;
    color: #555;
    line-height: 1.25em;
  }
  p {
    color: #999;
  }
}
.proj-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 70%;
  float: left;
  background: @whiten;
  border-radius: 4px;
  border: 1px solid darken(@grayLightest, 5.7);
  margin-bottom: 10%;
  // padding: 1vw; (for later use with tabbing visual)
  .box-sizing(border-box);
}
.proj-list {
  // border: 1px solid darken(@grayBorder,1%); (for later use with tabbing visual)
  list-style: none;
  margin: 0;
}
.side-list {
  float: left;
  width: 15%;
  display: inline-block;
  margin: 0;
  .box-sizing(border-box);
  a {
    .dark-links;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  & > span {
    text-align: center;
    display: block;
    line-height: 13em;
  }
  img {
    max-height: 1.5em;
  }
  .tooltip {
    white-space: normal;
  }
  li {
    padding: 0 1vw;
  }
}
.add-orgs, .add-collabs, .add-you {
  display: inline-block;
  .box-sizing(border-box);
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @grayLighter;
  cursor: default;
}
.side-item {
  font-weight: normal;
  line-height: 3em;
  overflow: hidden;
  .box-sizing(border-box);
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  margin-right: -4px;
  // Waiting to get the active class to work on all 3 different options in the sidebar.
  // &.active {
  //   background: red;
  // }
}
.orgname {
  display: inline-block;
}
.repo {
  width: 100%;
  .clearfix();
  a {
    display: block;
    line-height: 1em;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #555;
    font-weight: normal;
    text-decoration: none;
    box-shadow: 0 1px @white inset;
    padding: 0 1vw;
    line-height: 3em;
    overflow: hidden;
    &:hover {
      background-color: lighten(@grayBorder,8%);
      color: @blueLight;
      transition-duration: .1s;
    }
    &:active {
      background-color: lighten(@grayBorder,5%);
      transition-duration: .1s;
    }
  }
  &:not(:first-child) a {
    box-shadow: 0 1px #f0f0f0 inset, 0 2px #ffffff inset;
    &:hover {
      box-shadow: 0 1px lighten(@grayBorder,3%) inset;
    }
    &:active {
      box-shadow: 0 1px 1px lighten(@grayBorder,1%) inset;
    }
  }
  &:hover [class^="repo-"] span {
    opacity: 1;
    .translate3d(0,0,0);
    transition: opacity .2s linear .1s, -webkit-transform .1s ease-in 0;
    transition: opacity .2s linear .1s,         transform .1s ease-in 0;
  }
  object {
    height: 2em;
    margin-top: -2.5em;
    margin-right: 1em;
    display: inline-block;
    float: right;
    pointer-events: none;
  }
  [class^="repo-"] span {
    color: @gray;
    opacity: 0;
    .translate3d(0,100%,0);
    transition: opacity .1s linear 0, -webkit-transform .3s ease-out 0;
    transition: opacity .1s linear 0,         transform .3s ease-out 0;
  }
  span {
    line-height: 3em;
    float: right;
    margin-top: -3em;
    margin-right: 6em;
    pointer-events: none;
  }
  [class^="repo-"] {
    overflow: hidden;
  }
  .repo-follow span {
    color: @green;
  }
  .repo-unfollow span {
    color: @grayLight;
  }
  .repo-nofollow {
    object {
      opacity: .34;
    }
    span {
      color: @red;
    }
  }
  .repo-1stfollow {
    object {
      .animation(waiting 1s ease-in-out 0 infinite);
    }
    span {
      color: @orange;
    }
  }
  .centered-spinner i {
    margin: 25vh 0;
  }
}
@-webkit-keyframes waiting {
    0% {opacity: .66;}
   50% {opacity:   1;}
  100% {opacity: .66;}
}
@keyframes waiting {
    0% {opacity: .66;}
   50% {opacity:   1;}
  100% {opacity: .66;}
}
