#org-sidebar {
  background: #eff2f6;
  color: #6e839e;

  .nav-header {
    background: #d7dce3;
    color: #455C78;
  }
  li {
    cursor: pointer;

    clear: both;
    	a {
	    	height: 25px;
	    	width: 100%;
	    	display: block;
	    	padding: 10px 15px;
    	}
    	&.active {

    	}
  }
  .orgname {
  	.pull-left();
  	padding-top: 3px;
  	overflow: hidden;
  	margin-left: 3%;
  	width: 70%;
  }
  img {
    .pull-left();
    width: 25px;
    height: 25px;
  }
  i {
    width: 5%;
    margin-right: 0;
    padding-top: 5px;
    .pull-right();
  }
}
