&#app {
  @aside_items: 7;
  @aside_slim_speed: 200ms;
  .flexy(row);
  .aside-left-nav {
    .flexy(column);
    width: @aside_nav_width;
    height: 100vh;
    background: @blueDarkest;
    overflow: hidden;
    transition: width @aside_slim_speed;
    transition-timing-function: cubic-bezier(0.5, -.25, 0.5, 1.25);
    a {
      outline: none;
    }
    &.slim {
      width: @block_size;
      .aside-item {
        i,
        img {
          margin-right: ((@block_size - @baseFontSize) / 2);
          transition-duration: (@aside_slim_speed * 1.5);
        }
        &.logo {
          cursor: e-resize;
        }
      }
    }
  }
  .aside-item {
    .flex(0, 0, @block_size);
    .flexy(center);
    white-space: nowrap;
    &.logo {
      .justify-content(center);
      .underline_deboss();
      cursor: w-resize;
      .logomark {
        .flexy(center, center);
        .icon_style(@white, 2em);
        width: @block_size;
        height: @block_size;
      }
    }
    @delay: 30ms;
    &:nth-child(2) > i { transition-delay: @delay * 1;}
    &:nth-child(3) > i { transition-delay: @delay * 2;}
    &:nth-child(4) > i { transition-delay: @delay * 3;}
    &:nth-child(5) > i { transition-delay: @delay * 4;}
    &:nth-child(6) > i { transition-delay: @delay * 5;}
  }
  a.aside-item {
    .shadow_noboss();
    color: fade(@white, 66);
    background: transparent;
    transition: @base_transition ease-in-out;
    &:hover,
    &:focus {
      .shadow_emboss(@blueDarker);
      color: @white;
      background: @blueDarker;
      transition-duration: 0;
    }
    &:active {
      .shadow_deboss(@blueDarkest);
      color: @white;
      background: fade(@black, 8);
      transition-duration: 0;
    }
    i {
      min-width: @baseFontSize;
      margin: 0 @baseFontSize 0 ((@block_size - @baseFontSize) / 2);
      transition: margin @aside_slim_speed;
    }
    img {
      @s: (@block_size / 2);
      min-width:  @s;
      height: @s;
      margin: 0 @baseFontSize 0 ((@block_size - @s) / 2);
      border-radius: (@s / 2);
      transition: margin (@aside_slim_speed * 2);
      pointer-events: none;
    }
  }
  .aside-recent-history {
    @scrollbar: 5px;
    @em: @codeFontSize;
    .flexy(column);
    font-family: @codeFontFamily;
    font-size: @em;
    color: @blue;
    background: fade(@black, 0);
    opacity: 0;
    padding-top: @em;
    transition: opacity 400ms, padding 0ms 400ms, background 400ms;
    overflow: hidden;
    height: 100%;
    &.open {
      .shadow_deboss(@blueDarkest);
      background: fade(@black, 8);
      opacity: 1;
      padding: 0;
      transition: opacity 400ms 100ms, padding 400ms ease-out, background 200ms;
      + .aside-slideup {
        box-shadow: 0 -8px 13px fade(@black, 21);
        transition-delay: 100ms;
      }
      ul {
        overflow-y: auto;
      }
    }
    ul {
      height: 100%;
      margin: 0;
      list-style: none;
      &::-webkit-scrollbar {
        width: @scrollbar;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background: @blueDark;
        }
      }
    }
    li {
      .flexy();
      .box-sizing(border-box);
      width: (@aside_nav_width - @scrollbar);
      &:hover {
        .status {
          a {
            &:not(:first-child) {
              transition-delay: 1000ms; // delay meant to give user time to hover over to branch name
            }
          }
          &:hover {
            a {
              &:not(:first-child) {
                opacity: 1;
                margin-left: 0;
                transition: 100ms 0ms; // open quickly to limit interation delay
              }
            }
          }
        }
      }
    }
    .status {
      .flex(0, 0, auto);
      .flexy(center);
      a {
        @s: (2 * @em);
        .flex(0, 0, @s);
        .icon_style(transparent, @s);
        height: @s;
        &:first-child {
          padding-left: @em;
        }
        &:not(:first-child) {
          opacity: 0;
          margin-left: -@s;
          transition-duration: 400ms; // close slower than opening, less jarring
        }
      }
    }
    .branch {
      .flex(1, 1, auto);
      .flexy(center);
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .aside-slideup {
    @items: 3;
    @items_visible: 1;
    .flex(0, 0, auto);
    .flexy(column);
    margin-top: auto;
    transition: box-shadow 300ms ease-in-out;
    a {
      &:last-child {
        margin-bottom: ((@items - @items_visible) * -@block_size);
        transition: margin 400ms ease-in-out;
      }
      &:hover,
      &:focus {
        margin-bottom: 0;
        ~ a:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
