&#app {
  @aside_items: 7;
  @aside_slim_speed: 200ms;
  @slideup_items: 3;
  @slideup_visible: 1;
  @cascade_delay: 30ms;
  .flexy(row);
  .aside-left-nav {
    .flexy(column);
    color: fade(@white, 66);
    width: @aside_nav_width;
    height: 100vh;
    background: @blueDarkest;
    transition: width @aside_slim_speed;
    transition-timing-function: cubic-bezier(0.5, -.25, 0.5, 1.25);
    a {
      outline: none;
      &:not(:hover) {
        color: inherit;
      }
    }
    &.slim {
      width: @tile;
      .aside-item {
        i,
        img {
          margin-right: ((@tile - @baseFontSize) / 2);
          transition-duration: (@aside_slim_speed * 1.5);
        }
        &.logo {
          cursor: e-resize;
        }
      }
      a.aside-item {
        .tip(right);
      }
    }
    [role="button"] {
      cursor: pointer;
    }
  }
  .aside-item {
    .flex(0, 0, @tile);
    .flexy(center);
    white-space: nowrap;
    &.logo {
      .justify-content(center);
      .underline_deboss();
      cursor: w-resize;
      .logomark {
        .flexy(center, center);
        .icon_style(@white, 2em);
        width: @tile;
        height: @tile;
      }
    }
    &:nth-child(2) > i {transition-delay: @cascade_delay * 1;}
    &:nth-child(3) > i {transition-delay: @cascade_delay * 2;}
    &:nth-child(4) > i {transition-delay: @cascade_delay * 3;}
    &:nth-child(5) > i {transition-delay: @cascade_delay * 4;}
    &:nth-child(6) > i {transition-delay: @cascade_delay * 5;}
  }
  a.aside-item {
    .shadow_noboss();
    background: transparent;
    transition: (@aside_slim_speed / 2) ease-in-out;
    &:hover,
    &:focus {
      .shadow_emboss(@blueDarker);
      color: @white;
      background: @blueDarker;
      transition-duration: 0;
    }
    &:active {
      .shadow_deboss(@blueDarkest);
      color: @white;
      background: fade(@black, 8);
      transition-duration: 0;
    }
    i {
      min-width: @baseFontSize;
      margin: 0 @baseFontSize 0 ((@tile - @baseFontSize) / 2);
      transition: margin @aside_slim_speed;
    }
    img {
      @s: (@tile / 2);
      min-width:  @s;
      height: @s;
      margin: 0 @baseFontSize 0 ((@tile - @s) / 2);
      border-radius: (@s / 2);
      transition: margin (@aside_slim_speed * 2);
      pointer-events: none;
    }
  }
  .aside-recent-history {
    @scrollbar: 5px;
    @em: @baseFontSize;
    @color: fade(@white, 34);
    @ico: (@em - 2);
    @line: (@em * 1.5);
    .flexy(column);
    font-size: @em;
    color: @color;
    background: fade(@black, 0);
    opacity: 0;
    visibility: hidden;
    padding-top: @em;
    transition: opacity 400ms, padding 0ms 400ms, background 400ms, visibility 0ms 1000ms;
    overflow: hidden;
    height: 100%;
    &.open {
      .shadow_deboss(@blueDarkest);
      background: fade(@black, 8);
      opacity: 1;
      visibility: visible;
      padding: 0;
      transition: opacity 400ms 100ms, padding 400ms ease-out, background 200ms, visibility 0ms 0ms;
      + .aside-slideup {
        box-shadow: 0 -8px 13px fade(@black, 21);
        transition-delay: 100ms;
      }
      .wrapper {
        overflow-y: auto;
      }
    }
    .wrapper {
      height: 100%;
      overflow: hidden;
      &::-webkit-scrollbar {
        width: @scrollbar;
      }
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          background: @blueDark;
        }
      }
    }
    .toggle-all-branches {
      .flexy(center, center);
      padding: @em @em (@em / 2);
      button {
        .flex(1, 1, auto);
        color: fadeout(@color, 21);
        background-color: fade(@color, 0);
        border: 1px solid @color;
        border-left-color: transparent;
        margin-left: -1px;
        outline: none;
        line-height: @em;
        padding: round(@em / 4) 0;
        transition: 200ms;
        max-width: (@tile - 2); // 2 represents borders on sides
        &:first-child {
          border-left-color: @color;
          border-radius: 1em 0 0 1em;
          margin-left: 0;
        }
        &:last-child {
          border-right-width: 2px; // anti-alias looks weird w/o this, because opacity is low
          border-radius: 0 1em 1em 0;
        }
        &:hover {
          color: @grayLightest;
        }
        &.active {
          color: @color;
          border-color: @color;
          border-left-color: transparent;
          transition: 100ms;
          &:first-child {
            border-left-color: @color;
          }
        }
      }
    }
    ul {
      margin: 0;
      list-style: none;
    }
    li {
      .flexy();
      .box-sizing(border-box);
      width: (@aside_nav_width - @scrollbar);
      line-height: 1em; // BS RESET
      &:hover {
        .status {
          a {
            &:not(:first-child) {
              transition-delay: 1000ms; // delay meant to give user time to hover over to branch name
            }
          }
          &:hover {
            a {
              &:not(:first-child) {
                opacity: 1;
                margin-right: 0;
                transition: margin 100ms 100ms, opacity 100ms 100ms;
              }
            }
          }
        }
      }
      &:last-child {
        .branch {
          a {
            &:before {
              border-radius: 0 0 0 3px;
            }
            &:after {
              border: none;
            }
          }
        }
      }
    }
    .project {
      .flexy();
      width: 100%;
      a {
        .flexy(center);
        height: @line;
        line-height: @line;
        padding: (@em / 2) 0 0 (@em / 2);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:first-child {
          .flex(0, 0, auto);
        }
        &:last-child {
          .flex(1, 0, auto);
        }
      }
      .ico {
        width: @line;
        height: @line;
      }
      .ico-repo {
        fill: @color;
        width: 21px;
        height: 21px;
      }
    }
    .branch,
    .status {
      a {
        height: @line;
        line-height: @line;
      }
    }
    .branch {
      .flexy(center);
      a {
        width: 100%;
        padding-left: (@line + (@em / 2));
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        &:before,
        &:after {
          content: "";
          width: (@line / 2);
          height: (@line / 2);
          position: absolute;
          left: (@line / 2);
          border-left: 1px solid @blueDarker;
        }
        &:before {
          top: 0;
          border-bottom: 1px solid @blueDarker;
        }
        &:after {
          top: (@line / 2);
          border-top: 1px solid @blueDarker;
        }
      }
    }
    .status {
      .flex(1, 0, auto);
      .flexy(center, flex-end);
      a {
        .flexy(center, center);
        .icon_style(transparent, @ico);
        width: @line;
        &:first-child {
          .flex(1, 0, auto);
          .justify-content(flex-end);
          padding-left: round(@em - ((@line - @ico) / 2));
          svg {
            padding-right: round((@line - @ico) / 2);
          }
        }
        &:not(:first-child) {
          opacity: 0;
          margin-right: -@line;
          transition: margin 400ms, opacity 400ms; // close slower than opening, less jarring
        }
        &:last-child {
          padding-right: round(@em - ((@line - @ico) / 2) - @scrollbar);
        }
        &:hover {
          path {
            transition-duration: 200ms;
          }
        }
        &:not(:hover) {
          path {
            stroke: @color;
            transition: 500ms;
          }
        }
      }
      path {
        stroke-width: 10;
      }
      .ico-busy-light {
        stroke: @blueLight;
        &:last-child {
          stroke-linecap: round;
          stroke-width: 20;
        }
      }
      .ico-pass-light {
        stroke: @green;
      }
      .ico-fail-light {
        stroke: @redLight;
      }
    }
  }
  .aside-slideup {
    .flex(0, 0, auto);
    .flexy(column);
    margin-top: auto;
    transition: box-shadow 300ms ease-in-out;
    a {
      &:last-child {
        margin-bottom: ((@slideup_items - @slideup_visible) * -@tile);
        transition: margin 400ms ease-in-out;
      }
      &:hover,
      &:focus {
        margin-bottom: 0;
        ~ a:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
