
@border-color: #ddd;
@result-gray: #ccc;
@result-grayDark: #666;

#dashboard {
  min-width: 960px;
  margin: 0 auto;
  a, span, td {
    color: @result-grayDark;
    font-weight: normal;
    text-shadow: none;
    text-decoration: none;
  }
  aside {
    float: left;
    width: 300px;
  }
  .build_status span {
      color: #fff;
      text-transform: capitalize;
      padding: .3em .5em;
      min-width: 50px;
      text-align: center;
    }
  .side-actions {
    display: inline-block;
    width: 100%;
    padding: 1em 1em;
    box-sizing: border-box;
    .border-radius(4px 4px 0 0);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.05) inset;
    float: left;
    background: #fbfbfb;
    border: 1px solid #eee;
    border-bottom: none;
    .box-shadow(1px 1px 0 #fff inset);
    button {
      #gradient.vertical(rgba(255,255,255,.05),rgba(0,0,0,.08));
      background-repeat: repeat-x;
      background-color: @blueDark;
      border-style: solid;
      border-color: darken(@blueDark,8%);
      border-width: 1px;
      .border-radius(3px);
      .box-shadow(0 1px 1px rgba(0,0,0,.21));
      .transition(all .2s ease-in-out);
      color: #fefefe;
      .box-sizing(border-box);
      padding: 1em .5em;
      float: left;
      width: 50%;
      &:hover {
        background-color:@blueDark;
        background-position-y: 100px;
        .transition(all .1s ease-in-out);
        .box-shadow(0 2px 3px rgba(0,0,0,0) inset);
        border-color: @blueDark;
      }
      &:active, &:focus {
        background-color:darken(@blueDark,5%);
        .box-shadow(0 2px 3px rgba(0,0,0,.34) inset);
        .transition(all .1s ease-in-out);
      }
    }
  }
  #add-projects {
    border-radius: 3px 0 0 3px;
    border-right-color: transparent;
  }
  #invite {
    border-radius: 0 3px 3px 0;
    &:hover {
      border-left-color: darken(@blueDark,5%);
    }
  }
  .projects {
    padding: 0;
    margin: 0;
    background: #fbfbfb;
    width: 100%;
    border: 1px solid @grayLighter;
    .border-radius(4px);
    .box-sizing(border-box);
    box-shadow: 0 1px 0 #fff inset, 1px 1px 0 rgba(0, 0, 0, 0.13), 1px 2px 3px rgba(0, 0, 0, 0.05);
  }
  .shadow-bulge {
    height: 55px;
    background: none;
    border-radius: ~"100% / 21px";
    box-shadow: 0 8px 3px -5px rgba(0,0,0,.13);
    margin-top: -55px;
    z-index: -1;
    position: relative;
  }
  .nav-header {
    padding: 0;
    text-transform: none;
    font-size: 1em;
  }
  h2 {
    font-weight: normal;
    color: @result-grayDark;
    margin: 0;
    font-size: 3em;
    line-height: 2em;
  }
  .selected {
    background-color: none;
    .build-circles {
      background-color: none;
    }
  }
  .project {
    padding: 0;
    display: inline-block;
    border-top: 1px solid lighten(@grayLighter,2%);
    .box-shadow(1px 1px 0 #fff inset);

    width: 100%;

    .project-name {
      //font-size:1em;
      line-height: 1em;
      display: block;
      padding: 1em;
      box-sizing: border-box;

      color: darken(@grayLight,20%);
      .transition(color .3s ease-in-out);

      &:hover {
        color: @grayDark;
        .transition(color .1s ease-in-out);
      }
    }
    &:hover .nav-menu-icon {
      opacity: 1;
      -webkit-transform: scale(1);


    }
    .nav-menu-icon {
      opacity: 0;
      -webkit-transition-property: opacity, -webkit-transform;
      -webkit-transition-duration: .3s;
      -webkit-transition-timing-function: ease-in-out;

      -webkit-transform: scale(0);
      -webkit-transform-origin: top right;


      float: right;
      display: block;
      padding: .34em;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      border-radius: 2px;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #fff;

      i {
        line-height: 1.1em;
        font-size: .9em;
        float: left;
        color: @result-grayDark;
        .scale(1);
        .transition(all .2s ease-in);
      }
      &:hover i {
        color: darken(@result-grayDark,21%);
        .scale(1.2);
        .transition(all .4s ease-in);
      }
    }
  }
  .branch {
    padding: 0;
    box-shadow:none;
    line-height: 1em;


    display: block;

    .branch-name {
      font-weight: normal;
      color: @result-gray;
      background:none;
      margin: 0;
      padding: 1em 0 1em 3em;
      overflow: hidden;

      box-sizing: border-box;
      display: block;

      .transition(color .3s ease-in-out);

      &:last-child {
        //margin-bottom: 1em;
      }

      &:hover {
        color: @result-grayDark;
        .transition(color .1s ease-in-out);
      }
    }
  }
  .default {
    font-weight: bold;
  }
    background:none;
  .toggle-show-branches {
    a {
      margin-top: 4px;
      cursor: pointer;
    }
    i {
      margin-left: -3px;
      color: #999;
      font-size: 18px;
      .transition(color 600ms);
    }
    i:hover {
      color: #777;
      text-decoration: none;
    }
  }
  .tooltip {
    text-shadow:none;
    font-size: 1em;
    text-transform: capitalize;
    .tooltip-arrow {
      border-top-color: darken(@result-gray,5%);
    }
    .tooltip-inner {
      .border-radius(3px);
      #gradient.vertical(rgba(255,255,255,.08),rgba(0,0,0,.08));
      background-color: @result-gray;
      padding: 1em;
      border: 1px solid darken(@result-gray,5%);
      box-shadow: 0 1px 0 rgba(255,255,255,.13) inset;
    }
  }
  .build-circles {
    padding: 0;

    float: right;

    margin: 0;

    i.build-circle {
      margin: 0;
      display: inline-block;
    }
    .build-circle-container {

      box-sizing: border-box;
      display: inline-block;
      padding: 0;
      margin: 0 0 0 -4px;

      i {
        display: inline-block;
        color: @result-gray;
        .scale(1);
        .transition(all .2s ease-in-out);
      }
      a {
        .transition(.2s ease-in-out color);

        display: inline-block;
        box-sizing: border-box;
        padding: 1em .21em;

        &:hover {
          text-decoration: none;
          color: inherit;
          .transition(.4s ease-in-out color);
        }
      }
      &:last-child i {
        padding-right: 1em;
      }
      &:hover i {
        .scale(1.2);
      }
      &.success, &.fixed {
        &:hover i {
          color: @green;
        }
        .tooltip {
          .tooltip-arrow {
            border-top-color: darken(@green,5%);
          }
          .tooltip-inner {
            background-color: @green;
            border: 1px solid darken(@green,5%);
          }
        }
        &:last-child {
          i {
          color: @green;
          }
        }
      }
      &.no_tests, &.failed, &.timedout {
        &:hover > a > i {
          color: @red;
        }
        .tooltip {
          .tooltip-arrow {
            border-top-color: darken(@red,5%);
          }
          .tooltip-inner {
            background-color: @red;
            border: 1px solid darken(@red,5%);
          }
        }
        &:last-child {
          i {
            color: @red;
          }
        }
      }
      &.running {
        &:hover i {
          color: @blueDark;
        }
        .tooltip {
          .tooltip-arrow {
            border-top-color: darken(@blueDark,5%);
          }
          .tooltip-inner {
            background-color: @blueDark;
            border: 1px solid darken(@blueDark,5%);
          }
        }
        &:last-child {
          i {
            color: @blueDark;;
          }
        }
      }
      &.queued, &.canceled {
        padding: 0 1px;
        &:hover i {
          color: @result-grayDark;
        }
        .tooltip {
          .tooltip-arrow {
            border-top-color: darken(@result-grayDark,5%);
          }
          .tooltip-inner {
            background-color: @result-grayDark;
            border: 1px solid darken(@result-grayDark,5%);
          }
        }
        &:last-child {
          i {
            color: @result-grayDark;
          }
        }
      }
    }
  }
  .table-striped tbody > tr:nth-child(odd) > td, td {
    background: #fbfbfb;
    border: none;
    border-top: 1px solid lighten(@grayLighter,2%);
  }
  table {
    width: 100%;
    background: #fbfbfb;
    border: 1px solid @grayLighter;
    .border-radius(4px);
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.13), 1px 2px 3px rgba(0, 0, 0, 0.05);
    margin: 0;
    th {
      padding: 1em 0;
    }
    td {
      padding: .5em 0;
      text-align: center;
      a {
        color: @grayLight;
      }
      &:nth-child(4n+1) a {
        color: darken(@grayLight,20%);
      }
      &:nth-child(4n+1) {
        padding-left: 2%;
        text-align: left;
        border-left: 1px dashed @grayLighter;
        border-right: 1px dashed @grayLighter;
      }
    }
  }
}
.dash-wrap {
  margin-left: 300px;
  padding-left: 1em;
}
.dashboard-main {
  h2 {
    margin: 0 0 15px 0;
    a {
      margin-top: -.5em;
    }
  }
}
.status-circle {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
.build_dot {
  width: 8px;
  height: 8px;
  padding: 0;
  .border-radius(10px);
}
