[class^="recent-time-"] {
  white-space: nowrap;
  font-family: @codeFontFamily;
  font-size: @codeFontSize;
  a {
    text-align: center;
  }
}
.recent-log {
  word-break: break-all;
}
#dashboard {
  padding: 0 1em;
}
.recent-builds-table {
  .tableLight();
  a {
    color: @gray;
    transition: color .3s;
    &:hover {
      color: @gray;
      transition-duration: .1s;
    }
  }
}
.recent-builds-pager {
  .displayFlex();
  .justify-content(space-between);
  margin-top: 1ex;

  a.disabled {
    color: @gray;
    cursor: default;
    pointer-events: none;
  }
}
.recent-status-badge {
  vertical-align: middle;
  span {
    display: block;
    color: @white;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 1.75em;
    width: 100%;
  }
  + .build_actions {
    vertical-align: middle;
    a {
      .subtleButton(@redLight);
      margin: 0 1ex;
      float: none;
      text-align: center;
      line-height: ~"calc(1.75em - 2px)";
      min-height: ~"calc(1.75em - 2px)";
      padding: 0 1ex;
    }
  }
}
