form.expando {
  display: inline-block;
  .dropdown-toggle.btn:focus {
    outline: none;
  }
}
.spec_form {
  button {
    vertical-align: top;
  }
}
.select-project-parallelization {
  @selected-border-color: @redLight;
  @focused-border-color: @redLight;
  @active-color: @greenLight;
  @disabled-color: @grayLight;

  line-height: 1px;
  input {
    display: none
  }
  label {
    float: left;
    background-color: @active-color;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    .border-radius(5px);
    border: 3px solid rgba(0,0,0,0);
    cursor: pointer;
  }
  label:hover {
    border: 3px dashed @focused-border-color;
  }
  label.selected {
    border: 3px solid @selected-border-color;
  }
  label.disabled {
    background-color: @disabled-color;
    cursor: default;
  }
  label.disabled:hover {
    border: 3px solid rgba(0,0,0,0);
  }
  label.bad_choice {
    background-color: fadeout(@active-color, 50%);
  }
  well.focused-label {
    border: 1px solid @focused-border-color;
  }
  well.selected-label {
    border: 1px solid @selected-border-color;
  }
}

#project-settings {
  .flex();
  padding: 0 1em;
  a {
    color: @blueDark;
    transition-property: color, text-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    &:hover {
      color: @blueLight;
      transition-duration: .1s;
    }
  }
  h1 {
    margin-top: 0;
  }
  aside {
    width: 250px;
    .flex-grow-shrink(0, 1.1);
  }
  .side-list {
    margin: 0;
    list-style: none;
    a {
      padding: .5em 0;
      line-height: 1em;
      margin: 0;
      display: block;
    }
  }
  .side-title {
    color: @grayLighter;
    line-height: 1em;
    margin: .5em 0;
    padding-top: 1em;
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .project-settings-inner {
    .skin_cleanBoxShadow();
    .flex-grow-shrink(1, 1);
    margin: 0 1em;
  }
  .follow-status {
    width: 250px;
    .flex-grow-shrink(0, 1.1);
    i {
      font-size: 5em;
      line-height: 1.5em;
      display: block;
      text-align: center;
      color: #555;
    }
    h4 {
      font-size: 1.154em;
      margin: 0;
      line-height: 2em;
    }
    p {
      margin-bottom: 1em;
      line-height: 1.34em;
    }
    button {
      .circleButton(@grayLighter, @redLight);
      width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}
