form.expando {
  display: inline-block;
  .dropdown-toggle.btn:focus {
    outline: none;
  }
}
.spec_form {
  button {
    vertical-align: top;
  }
}
#project-settings {
  .flexBox();
  padding: 0 2em;
  a {
    color: @blueDark;
    transition-property: color, text-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    &:hover {
      color: @blueLight;
      transition-duration: .1s;
    }
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    font-family: @sansFontFamily;
    font-weight: bold;
    color: @gray;
    font-size: 2em;
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    line-height: 1.25em;
    padding: .25em 0;
  }
  h4 {
    font-family: @sansFontFamily;
    font-weight: bold;
    color: @gray;
    margin: 0;
    font-size: 1em;
    line-height: 2em;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  aside {
    width: 250px;
    min-width: 200px;
    .flex(0, 1.1);
  }
  .tooltip {
    .tooltip-inner {
      padding: 1em;
      background: @grayDark;
    }
    .tooltip-arrow {
      border-top-color: @grayDark;
    }
  }
  .side-list {
    margin: 0;
    list-style: none;
    a {
      padding: .5em 0;
      line-height: 1em;
      margin: 0;
      display: block;
    }
  }
  .side-title {
    line-height: 1em;
    margin: .5em 0;
    padding-top: 1em;
    color: @gray;
    font-weight: bold;
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .project-settings-inner {
    .skin_cleanBoxShadow();
    .flex(1, 1);
    margin: 0 2em;
    min-height: 89vh;
  }
  .follow-status {
    width: 250px;
    min-width: 200px;
    .flex(0, 1.1);
    i {
      font-size: 5em;
      line-height: 1.5em;
      display: block;
      text-align: center;
      color: #555;
    }
    h4 {
      font-size: 1.077em;
      line-height: 1.5em;
      margin: 0 0 .5em 0;
    }
    p {
      margin-bottom: 1em;
      line-height: 1.34em;
    }
    button {
      width: 100%;
      margin: 0 auto;
      display: block;
    }
    .followed {
      button {
        .circleButton(@grayLightest, @redLight);
      }
    }
    .not-followed {
      button {
        .circleButton(@grayLightest, @green);
      }
    }
  }
  // Overview Page
  .overview-options {
    // .flexBox();
    margin: 2em 0;
    .clearfix();
  }
  .overview-item {
    // .flex(0, 1, 250px);
    margin-right: 2%;
    float: left;
    width: 300px;
    &:last-child {
      margin-right: 0;
    }
  }
  // Parallelism Page
  .parallelism-picker {
    margin: 2em 0;
  }
  .parallelism-items {
    .clearfix();
    @blockSize: 8em;
    @blockColor: @green;
    @blockColor: @gray;
    .flex(1, 1, (@blockSize * 5));
    order: 2;
    margin: 0;
    max-width: (@blockSize * 8);
    .selected {
      span {
        .outlineFlat(@blockColor);
        color: @whiten;
      }
      ~ label span {
        background: transparent;
        color: @blockColor;
        .outlineFlat(@blockColor);
      }
    }
    input[type=radio] {
      display: none;
    }
    label {
      width: @blockSize;
      height: @blockSize;
      font-size: inherit;
      margin: 0;
      position: relative;
      float: left;
      &:hover ~ label span {
        box-shadow: none;
      }
      span {
        position: absolute;
        top: 3%;
        left: 3%;
        width: 94%;
        padding: ~'calc(47% - .5em)' 0;
        box-sizing: border-box;
        background: @blockColor;
        border-radius: 3px;
        line-height: 1em;
        text-align: center;
        transition: box-shadow .2s ease-in-out;
        color: @whiten;
        &:after {
          content: "x";
          margin-right: -.5ex;
        }
      }
    }
  }
  .parallelism-info {
    width: 48ex;
    order: 1;
    margin: 0 2em 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    *:empty {
      display: none;
    }
  }
  .mini-faq {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .mini-faq-item {
      padding-right: 4em;
      .flex(1, 1, 30%);
      min-width: 300px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  // Environment Variables Page
  .environment-variables-inner{
    // .outlineFlat();
    // border-radius: 4px;
    margin: 2em 0;
    max-width: @gridRowWidth;
    .env-table {
      .outlineFlat();
      border-radius: 4px;
    }
    form {
      margin: 0;
      // margin: 3em 0;
      // max-width: @gridRowWidth;
      + ul li:last-of-type {
          box-shadow: none;
      }
    }
    li {
      display: flex;
      justify-content: space-between;
      line-height: 3em;
      box-shadow: 0 1px @grayBoxBorder;
    }
    span {
      display: block;
      &:not(:last-of-type) {
        .flex(1, 1, 44%);
        padding-left: 1em;
      }
      &:last-of-type {
        flex: 0 0 140px;
      }
    }
    input[type="text"] {
      .stickyInput();
      margin: 1em 0;
    }
    input[type=submit] {
      .circleButton(@grayLightest, @green);
      font-size: 1em;
      margin: 1em;
      line-height: 3em;
      padding: 0 3em;
    }
    a {
      .tableDrawerBtn();
    }
  }
  // Dependencies Page
  .dependencies-page {
    fieldset {
      a.btn {
        .circleButton();
        margin-top: 2em;
        display: inline-block;
        i {
          margin-left: 1ex;
          font-size: @baseFontSize;
        }
      }
      p {
        max-width: 66%;
      }
    }
    textarea {
      .stickyTextarea();
      &:first-child {
        margin-top: 2em;
      }
    }
  }
  .dependencies-inner {
    margin: 2em 0;
    max-width: @gridRowWidth;
  }
  // Dependencies Page
  .tests-page {
    a.btn {
      .circleButton();
      margin-top: 2em;
      display: inline-block;
      i {
        margin-left: 1ex;
        font-size: @baseFontSize;
      }
    }
    p {
      max-width: 66%;
    }
    textarea {
      .stickyTextarea();
      &:first-child {
        margin-top: 2em;
      }
    }
  }
  .tests-inner {
    margin: 2em 0;
    max-width: @gridRowWidth;
  }
  // Chatrooms Page
  .chat-rooms {
    .clearfix();
    margin-top: 1em;
  }
  .chat-room-item {
    width: 21em;
    min-height: 34em;
    .outlineFlat();
    border-radius: 4px;
    padding: 0;
    float: left;
    position: relative;
    margin: 0 1em 1em 0;
    &:hover {
      [class^=chat-i] {
        &:before, &:after { transition-duration: .2s;}
        &:before { opacity: 0;}
        &:after { opacity: 1;}
      }
    }
    input[type="checkbox"] {
      margin: 0;
      line-height: 1em;
      height: 1em;
      display: none;
      margin-right: .5em;
      &:not(:checked) {
        ~ span:after {
          opacity: 1;
          transition-duration: .1s;
        }
      }
      ~ span:before {
        content: "\f096";
        font-family: FontAwesome;
        visibility: visible;
        margin-right: 1em;
        position: absolute;
        left: 1em;
      }
      &:checked ~ span:before {
        content: "\f046";
      }
    }
    label {
      span {
        margin-left: 1.5em;
        &:after {
          content: "?";
          opacity: 0;
          transition: .3s opacity ease-in-out;
        }
      }
    }
  }
  .chat-room-head {
    @logoHeight: 20px;
    padding: 1em;
    box-shadow: 0 1px @grayBoxBorder;
    [class^=chat-i] {
      line-height: @logoHeight;
      &:before, &:after {
        content: "";
        width: @logoHeight;
        height: @logoHeight;
        position: absolute;
        right: 0;
        top: 0;
        margin: 1em;
        background-image: url('@{imgPath}/chat-sprite1.png');
        transition: opacity .4s ease-in-out;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
    }
    .chat-i-hip {
      &:before { background-position: 0 @logoHeight;}
      &:after  { background-position: 0 0          ;}
    }
    .chat-i-camp {
      &:before { background-position: -@logoHeight -@logoHeight;}
      &:after  { background-position: -@logoHeight  0          ;}
    }
    .chat-i-flow {
      &:before { background-position: (-@logoHeight * 2) -@logoHeight;}
      &:after  { background-position: (-@logoHeight * 2)  0          ;}
    }
    .chat-i-irc {
      &:before { background-position: (-@logoHeight * 3) -@logoHeight;}
      &:after  { background-position: (-@logoHeight * 3)  0          ;}
    }
  }
  .chat-room-body {
    .clearfix();
    section:first-of-type {
      padding: 1em;
    }
    section:last-of-type {
      position: absolute;
      bottom: 3em;
      width: 100%;
      padding: 0 1em;
      .box-sizing(border-box);
    }
    input[type="text"] {
      .stickyInput();
    }
  }
  .chat-room-foot {
    box-shadow: 0 -1px #ddd;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    &:empty {
      padding-top: 3em;
    }
    label {
      padding: 1em;
      span {
        margin-left: 1.5em;
      }
    }
    label {
      margin: 0;
      line-height: 1em;
      height: 1em;
    }
    i {
      font-size: 10px;
      float: right;
      line-height: 1.300em;
    }
    .tooltip {
      position: relative;
    }
  }
  .chat-room-save {
    display: block;
    margin: 2em 0;
    input {
      &[type="submit"] {
        .circleButton();
        font-size: 1em;
      }
    }
  }
  // SSH Keys Page
  .sshkeys-page {
    table {
      .skin_table();
      margin: 2em 0;
      th {
        text-align: left;
        &:last-child {
          width: 1%;
        }
      }
      td {
        vertical-align: middle;
      }
    }
    input {
      &[type="submit"] {
        .circleButton();
        display: inline-block;
      }
      &[type="text"] {
        .stickyInput();
        max-width: 250px;
      }
    }
  }
  .sshkeys-inner {
    margin: 2em 0;
    max-width: @gridRowWidth;
    label.sticky {
      .stickyLabel();
    }
    a {
      .tableDrawerBtn();
      line-height: 1em;
      > i {
        padding: 0;
        padding-left: 7.5em;
      }
    }
  }
  // Heroku Page
  .heroku-step {
    margin-bottom: 3em;
    h4 {
      margin: 1em 0;
    }
    input[type="submit"] {
      outline: none;
    }
    .set-user {
      .circleButton(@grayLightest, @green);
    }
    .remove-user {
      .circleButton(@grayLightest, @redLight);
    }
  }
  .heroku-item {
    > h2 {
      display: none;
    }
  }
}
