@import "../vendor/bootstrap-1.4.0.min";

.border-radius(@radius: 5px) {
   webkit-border-radius: @radius;
   moz-border-radius: @radius;
   border-radius: @radius;
}

.blue-line(@width: 3px) {
   border-bottom: @width solid #105aaf;
}

body {
   /* Move the content so the Bootstrap topbar doesn't sit over it*/
   background:  url(../../../img/outer/bg_pattern.png);
   padding-top: 40px;
}

.sidebar-header {
   text-align: center;
}

#latest-build-header {
   padding-bottom: 20px;
}

.add-button {
   a { color: white; }
   a:hover { color: white; }
}

.label.important#white {
   a { color: white; }
   a:hover { color: white; }
}

.build-row {
  cursor: pointer;
  tr:hover { background-color: #aaaaaa; }
}

.add-row {
  cursor: pointer;
  tr:hover { background-color: #aaaaaa; }
}

/* For developers, highlight the environment */
.env-production { background-color: red; }
.env-staging { background-color: yellow; }
.env-development { background-color: blue; }
.env-test { background-color: green; }


#first-use-message {
   margin-top: 100px;
   padding-left: 20px;
   text-align: center;
}

#build-messages {
   text-align: center;
   font-weight: strong;
}

#first-use-text {
   text-align: justify;
}

#none-message {
   text-align: center;
}

#still-running-message {
   text-align: center;
}

.build_status {
   a { color: white; }
   a:hover { color: white; }
}

.content {
   padding-left: 20px;
}

.project-name {
   max-width: 170px;
   word-wrap: break-word;
}


.build-table {
   dt {
      width: 100px;
      float: left;
   }

   dd {
      display: block;
   }
}

.build-output  {
   .command {
      font-weight: bold;
      font-size: 18px;
   }

   .ah_wrapper {
      overflow: hidden; // put the contents beside each other
      margin: 4px 0px; // space between commands

      @green:  #57A957;
      @red: #EE5F5B;
      @yellow: #E0C91B;

      .button {
         float: left; // put to the right of .command
         .border-radius;
         background-repeat: no-repeat;
         background-position: center;
         margin-right: 7px; // space between button and command
         height: 30px; // the button has no size without this
         width: 30px; // the button has no size without this

         &.success {
            &.contents { background-image: url("/img/green_minus.png"); }
            &.contents.minimize { background-image: url("/img/green_plus.png"); }
         }

         &.failed {
            &.contents { background-image: url("/img/red_minus.png"); }
            &.contents.minimize { background-image: url("/img/red_plus.png"); }
         }

         &.timedout {
            &.contents { background-image: url("/img/red_minus.png"); }
            &.contents.minimize { background-image: url("/img/red_plus.png"); }
         }

         &.running {
            &.contents { background-image: url("/img/green_minus.png"); }
            &.contents.minimize { background-image: url("/img/green_plus.png"); }
         }

      }

      .success { background-color: @green; }
      .failed { background-color: @red; }
      .running { background-color: @yellow; }
      .timedout { background-color: @red; }

      .command {
         overflow: hidden; // put to the left of .button
         padding: 5px 0 5px 20px;
         .border-radius;
      }
   }


   .time {
      font-size: 14px;
   }

   .output > span.err {
      background-color: #ffdddd;
   }

   .output > span.out {
      background-color: #ddffdd;
   }
}


/*
 * Billing page
 */


#plans {

   @color: #DDF4FB;

   .move-up {
      margin-top: -50px;
   }

   .navigation {
     margin-top: 100px;
     margin-top: 30px;

     .back {}
     .next {
       position: absolute;
       right: 10%;
     }
   }

   .selected {
      z-index: 1;
      position: relative;
      background-color: @color;
      .border-radius;
   }

   #per-developer-plan {
      margin-top: 30px;
      font-size: 18px;
   }

   #thanks {
      margin-top: 50px;
      text-align: center;
   }

   #team-button {
      margin-left: 95px;
   }

   #sources {
      min-width: 150px;
      max-width: 150px;
   }

   #username {
      min-width: 150px;
      max-width: 150px;
   }

   #sources > ul {
     margin-bottom: 0px;
     margin-left: 5px;
     list-style-type: none;
   }

   #payment-form {
      background-color: @color;
      .border-radius;
      padding-top: 12px;
      padding-bottom: 20px;
      #warning {
        width: 290px;
      }
      #charge-button {
         margin-left: 120px;
      }
   }


   #team {
      #total {
         padding-top: 20px;
         font-weight: bold;
         font-size: 24px;
      }

      #name {
         min-width: 150px;
         max-width: 150px;
      }
   }


   .pricing {
      #team-plan-button {
         text-align: center;
      }

      .titles > div {
         width: 240px;
         padding: 3px 2px 3px 0;
         text-align: right;
         height: 33px;
         font-size: 20px;
      }


      .reason {
        margin-bottom: 10px;
        padding: 0px 30px; // override padding above
      }


      .titles > .reason {
         z-index: 2; // in front of the highlighted plan
         position: relative;
         width: 900px;
         background-color: #D1EED1;
         height: 35px;
         text-align: center;
         margin-left: 260px;
      }

      .plan > div {
         text-align: center;
         height: 33px;
         padding: 3px 0 3px 0;
      }

      .price {
         font-size: 18px;
      }

      .name {
         font-weight: strong;
         font-size: 23px;
      }

      .plan > .tick {
         color: green;
         font-size: 20px;
      }

      .tick {
         padding-top: 3px;
      }

      .plan > .parallelism {
         font-size: 24px;
      }

      .plan > .limits {
         padding-top: 5px;
         font-size: 24px;
         line-height: 0.5;
      }

      .asterix {
         font-size: 18px;
      }

      .support {
         font-size: 20px;
      }

      .btn {
         height: 40px;
         font-size: 24px;
         width: 120px;
      }
   }
}

#new-plans {

   @color: #DDF4FB;
   @radius: 5px;
   table tr:first-child th:first-child {
      -moz-border-radius-topleft: @radius;
      -webkit-border-top-left-radius: @radius;
      border-top-left-radius: @radius;
   }

   table tr:first-child th:last-child {
      -moz-border-radius-topright: @radius;
      -webkit-border-top-right-radius: @radius;
      border-top-right-radius: @radius;
   }

   table tr:last-child td:first-child {
      -moz-border-radius-bottomleft: @radius;
      -webkit-border-bottom-left-radius: @radius;
      border-bottom-left-radius: @radius;
   }

   table tr:last-child td:last-child {
      -moz-border-radius-bottomright: @radius;
      -webkit-border-bottom-right-radius: @radius;
      border-bottom-right-radius: @radius;
   }

   .pills.larger a {
      font-size: 22px;
   }

   table.plan {
      .border-radius;
      border-collapse: collapse;
   }


   td, th {
      vertical-align: middle;
      width: 220px;
      text-align: center;
      padding: 1em;
      border-top: 0px;
      border-bottom: 0px;
      font-size: 24px;
   }

   td.title, th.title {
      background-color: #105aaf;
      color: white;
      border: 0px;
   }

   td.title {
      font-size: 18px;
   }

   td.col1, th.col1 {
      background-color: rgba(16, 90, 175, 0.25);
   }

   td.col2, th.col2 {
      background-color: rgba(16, 90, 175, 0.40);
   }

   td.col3, th.col3 {
      background-color: rgba(16, 90, 175, 0.55);
   }

   td.col4, th.col4 {
      background-color: rgba(16, 90, 175, 0.70);
   }

   .name {
      .blue-line;
   }

   tr.name > td {
      padding: 10px;
      font-size: 36px;
   }

   tr:hover {
      filter: alpha(opacity=90);
      opacity: 0.9;
   }

   .reason {
      td {
         padding: 8px 5px 0 5px;
         font-size: 20px;
      }
   }

   .price {
      .blue-line;
      td {
         line-height: 1.3;
         font-size: 19px;
         padding: 8px 10px 10px 10px;
      }
   }

   .price > td > button {
      font-size: 18px;
   }

   .projects {
   }

   .concurrency {
   }

   .collaborators {
      .blue-line;
   }

   .feature {
   }
}

.dont_build {
   .build_log {
      text-decoration: line-through;
   }

   .not_run_message {
      text-align: center;
   }
}
