// Bootstrap
// -------------------------
@import "../../vendor/bootstrap/less/reset.less";
@import "variables.less";
@import "../../vendor/bootstrap/less/mixins.less";
@import "../../vendor/bootstrap/less/scaffolding.less";
@import "../../vendor/bootstrap/less/grid.less";
@import "../../vendor/bootstrap/less/layouts.less";
@import "../../vendor/bootstrap/less/type.less";
@import "../../vendor/bootstrap/less/code.less";
@import "../../vendor/bootstrap/less/forms.less";
@import "../../vendor/bootstrap/less/tables.less";
@import "../../vendor/bootstrap/less/dropdowns.less";
@import "../../vendor/bootstrap/less/wells.less";
@import "../../vendor/bootstrap/less/component-animations.less";
@import "../../vendor/bootstrap/less/close.less";
@import "../../vendor/bootstrap/less/buttons.less";
@import "../../vendor/bootstrap/less/button-groups.less";
@import "../../vendor/bootstrap/less/alerts.less";
@import "../../vendor/bootstrap/less/navs.less";
@import "../../vendor/bootstrap/less/navbar.less";
@import "../../vendor/bootstrap/less/breadcrumbs.less";
@import "../../vendor/bootstrap/less/pagination.less";
@import "../../vendor/bootstrap/less/pager.less";
@import "../../vendor/bootstrap/less/modals.less";
@import "../../vendor/bootstrap/less/tooltip.less";
@import "../../vendor/bootstrap/less/popovers.less";
@import "../../vendor/bootstrap/less/thumbnails.less";
@import "../../vendor/bootstrap/less/labels-badges.less";
@import "../../vendor/bootstrap/less/progress-bars.less";
@import "../../vendor/bootstrap/less/accordion.less";
@import "../../vendor/bootstrap/less/carousel.less";
@import "../../vendor/bootstrap/less/hero-unit.less";
@import "../../vendor/bootstrap/less/utilities.less";

// FontAwesome
// -------------------------
@import "../../vendor/font-awesome/less/font-awesome.less";
@fontAwesomePath: "../../vendor/font-awesome/font";

// Image path helper
// -------------------------
@imgPath: "../../img";


#app {
   background:  url(../../../img/outer/bg_pattern.png);
   min-width: 640px;

   // Move the content so the Bootstrap topbar doesn't sit over it
   padding-top: 70px;

   // Fix for the intercom help button obscuring text
   padding-bottom: 40px;
}

// Basic Typography
h1 {
  color: #1c508b;
}
h2 {
  color: #366aa4;
}

@import "../../vendor/old-intercom.less";
@import "labels.less";
@import "functions.less";
@import "terminal.less";
@import "navbar.less";


.label.label-important#white {
   a { color: white; }
   a:hover { color: white; }
}

.build-row {
  cursor: pointer;
  tr:hover { background-color: #aaaaaa; }
}

.popover-container {
	position: relative;
	.popover.left {
		margin-left: -1px; // prevent mouseing out of popover-container
	}
}

.add-row {
  cursor: pointer;
  tr:hover { background-color: #aaaaaa; }
}


#first-use-message {
   margin-top: 100px;
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
}

#build-messages {
   text-align: center;
   font-weight: strong;
}

#first-use-text {
   text-align: justify;
}

#none-message {
   text-align: center;
}

#still-running-message {
   text-align: center;
}

.content {
   padding-left: 20px;
}

.project-name {
   max-width: 130px;
   word-wrap: break-word;
}

.available-project-name {
   max-width: 150px;
   word-wrap: break-word;
}


.build-table {
  background: #EFF2F6;
  border-top: 1px solid #D7DCE3;
  border-bottom: 1px solid #D7DCE3;
  width: 100%;
  top: 83px;
  color: #596e8a;
   dt {
      width: 100px;
      float: left;
      display: block;
      clear: left;
      color: #134374;
      text-align: right;
      margin-right: 10px;
   }

   p.reponame {
	   font-weight: bold;
   }

   dd {
      float: left;
      display: block;
   }

   padding-right: 40px;
}

.reposition {
  margin-top: 100px;
}

.action-source {
   .border-radius;
   float: right;
   margin-right: 10px; // move back from the right edge

   padding: 0px 2px; // padding, but without increasing the height
   background: #fff;
   // background-color: rgba(255, 255, 255, 0.2); // make slightly lighter

   font-style: italic;
   // opacity: 0.7; // better than using grey
   font-size: 15px;
   font-weight: normal; // unbolden
   color: #174278;
   .text-shadow(0,-1px,0px, rgba(0,0,0, 0)); // Remove text shadow
}

.action-source-inner:hover {
   border-bottom: 2px solid;
   cursor: help;
}

.type-divider {
   text-align: center;
   border-bottom: 1px solid #777;
   line-height:0.1em;
   margin: 15px 0 7px;

   span {
      background: url("../../../img/outer/bg_pattern.png");
      color: #777;
      font-size: 16px;
      padding: 0 10px;
   }
}

.build-output-active {
  background: #d7dce3;
  .action_header {
    background: #1a3d64;
    .text-shadow(0,-1px,0px, rgba(0,0,0, .8));
  }
}
.build-output  {
  .border-radius;

  .box-shadow(inset 1px 1px 0 rgba(255,255,255, .2));
  margin-bottom: 5px;
  // color: #4b6890;
  color: #AEBDCB;
  font-weight: normal;

  .action_header {
    color: #eff2f6;
    // text-transform: capitalize;
    font-weight: bold;
    .text-shadow(0,-1px,0px, rgba(0,0,0, .6));
    .time {
      color: black;
      font-weight: normal;
      .text-shadow(0,-1px,0px, rgba(0,0,0, 0));
    }
  }

  pre {
    margin-top: 5px;
  }
  .detail {
     background: #1a3d64;
     border: 1px solid #132d49;
     border-top: 1px solid #132d49;
    .box-shadow(inset 0px 1px 0 rgba(255,255,255, .2));
     margin-top: 5px;
     padding: 5px 10px;
     .bash-command {
        color: #94A1A1;
     }

  }
   .command {
      font-weight: bold;
      font-size: 18px;
   }

   .ah_wrapper {
      overflow: hidden; // put the contents beside each other

      @green:  #57A957;
      @red: #EE5F5B;
      @yellow: #E0C91B;

      .button {
         float: left; // put to the right of .command
         .border-radius;
         background-repeat: no-repeat;
         background-position: center;
         margin-right: 7px; // space between button and command
         height: 30px; // the button has no size without this
         width: 30px; // the button has no size without this

         &.success {
            &.contents { background-image: url("/img/green_minus.png"); }
            &.contents.minimize { background-image: url("/img/green_plus.png"); }
         }

         &.failed {
            &.contents { background-image: url("/img/red_minus.png"); }
            &.contents.minimize { background-image: url("/img/red_plus.png"); }
         }

         &.timedout {
            &.contents { background-image: url("/img/red_minus.png"); }
            &.contents.minimize { background-image: url("/img/red_plus.png"); }
         }

         &.running {
            &.contents { background-image: url("/img/green_minus.png"); }
            &.contents.minimize { background-image: url("/img/green_plus.png"); }
         }

      }

      .success { background-color: @green; }
      .failed { background-color: @red; }
      .running { background-color: @yellow; }
      .timedout { background-color: @red; }

      .command {
         overflow: hidden; // put to the left of .button
         padding: 5px 0 5px 20px;
         .border-radius;
      }
   }


   .time {
      font-size: 14px;
   }

   // .output > span.err {
   //    background-color: #ffdddd;
   // }

   // .output > span.out {
   //    background-color: #ddffdd;
   // }
}


/*
 * Billing page
 */

#new-plans {

   #payment-form {
      background-color: @color;
      .border-radius;
      padding-top: 12px;
      padding-bottom: 20px;
      #warning {
         width: 290px;
      }
      #charge-button {
         margin-left: 120px;
      }
   }


   @color: #DDF4FB;
   @radius: 5px;
   table tr:first-child th:first-child {
      -moz-border-radius-topleft: @radius;
      -webkit-border-top-left-radius: @radius;
      border-top-left-radius: @radius;
   }

   table tr:first-child th:last-child {
      -moz-border-radius-topright: @radius;
      -webkit-border-top-right-radius: @radius;
      border-top-right-radius: @radius;
   }

   table tr:last-child td:first-child {
      -moz-border-radius-bottomleft: @radius;
      -webkit-border-bottom-left-radius: @radius;
      border-bottom-left-radius: @radius;
   }

   table tr:last-child td:last-child {
      -moz-border-radius-bottomright: @radius;
      -webkit-border-bottom-right-radius: @radius;
      border-bottom-right-radius: @radius;
   }

   table.plan {
      .border-radius;
      border-collapse: collapse;
   }


   td, th {
      vertical-align: middle;
      width: 220px;
      text-align: center;
      padding: 1em;
      border-top: 0px;
      border-bottom: 0px;
      font-size: 22px;

      &:first-child {
        text-align: right;
      }
   }

   td { font-size: 16px; }

   td.title, th.title {
      color: #1b4f8a;
      padding: 20px 10px 10px;
   }

   td.title {
      font-size: 16px;
   }

   .tick {
      background: url("../../../img/check.png") no-repeat center center;
   }

   .col2 { background-color: rgba(16, 90, 175, 0.05) }
   .col3 { background-color: rgba(16, 90, 175, 0.15) }
   .col4 { background-color: rgba(16, 90, 175, 0.20) }
   .col5 { background-color: rgba(16, 90, 175, 0.25) }

   .name, .reason, .price {
      border-bottom: 0px;
   }

   tr { border-bottom: 1px solid hsla(214, 28%, 95%, 0.3) }

   tr.name > td {
      padding: 10px;
      font-size: 36px;
   }

   tr:hover {
      filter: alpha(opacity=90);
      opacity: 0.9;
   }

   .reason {
      td {
         color: #366aa4;
         padding: 0 0 10px;
         font-size: 16px;
      }
   }

   .price td {
      line-height: 1.3;
      font-size: 19px;
      padding: 8px 10px 15px 10px;
   }

   .price > td > button {
      width: 180px;
      font-size: 18px;
   }

   #thanks {
      margin-top: 50px;
      text-align: center;
   }

   .available-parallelism, .firewall, .price {
      border-bottom: 3px solid #105aaf;
   }


}

   .dont_build {
      .build_log {
         text-decoration: line-through;
      }

      .not_run_message {
         text-align: center;
      }
   }

td.build_status {
  vertical-align: middle;
  text-align: center;
}

.build_status {
  text-transform: uppercase;
}

.follow-align {
   padding-bottom: 10px;
   text-align: center;
}

.follow-status {
   margin-top: 15px
}

.settings-list {
   h2 {
      margin-top: 40px;
      margin-bottom: 10px;
   }

   li {
      font-size: 16px;
      padding: 10px;
   }

}

.collaborators-table {
  td {
    vertical-align: middle;
  }
}


#org-sidebar {
  background: #eff2f6;
  color: #6e839e;

  .nav-header {
    background: #d7dce3;
    color: #455C78;
  }
  li {
    cursor: pointer;

    clear: both;
    	a {
	    	height: 25px;
	    	width: 100%;
	    	display: block;
	    	padding: 10px 15px;
    	}
    	&.active {

    	}
  }
  .orgname {
  	.pull-left();
  	padding-top: 3px;
  	overflow: hidden;
  	margin-left: 3%;
  	width: 70%;
  }
  img {
    .pull-left();
    width: 25px;
    height: 25px;
  }
  i {
    width: 5%;
    margin-right: 0;
    padding-top: 5px;
    .pull-right();
  }
}

.followToggleWrapper {
	button {
		.pull-right();
	}

}

#followed-sidebar{
  table-layout: fixed;

  td.edit {
    width: 20px;
    padding: 0px;
  }
  td.build-num{
    padding: 0px;
    padding-right: 2px;
  }
}

// Custom Mixins
// Transitions
// TODO: Remove, included in Bootstrap 2.0
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Full-width button
// TODO: Remove, included in Bootstrap 2.0
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.well + .btn-block {
  margin-top: 10px;
}

// Custom Scaffolding
[class*="row"] {
  & > .span-flex {
    width: auto;
    float: none;
    padding-right: 270px;
  }

  .menu-left + .span-flex {
    padding-right: 0;
    padding-left: 245px;
  }

  & > .span-menu {
    width: 250px;
    float: right;
  }

  .span-menu.menu-left  { float: left }

}
// Navigation Menu Object
.nav-menu {
  margin-left: 0;
}

.nav-menu-row {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  padding: 3px 15px;
  .transition(background-color 300ms);

  &:hover {
    background: #eee;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

.nav-menu-item {
  .transition(color 600ms);

  &:hover {
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }
}

[class*="nav-menu-"] {
  display: inline-block;
  vertical-align: middle;
}

.nav-menu-icon {
  width: 16px;
  height: 16px;

  & > [class*="icon-"] {
    margin-left: -3px;
    color: #999;
    font-size: 18px;
    .transition(color 600ms);
  }

  &:hover > [class*="icon-"] {
    color: #777;
    text-decoration: none;
  }
}

#build-log-container {
	#build-log-header {
		clear: both;
	}
}

#inviteForm {
	input {
		width: 270px;
	}
}
