#topbar {
  .navbar {
    margin-bottom: 0;
  }
  .navbar-inner {
    border-radius: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    @navbarHeight: 50px;

    // the bar itself
    background: @blueDarker;
    height: @navbarHeight + 2;
    min-width: 500px;
    border-top: none;

    // circle logo
    a.brand {
      margin-top: 4px;
      margin-left: 20px;
      background: url(../../../img/logo.svg) no-repeat;
      background-size: contain;
      width: 150px;
      height: 20px;
    }

    // rest of the nav elements
    ul.nav {
      top: 2px;

      > li {
        height: @navbarHeight;
        line-height: @navbarHeight;
      }

      // environment element
      li {
        margin: 0 5px;
      }

      &.crumbs {
        li {
          a, span {
            display: inline-block;
            font-size: .9em;
            font-weight: normal;
            color: white;
          }

          span.label {
            background-color: inherit;
            padding: 5px;
          }

          &:hover {
            span.label {
              background: @blueDark;
              .box-shadow(inset 0 0 3px darken(@blueDark, 10%));
            }
            span.label-active {
              background: @blueDarkest;
            }
          }
          span.label-active {
            background: @blueDark;
          }

          &.build, &.branch, &.rev, &.project_settings, &.org_settings {
            &:before {
              content: '/';
              position: absolute;
              left: -6px;
              top: 1px;
              color: white;
              font-size: 1.2em;
            }
          }

          &.project, &.org {
            .label {
              font-size: 15px;
              padding: 8px;
            }
          }
        }
      }
      li {
        // rightside nav elements
        &.pane:hover {
          background: @blueDark;
        }

        position: relative;
        a {
          cursor: pointer;
          line-height: @navbarHeight; // keeps this nav from overflowing the box
          font-size: 15px;
          padding: 0px 10px;
          color: white;
          .text-shadow(0, 1px,0px, #1B3E69);
          &.label-success {
            &:hover { background: darken(@green, 10%); }
          }
        }

        // dropbox header
        &.open > a.dropdown-toggle {
          background-color: @blueDark;
        }

        .dropdown-toggle {
          .gravatar {
            border-radius: 5em;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            vertical-align: bottom;
            // oddly hard to automatically center, so I'm calculating it's position.
            margin-bottom: floor((@navbarHeight - 30px) / 2);
            position: relative;
          }
        }

        ul.dropdown-menu {
          margin-top: 0;
          border-top: none;
          &:after {
            display: none; // get rid of caret
          }
        }

        // dropdown menu elements
        .dropdown-menu li {
          margin: 0;
          &:first-child {
            border: none;
          }

          a {
            height: 40px;
            line-height: 40px;
            color: @white;
            padding: 0 10px;
            &:hover {
              background: @blue;
            }
            i {
              font-size: .8em;
              padding-right: .8em;
            }

          }
        }

        .dropdown-menu {

          &:before {
            border-bottom: 0;
          }
          &:after {
            border-bottom: 6px solid @blueDark;
          }
          padding: 0;
          border-radius: 0;
          background: @blueDark;

        }

        .env-production, .env-staging, .env-development, .env-test {
          .label;
          font-weight: normal;
          padding: 6px 8px;
          background: @blueDark;
        }

        .env-production { @prodRed: #c45b23; background-color: @redDark; }
        .env-staging { @stagingYellow: #e2c256; background-color: @stagingYellow; color: black;}
        .env-development { background-color: @blueDark; }
        .env-test { @testGreen: #178261; background-color: @greenDark; }

      }
    }

  }

  // Retina prettyness
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .navbar-inner {
      a.brand {
        background: url(../../../img/circleci-top-logo@2x.png) no-repeat;
        background-size: 150px 41px;
      }
    }
  }
}
