#container_parent {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-left: 8.5%;
  margin-right: 8.5%;
}

.containers {
  background-color: whitesmoke;
  height: 30px;
  margin: 0px;
}

.containers.stuck {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 1;
}

#topbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.terminal-window {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* This .class { ... }
 *      .class:not(.other_class) { position:absolute }
 *      .class.other_class { position:relative }
 * trick for setting the panel position attributes is inspired by
 * http://tympanus.net/codrops/2013/09/05/sliding-horizontal-layout/
 */
.container {
  width: 100%;
  top: 0px;
}

.container:not(.current_container) {
  position: absolute;
}

.container.current_container {
  position: relative;
}
