.org-page {
  #subpage {
    .well {
      &.success {
        border-left: 5px solid @green;
      }
      &.fail {
        border-left: 5px solid @lightRed;
      }
      .border-radius(0px);
      border: 1px solid #eee;
      background-color: white;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    ul { list-style-type: none; }

    .followed-projects {
      margin-bottom: 20px;
    }

    .followers-container {
      margin-left: 10px;

    }
    .follower-container {
      margin-left: 10px;
      margin-bottom: 10px;
      .gravatar {
        width: 30px;
        height: 30px;
      }
    }

    .edit-icon {
      color: #999;
      .transition(color 600ms);
      &:hover {
        color: #777;
        text-decoration: none;
      }
    }
    .users {
      .gravatar {
        vertical-align: text-top;
        margin-right: 10px;
        width: 45px;
        height: 45px;
      }
      .row-fluid {
        .well:nth-of-type(odd) {
          margin-left: 0
        }
      }
    }
    .gravatar {
      border: 2px solid @blueDarker;
      .border-radius(5px);
    }
  }
}
