.org-page {
  #subpage {
    ul { list-style-type: none; }

    .followed-projects {
      margin-bottom: 20px;
    }

    .followers-container {
      margin-left: 10px;
    }
    .follower-container {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .edit-icon {
      color: #999;
      .transition(color 600ms);
      &:hover {
        color: #777;
        text-decoration: none;
      }
    }
  }
}
