
.collaborators-table td { vertical-align: middle; }
.spec_form textarea { position: relative; }
#account-settings {
  line-height: 1.5em;
  color: @grayLight;
  margin-top: -1vw;
  a {
    .dark-links;
    color: @blue;
  }
  small {
    color: @grayLight;
  }
  .btn {
    outline: none;
  }
  .account-top {
    border-bottom: 1px solid #ddd;
    padding: 0 2vw;
  }
  .nav {
    border: none;
    &.nav-tabs {
      max-width: @minimumContentWidth;
      margin: 0 auto;
      .active a {
        background: none;
        border-bottom: 2px solid @blue;
        color: @blue;
      }
    }
    a {
      color: @grayLight;
      border: none;
      border-bottom: 2px solid transparent;
      margin-bottom: -1px;
      margin-left: -4px;
      line-height: 5em;
      border-radius: 1px;
      padding: 0 1em;
      &:hover {
        color: @blue;
        background: none;
        border: none;
        border-bottom: 2px solid @blue;
      }
    }
  }
  legend, h2 {
    font-weight: bold;
    color: @gray;
    font-size: 2em;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 2em;
    border: none;
  }
  h4 {
    font-weight: bold;
    color: @gray;
    margin: 0;
    font-size: 1em;
    line-height: 2em;
  }
}
.settings-item {
  padding: 2vw;
  .settings-item-inner {
    max-width: @minimumContentWidth;
    margin: 0 auto;
  }
}

@import "settings/notification.less";
@import "settings/api.less";
@import "settings/ssh.less";
@import "settings/heroku.less";
@import "settings/plans.less";
