
pre {
  color: #94a1a1;
  background: #002b36;
  .pre {
    white-space: pre;
  }
  &.solarized {
    .brblack { color: #002b36; }
    .black { color: #073642; }
    .brgreen { color: #586e75; }
    .bryellow { color: #657b83; }
    .brblue { color: #839496; }
    .brcyan { color: #93a1a1; }
    .white { color: #eee8d5; }
    .brwhite { color: #fdf6e3; }
    .yellow { color: #b58900; }
    .brred { color: #cb4b16; }
    .red { color: #dc322f; }
    .magenta { color: #d33682; }
    .brmagenta { color: #6c71c4; }
    .blue { color: #268bd2; }
    .cyan { color: #2aa198; }
    .green { color: #859900; }
    .italic { font-style: italic; }
  }
  p.out {
    // padding-left: 13px;
    // color: #869800; // Green
    color: #94A1A1;
    span {
      background-position: 0 0px;
    }
  }
  p.err {
    // padding-left: 13px;
    color: #e83529;
    span {
      background-position: 0 -14px;
    }
  }
  p {
    position: relative;
    padding-left: 13px;
    margin: 0px;
    span.bubble {
      position: absolute;
      left: 0px;
      display: block;
      width: 5px;
      height: 14px;
      background: url(../../../img/line-test-bubbles.png) no-repeat;
    }
  }
}
