.admin-recent-builds {
  .builds-table {
    .table;
    .table-striped;
    .table-condensed;
    .well;
  }
}

#users {
  table {
    .skin-table();
    table-layout: fixed;
    th, td { width: 33%; }
    td {
      button {
        font-weight: normal;
      }
    }
    td:last-child { text-align: left; }
  }
}
