.admin-recent-builds {
  .builds-table {
    .table;
    .table-striped;
    .table-condensed;
    .well;
  }
}

#users {
  table {
    margin: 0 15px 15px 15px;
    width: calc(~'100% - 30px');
    table-layout: fixed;
    th, td { width: 33%; }

    .head {
      font-size: @fontSizeSmall;
      color: @gray;
      border-bottom: 1px solid @grayLighter;

      tr {
        height: 30px;
      }

      th {
        padding-left: 10px;
      }
    }

    .body {
      tr {
        height: 30px;
        font-size: @fontSizeSmall;
        color: @gray;
        border-top: 1px solid @grayLighter;
        border-bottom: 1px solid @grayLighter;

        td {
          padding-left: 10px;
        }

        &:hover {
          background: @whiten;
        }
      }
    }
  }
}
