.alert {
  position: relative;
  margin-bottom: 15px;

  .alert-icon {
    padding-right: ((2 / 3) * 15px);
    margin-left: 0;
    margin-right: 10px;

    &.warning {
        color: @yellow;
    }
  }

  &.expanded {
    padding: 0;
    border: none;

    &.alert-danger {
      .alert-header {
        .flexy();
        background: lighten(@red, @brand-lighten-ratio-v2 * 0.66);
        border-bottom: 1px solid @red;
      }

      .source-name:after {
        content: "—";
        padding: 0 4px;
      }

      hr {
        border-top-color: @red;
      }
    }

    .alert-header {
      padding: ((2 / 3) * 15px) 15px;
      text-transform: uppercase;
    }

    .alert-body {
      padding: 15px;
    }
  }

  // TODO: Make a mixin for all of this in a rewerite to Sass
  &.alert-success {
    background-color: @greenLightest;
    border-color: @greenLightest;
  }

  &.alert-warning {
    background-color: @yellowLightest;
    border-color: @yellowLightest;
  }


  &.offer {
    position: relative;
    background-color: @greenLightest;

    a {
      cursor: pointer;
    }
  }

    .dismiss {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
    }

  &.iconified {
    .flexy(row);
  }
}

