@build-padding: 12px;
@build-item-inner-border: 1px solid rgba(0, 0, 0, 0.1);

.first-run-hint {
  padding-right: 1em;
}

.dashboard {
  margin-top: 15px;

  a {
    color: @blueDark;
  }

  .alert {
    margin: 15px 0 0 0;
  }

  .pay-now-button {
    button {
      .button_outline(@blue, (@tile / 3));
    }
  }
}

.build-diagnostics {
  > .diagnostics-header, .diagnostics > li {
    .flexy();
    padding: 10px 15px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.05);

    > .icon {
      width: 18px;
      margin-right: 10px;
      text-align: center;
    }

    > .body {
      .flex(1 0 auto);
    }
  }

  > .diagnostics-header {
    background-color: @state-info-bg;
    color: @blacken;
    cursor: pointer;

    > .icon > i {
      font-size: 18px;
    }

    > .body > .title {
      margin-right: 10px;
      font-weight: 600;
    }

    .fa.fa-chevron-down {
      color: @whiten;
      display: inline-block;
      transition: all .2s ease;
      text-shadow: 1px 0   @gray,
                  -1px 0   @gray,
                   0   1px @gray,
                   0  -1px @gray;

      font-size: 1.2em;
    }
  }

  .diagnostics {
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 10000px;
    // Wait for the chevron to turn before revealing.
    transition: max-height 1ms .2s;
  }

  &.collapsed {
    .diagnostics {
      max-height: 0;
      transition: none;
    }

    .fa.fa-chevron-down {
      .rotate(180);
    }
  }
}

.recent-time {
  white-space: nowrap;
  font-family: @font-family-monospace;
  font-size: @codeFontSize;
  min-width: 55px;

  a {
    text-align: center;
  }
}

.recent-log {
  word-break: break-all;
}

.recent-builds-table {
  width: 100%;

  tbody {
    tr {
      border-bottom-style: dotted;
      cursor: pointer;
      &:hover {
        a {
          color: @blueLight;
        }

        .recent-status-badge a {
          color: @white;
        }
      }
    }
  }

  tr {
    border-bottom: 1px solid @grayBoxBorder;
  }

  th {
    font-weight: normal;
    color: @blacken;
    white-space: nowrap;
    text-align: left;
    padding: 2em .5em 2em;
    height: (@baseFontSize - 1);
    line-height: (@baseFontSize - 1); // minus 1px to compensate for border height

    &:first-child {
      padding-left: @baseFontSize;
    }

    &.condense {
      .box-sizing(border-box);
      width: 70px;
      text-align: center;
    }
  }

  td {
    &:first-child {
        padding-left: @baseFontSize;
    }
  }

  a {
    .box-sizing(content-box);
    display: inline-block;
    width: 100%;
    color: @gray;
  }
}

.recent-builds-pager {
  .flexy();
  .justify-content(space-between);

  margin: 1em;

  a:hover {
    text-decoration: underline;
  }

  a.disabled {
    color: @grayLighter;
    cursor: default;
    pointer-events: none;
  }
}

.build {
  .flexy;
  .row;

  margin-bottom: 4px;
  background-color: @white;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);

  a:hover {
    text-decoration: underline;
  }

  .tooltip {
    // Turn off Bootstrap's fade-in.
    opacity: 1;

    .tooltip-arrow {
      display: none;
    }

    .tooltip-inner {
      color: #fff;
      line-height: 1em;
      background: @grayDark;
      border: none;
      padding: 4px 8px;
      border-radius: 16px;
      transform: scale(1.1);
    }
  }

  @media (max-width: @screen-md-max) {
    .flex-direction(column);
    .flex-wrap(nowrap);
    min-width: 285px;
    margin-bottom: 8px;
  }
}

.status-area {
  .flex(0 0 130px);
  padding: 7px (@build-padding / 2);
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  a:hover {
    text-decoration: none !important;
  }

  .build-actions {
    .flexy(center);
    margin-top: 5px;
    vertical-align: middle;

    .cancel-build {
      background: none;
      border: none;
      padding: 0;
      margin: 0;

      color: @grayDark;

      .cancel-icon {
        // Specific margins are a firefox hack:
        // Since it doesn't support flexbox properly in buttons,
        // we have to do a bit of manual positioning.
        margin: 0 7px 1px 4px;
        height: 17px;
        width: 17px;
      }

      .cancel-text {
        .flex(1 0 auto);
        text-align: left;
        font-size: @fontSizeSmall;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: @screen-md-max) {
    width: 100%;
    .flex(0 0 auto);
    border-right: 0;
    border-bottom: @build-item-inner-border;
  }
}

.build-info {
  .flex(1 0 auto);
  padding: (@build-padding / 2) @build-padding;
  border-right: @build-item-inner-border;
  line-height: 1.8;

  .recent-commit-msg {
    // TODO: Make these fiddly margins unnecessary.
    margin-top: 6px;
    margin-bottom: 2px;

    color: @gray;
    font-size: @fontSizeSmall;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // TODO: Instead of this, use flexboxes to make the .recent-commit-msg
    // take up the remaining space.
    @media (max-width: @screen-lg-min) {
      max-width: 440px;
    }

    @media (min-width: 1200px) {
      max-width: 440px;
    }

    @media (min-width: 1400px) {
      max-width: 640px;
    }
  }

  @media (max-width: @screen-md-max) {
    width: 100%;
    border-right: 0;
    border-bottom: @build-item-inner-border;
  }
}

.build-info-header {
  .flexy;
  .justify-content(space-between);
  .flex-wrap(wrap);
}

.contextual-identifier {
  font-size: @baseFontSize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: @grayDarker;
  }

  // TODO: Instead of this, use flexboxes to make the .contextual-identifier
  // take up the remaining space.
  @media (max-width: @screen-lg-min) {
    max-width: 440px;
  }

  @media (min-width: @screen-lg-min) {
    max-width: 440px;
  }

  @media (min-width: 1400px) {
    max-width: 640px;
  }
}

.dashboard-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  opacity: 0.4;
}

@avatar-size: 20px;
.recent-user {
  display: inline-block;

  width: @avatar-size;
  height: @avatar-size;

  margin-right: 8px;

  .dashboard-icon {
    width: @avatar-size;
    height: @avatar-size;
    margin: 0;

    vertical-align: bottom;

    border-radius: 50%;
    opacity: 1;
  }
}

.recent-time {
  font-family: @sansSerifFontFamily;
  color: @grayDark;
}

.recent-log {
  font-family: @monoFontFamily;
  word-break: normal;
}

.metadata {
  .flexy(column);
  border-right: 2px solid transparent;
  width: 214px;

  @media (max-width: @screen-md-max) {
    width: 100%;
    border-right: none;
  }

  .metadata-row {
    .flexy(row, flex-end);
    padding-left: @build-padding;
    padding-right: @build-padding;

    &:first-of-type {
      margin-top: 3px;
    }

    @media (max-width: @screen-md-max) {
      border-bottom: @build-item-inner-border;
      padding: 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .metadata-item {
      .flex(1 0 auto);
      padding-top: 5px;
      padding-bottom: 3px;

      font-size: @fontSizeSmall;

      &:last-child {
        .flex(0 0 40%);
      }

      span {
        vertical-align: middle;
      }

      @media (max-width: @screen-md-max) {
        padding: 8px;

        &:last-child {
          .flex(0 0 50%);
          border-left: @build-item-inner-border;
        }
      }

      &.start-time,
      &.duration,
      &.pull-requests,
      &.revision {
        i{
          font-size: @fontSizeLarge;
          height: 19px; // magic number to make all the things the same height
          margin-right: 8px;
          margin-left: 0;
          padding-top: 1px;
          vertical-align: bottom;
          color: @grayLighter;
        }
      }

      &.pull-requests,
      &.revision {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &.pull-requests {
        padding-left: 3px;
        @media (max-width: @screen-md-max) {
          padding-left: 11px;
        }
      }

      &.revision {
        padding-left: 1px;
        @media (max-width: @screen-md-max) {
          padding-left: 9px;
        }
      }
    }
  }
}

.build.pass .metadata {
  border-color: @brand-success-v2;
}

.build.fail .metadata {
  border-color: @brand-danger-v2;
}

.build.busy .metadata {
  border-color: @blueLight;
}

.build.stop .metadata {
  border-color: @grayLight;
}

.build.queued .metadata {
  border-color: @brand-pending-v2;
}
