.first-run-hint {
  padding-right: 1em;
}

.dashboard {
  &.ui-v2 {
    margin: 0 @grid-gutter-width 0 (@grid-gutter-width / 2);
  }

  .alert {
    margin: 15px 0 0 0;
  }

  .pay-now-button {
    button {
      .button_outline(@blue, (@tile / 3));
    }
  }
}

.build-diagnostics {
  > .diagnostics-header, .diagnostics > li {
    .flexy();
    padding: 10px 15px;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.05);

    > .icon {
      width: 18px;
      margin-right: 10px;
      text-align: center;
    }

    > .body {
      .flex(1 0 auto);
    }
  }

  > .diagnostics-header {
    background-color: @state-info-bg;
    color: @blacken;
    cursor: pointer;

    > .icon > i {
      font-size: 18px;
    }

    > .body > .title {
      margin-right: 10px;
      font-weight: bold;
    }

    .fa.fa-chevron-down {
      color: @whiten;
      display: inline-block;
      transition: all .2s ease;
      text-shadow: 1px 0   @gray,
                  -1px 0   @gray,
                   0   1px @gray,
                   0  -1px @gray;

      font-size: 1.2em;
    }
  }

  .diagnostics {
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 10000px;

    // Wait for the chevron to turn before revealing.
    transition: max-height 1ms .2s;
  }

  &.collapsed {
    .diagnostics {
      max-height: 0;
      transition: none;
    }

    .fa.fa-chevron-down {
      .rotate(180);
    }
  }
}

.recent-time {
  white-space: nowrap;
  font-family: @codeFontFamily;
  font-size: @codeFontSize;
  min-width: 55px;

  a {
    text-align: center;
  }
}
.recent-user {
  white-space: nowrap;
}
.recent-log {
  word-break: break-all;
}

&.ui-v2 {
  .build {
    .row;

    min-height: 75px;
    margin-bottom: 5px;

    background-color: @white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10);
  }

  .recent-log {
    font-size: @fontSizeMini;
    font-family: @monoFontFamilyV2;
    word-break: normal;
  }

  .recent-status-badge {
    padding: 0;
    position: relative;

    a {
      display: block;
      width: 100%;
    }

    .badge-icon {
      @badge-icon-size: 17px;
      position: absolute;
      left: 4px;
      top: 4px;
      height: @badge-icon-size;
      width: @badge-icon-size;
    }
  }
}

.recent-builds-table {
  width: 100%;

  tbody {
    tr {
      border-bottom-style: dotted;
      cursor: pointer;
      &:hover {
        a {
          color: @blueLight;
        }

        .recent-status-badge a {
          color: @white;
        }
      }
    }
  }
  tr {
    border-bottom: 1px solid @grayBoxBorder;
  }
  th {
    font-weight: normal;
    color: @blacken;
    white-space: nowrap;
    text-align: left;
    padding: 2em .5em 2em;
    height: (@baseFontSize - 1);      //
    line-height: (@baseFontSize - 1); // minus 1px to compensate for border height
    &:first-child {
      padding-left: @baseFontSize;
    }
    &.condense {
      .box-sizing(border-box);
      width: 70px;
      text-align: center;
    }
  }

  td {
    &:first-child {
        padding-left: @baseFontSize;
    }
  }

  a {
    .box-sizing(content-box);
    display: inline-block;
    width: 100%;
    color: @gray;
  }
}

.recent-builds-pager {
  .flexy();
  .justify-content(space-between);
  margin: 1em;
  a.disabled {
    color: @gray;
    cursor: default;
    pointer-events: none;
  }
}

&.ui-v2 {
  .recent-status-badge {
    @lighten-ratio: 75%;

    a {
      border-radius: 40px;
      height: 25px;
      background: fadeout(@brand-cancelled-v2, @lighten-ratio);
      
      span {
        font-size: 11px;
        font-weight: 300;
        line-height: 20px;
        text-transform: uppercase;
        color: @black;
      }

      &.pass {
        background: fadeout(@brand-success-v2, @lighten-ratio);
      }

      &.fail {
        background: fadeout(@brand-danger-v2, @lighten-ratio);
      }

      &.busy {
        background: fadeout(@brand-primary-v2, @lighten-ratio);
      }

      &.stop {
        background: fadeout(@brand-cancelled-v2, @lighten-ratio);
      }

      &.queued {
        background: fadeout(@brand-pending-v2, @lighten-ratio);
      }
    }
  }

  .build {
    display: flex;
  }

  @build-padding: 10px;

  .status-area {
    flex: 0 0 125px;
    padding: @build-padding;
    box-shadow: inset -1px 0 rgba(0, 0, 0, 0.05);
  }

  .build-info {
    padding: @build-padding;
    flex-direction: column;
    flex-grow: 1;

    .recent-commit-msg a {
      color: @gray-lighter-v2;
      font-size: 11px;
    }
  }

  .build-info-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contextual-identifier {
    margin-right: auto;
    font-size: 13px;

    a {
      color: @gray-light-v2;
    }
  }

  .metadata {
    display: flex;
    flex-wrap: wrap;
  }

  .metadata-item {
    padding-right: 25px;
    color: @gray-light-v2;
    font-size: 12px;

    &:last-child {
      padding-right: 0;
    }
  }

  .dashboard-icon {
    margin-right: 10px;
  }

  .recent-time {
    font-family: @brand-sans-serif-v2;
  }
}

.recent-status-badge {
  @half_height: (@baseLineHeight / 2);
  padding: @half_height;
  a {
    vertical-align: middle;
    text-align: center;
    background: @grayLight;
    border-radius: @half_height;
    color: @white;
    font-weight: bold;
    font-size: @fontSizeSmall;
    text-transform: capitalize;
    white-space: nowrap;
    padding: (@half_height / 5);
    &.pass {background: @green}
    &.fail {background: @redLight}
    &.busy {background: @blueLight}
    &.stop {background: @orange}
  }
  span {
    display: block;
    color: @white;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
    box-sizing: border-box;
    line-height: 1.75em;
    width: 100%;
  }

  + .build_actions {
    vertical-align: middle;
    a {
      .subtleButton(@redLight);
      margin: 0 1ex;
      float: none;
      text-align: center;
      line-height: ~"calc(1.75em - 2px)";
      min-height: ~"calc(1.75em - 2px)";
      padding: 0 1ex;
    }
  }
}
