svg.status {
  path.circle {
    fill: @white
  }
  // .icon {
  //   fill: @white;
  // }

  &.passed .icon {
    fill: @brand-success-v2;
  }

  &.failed .icon {
    fill: @brand-danger-v2;
  }

  &.canceled .icon {
    fill: @brand-canceled-v2;
  }

  &.running .icon {
    fill: @brand-info-v2;
  }

  &.queued .icon {
    fill: @brand-pending-v2;
  }
}
