svg.status {
  .icon {
    fill: @white;
  }

  &.passed .circle {
    fill: @brand-success-v2;
  }

  &.failed .circle {
    fill: @brand-danger-v2;
  }

  &.canceled .circle {
    fill: @grayLight;
  }

  &.running .circle {
    fill: @brand-info-v2;
  }

  &.queued .circle {
    fill: @brand-pending-v2;
  }
}

.invert-status-icons {
  svg.status {
    .circle {
      fill: @white;
    }

    &.passed .icon {
      fill: @brand-success-v2;
    }

    &.failed .icon {
      fill: @brand-danger-v2;
    }

    &.canceled .icon {
      fill: @grayLight;
    }

    &.running .icon {
      fill: @brand-info-v2;
    }

    &.queued .icon {
      fill: @brand-pending-v2;
    }
  }
}
