.inner {

  .flexy();

  font-family: @sansSerifFontFamily;
  background-color: #f5f5f5;

  span.strikeout {
    text-decoration: line-through;
    align: right;
  }

  .app-dominant {
    .flexy();
    .flex(1 1 auto);
    overflow: hidden;
  }

  .main-body {
    padding: 0 15px 100px;
  }

  @import "terminal.less";
  @import "builds.less";
  @import "new-build.less";
  @import "billing.less";
  @import "settings.less";
  @import "add-projects.less";
  @import "dashboard.less";
  @import "edit-project-settings.less";
  @import "admin.less";
  @import "org.less";
  @import "invites.less";
  @import "insights.less";
  @import "icons.less";
  @import "alerts.less";

  .recent-status-badge {
    @badge-height: 25px;

    .flexy(center, flex-start);
    .invert-status-icons;

    height: @badge-height;
    min-width: 118px;
    padding: 0;

    border-radius: 2 * @badge-height;
    background: @grayLightest;

    .badge-icon {
      @badge-icon-margin: 4px;
      @badge-icon-size: @badge-height - (2 * @badge-icon-margin);

      height: @badge-icon-size;
      width: @badge-icon-size;
      margin: @badge-icon-margin (2 * @badge-icon-margin) @badge-icon-margin @badge-icon-margin;
    }

    .badge-text {
      .flex(1 0 auto);
      font-size: 11px;
      font-weight: 600;
      text-transform: uppercase;
      color: @white;
    }

    .invert-status-icons();

    &.pass {
      background: @green;
    }

    &.fail {
      background: @red;
    }

    &.busy {
      background: @blueLight;
    }

    &.stop {
      background: @grayLight;
    }

    &.queued {
      background: @purple;
    }
  }
}

@import "aside.less";

#elevio-widget,
#intercom-container {
  display: none;
}

body.circle-elevio {
  #elevio-widget {
    display: block;
  }

  #intercom-container {
    .intercom-conversations-new-conversation-button {
      display: none;
    }

    .intercom-composer-container {
      display: none;
    }
  }

  #intercom-launcher {
    display: none !important;
  }
}

#elevio-widget .support {
  p > a {
    color: @blueDark;
  }

  .elevio-box-warning .action-btn {
    display: none;
  }
}

body.circle-intercom {
  #intercom-container {
    display: block;
  }

  &:not(.circle-elevio) {
    #intercom-container #intercom-launcher {
      display: block !important;
    }
  }
}
