.inner {
  footer { display: none; }

  .flexy();

  &.ui-v1 {
    background-color: @appBackgroundColor;

    p {
      > a {
        color: @blueDark;
        border-bottom: 1px dotted @blueLight;
        &:hover {
          color: @blueLight;
          border-bottom-color: @blueDark;
        }
      }
    }
  }

  span.strikeout {
    text-decoration: line-through;
    align: right;
  }

  &.ui-v2 {
    font-family: @brand-sans-serif-v2;
    background-color: @background-color-v2;
  }

  .app-dominant {
    .flexy();
    .flex(1 1 auto);
    overflow: hidden;
  }

  .main-body {
    padding: 0 15px;
  }

  .ui-v2-opt-in {
    .flex(0 0 auto);
    background: @feature-opt-in-banner-bg;
    box-shadow: -1px 0 @feature-opt-in-banner-shadow;
    font-size: 14px;
    color: @gray-darker;

    .ui-v2-opt-in-wrapper {
      .flexy(center, row);

      margin: 15px;
      min-height: 40px;
    }

    .opt-in-right {
      flex-grow: 1;
    }

    button {
      float: right;
      .circleButton(@green);
      font-size: 14px;
      height: 30px;
      border: none;
      box-shadow: none;
      text-shadow: none;
      padding: 0.25em 1.25em;
    }
  }

  .ui-v2-opt-out {
    a {
      margin-left: 10px;
      margin-right: 10px;
    }
    button {
      .subtleButton(@green);
      float: none;
    }
  }

  @import "terminal.less";
  @import "builds.less";
  @import "new-build.less";
  @import "billing.less";
  @import "settings.less";
  @import "add-projects.less";
  @import "dashboard.less";
  @import "edit-project-settings.less";
  @import "admin.less";
  @import "org.less";
  @import "invites.less";
  @import "insights.less";
  @import "icons.less";
}

@import "aside.less";
@import "top-nav.less";

#elevio-widget,
#intercom-container {
  display: none;
}

body.circle-elevio {
  #elevio-widget {
    display: block;
  }

  #intercom-container {
    .intercom-conversations-new-conversation-button {
      display: none;
    }

    .intercom-composer-container {
      display: none;
    }
  }

  #intercom-launcher {
    display: none !important;
  }
}

#elevio-widget .support .elevio-box-warning {
  a {
    color: @link-color-v2;
  }

  .action-btn {
    display: none;
  }
}

body.circle-intercom {
  #intercom-container {
    display: block;
  }

  &:not(.circle-elevio) {
    #intercom-container #intercom-launcher {
      display: block !important;
    }
  }
}
