.inner {
  .flexy();

  &.ui-v1 {
    background-color: @appBackgroundColor;

    p {
      > a {
        color: @blueDark;
        border-bottom: 1px dotted @blueLight;
        &:hover {
          color: @blueLight;
          border-bottom-color: @blueDark;
        }
      }
    }
  }

  span.strikeout {
    text-decoration: line-through;
    align: right;
  }

  &.ui-v2 {
    font-family: @brand-sans-serif-v2;
    background-color: @background-color-v2;
  }

  .app-dominant {
    .flexy();
    .flex(1 1 auto);
    overflow: hidden;
  }

  .main-body {
    padding: 0 15px;
  }

  @import "terminal.less";
  @import "builds.less";
  @import "new-build.less";
  @import "billing.less";
  @import "settings.less";
  @import "add-projects.less";
  @import "dashboard.less";
  @import "edit-project-settings.less";
  @import "admin.less";
  @import "org.less";
  @import "invites.less";
  @import "insights.less";
  @import "icons.less";
}

@import "aside.less";
@import "top-nav.less";
