@import "../shared/variables.less";

@tick-color: #999999;

#build-insights {
  background-color: #f5f5f5;
  padding-bottom: 15px;

  h1 {
    font-size: round((@baseFontSize * 1.12), 0);
    font-weight: normal;
  }

  .no-insights-block {
    margin: 15px;
    padding: 10px;
    background-color: #fbfeff;

    .content {
      background: url('@{imgPath}/empty-state-insights.png') no-repeat center center;
      background-size: contain;
      height: @standardBlockSize + 40px;
      font-size: @fontSizeLarge;
      color: #333333;

      .header {
        font-weight: bolder;
        margin-top: 50px;
      }

      .details {
        margin-bottom: 20px;
      }

      .btn {
        border-radius: 20px;
        padding-left: 37px;
        padding-right: 37px;
      }
    }
  }

  .project-block {
    margin: 20px;
    padding: 10px;
    border-bottom: #e5e5e5 1px solid;
    background-color: white;
    width: 1000px;
    h1 {
      color: @gray-light-v2;
      padding-left: 15px;
      border-bottom: #e5e5e5 1px solid;
      margin: 0;
      padding: 10px 0;
    }
  }

  .head-user {
    h1 {
      font-size: @fontSizeLarge;
      font-weight: normal;
    }

    padding: 0 20px;
  }

  .build-time-visualization {
    margin: 0 auto;
    padding: 15px;

    .axis path,
    .axis line {
      fill: none;
      stroke: #666;
      shape-rendering: crispEdges;
    }

    .grid-lines line.horizontal {
      stroke: #e5e5e5;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
    }
    .y-axis {
      .tick {
        line {
          visibility: hidden;
        }
        text {
          fill: @tick-color;
        }
      }
      > path.domain {
        visibility: hidden;
      }
    }

    rect.success {
      fill: #42c88a;
    }
    rect.failed {
      fill: #ed5c5c;
    }
    rect.canceled {
      fill: #999999;
    }
    rect.queue {
      fill: #e6d9f2;
    }
    .legend text {
      fill: @gray-light-v2;
    }
  }
}
