@import "../shared/variables.less";

@tick-color: #999999;
@spinner-height: 172px;

&.ui-v2 #build-insights .no-projects-block {
  background-color: @block-background-color-v2;

  .content {
    color: @gray-dark-v2;
  }
}

#build-insights {
  @block-width: 425px;
  @chart-padding-left: 30px;

  background-color: #f5f5f5;
  padding-bottom: 15px;
  min-width: 465px;

  h1 {
    font-size: 16px;
  }

  .controls {

    margin-top: 15px;

    .filtering {

      color: @gray-light-v2;

      input[type=radio] {
        display: none;

        &:checked + label {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 3px;
        }
      }

      label {
        padding: 5px;
        margin: 0 10px 0 0;
        font-weight: inherit;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sorting {

      color: @gray-dark-v2;

      label {
        font-weight: inherit;
        margin: 0 10px 0 15px;
      }

      select {
        .fancy-select(@arrow-margin: 34px; @color: inherit);

        border-radios: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 10px;
      }
    }
  }

  .no-projects-block {
    margin: 15px;
    padding: 10px;
    background-color: @white;

    .content {
      background: url('@{imgPath}/empty-state-insights@2x.png') no-repeat center center;
      background-size: contain;
      height: @standardBlockSize + 40px;
      font-size: @fontSizeLarge;
      color: @grayDark;

      .header {
        font-weight: bolder;
        margin-top: 50px;
      }

      .details {
        margin-bottom: 20px;
      }

      .btn {
        border-radius: 20px;
        padding-left: 37px;
        padding-right: 37px;
      }
    }
  }

  .blocks-container {
    margin-top: 15px;
  }

  .project-header {
    @header-icon-color: @gray-lighter-v2;
    .flexy(center, row);
    justify-content: center;

    padding: 15px 10px 15px 10px;

    .project-name {
      padding-bottom: 2px;
    }

    .fa-github {
      font-size: 18px;
      color: @header-icon-color;
      margin-right: 7px;
    }

    .settings-icon {
      svg {
	width: 16px;
	height: 16px;
	margin-bottom: 1px;

	stroke: @header-icon-color;

	path:first-child {
	  stroke-width: 8;
	}
      }
    }
  }

  .project-name {
    flex-grow: 1;
    width: 100%;
  }

  .project-block {
    display: inline-block;
    margin: 0 15px 15px 0;
    vertical-align: top;
    border-bottom: #e5e5e5 1px solid;
    background-color: white;
    width: @block-width;

    &.build-failed {
      h1 {
        background-color: @insights-header-fail;
      }
    }

    svg {
      display: block;

      &.badge-icon {
        display: inline;
        vertical-align: text-bottom;
        margin-right: 5px;
        width: 15px;
      }
    }

    h1 {
      color: @gray-light-v2;
      border-bottom: #e5e5e5 1px solid;
      margin: 0;
    }

    h4 {
      font-size: 13px;
      color: #333;
      margin: 15px 0 8px;
      padding-left: @chart-padding-left;
    }

    .above-info, .below-info {
      .flexy(center, space-around, row);
      padding-left: @chart-padding-left;
      padding-bottom: 10px;
      width: 100%;

      &.below-info dl {
        .flex(0 0 50%);

        dt, dd {
          display: inline;
        }

        dt {
          padding-right: 5px;
        }
      }

      dl {
        .flex(0 0 33%);
        margin: 0;

        dt {
          font-weight: inherit;
        }

        dd {
          font-weight: bold;
          line-height: 0.9;
        }
      }
    }

    .no-insights, .no-builds, .loading-spinner {
      .flexy(center, space-around, column);

      height: @spinner-height;
      padding: 20px;
      &.no-builds, &.no-insights {
        font-weight: bold;
        text-align: center;
      }

      .upgrade-link:hover {
        text-decoration: underline;
      }
    }
  }

  .head-user {
    padding: 0 10px;

    h1 {
      font-size: @fontSizeLarge;
      font-weight: normal;
    }
  }

  .build-time-visualization {
    margin: 0 auto;

    .axis path,
    .axis line {
      fill: none;
      stroke: #999;
      shape-rendering: crispEdges;
    }

    .grid-lines line.horizontal {
      stroke: #e5e5e5;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
    }

    .y-axis {
      .tick {
        line {
          visibility: hidden;
        }

        text {
          fill: @tick-color;
          font-size: 10px;
        }
      }

      > path.domain {
        visibility: hidden;
      }
    }

    rect {
      &.success {
        fill: #42c88a;
      }

      &.failed {
        fill: #ed5c5c;
      }

      &.canceled {
        fill: #999999;
      }

      &.queue {
        fill: #e6d9f2;
      }
    }

    .legend text {
      fill: @gray-light-v2;
    }
  }
}
