#build-insights {
  .head-user {
    h1 {
      font-size: @fontSizeLarge;
      font-weight: normal;
    }

    padding: 0 20px;
  }

  .insights-chart {
    margin: 0 auto;
    padding: 15px;
  }
}
