#container_parent {
  position: relative;
  overflow: hidden;
  height: 100%;
  margin-left: 8.5%;
  margin-right: 8.5%;
}

// Used by om frontend to hide scrollers it needs for find in firefox
#container_scroll_parent {
  // hides scrollbar on container_parent
  overflow: hidden;

  // TODO: move this into the main #container_parent when om is fully shipped
  #container_parent {
    overflow-y: hidden;
    overflow-x: scroll;
    // hides scrollbar
    margin-bottom: -25px;
    padding-bottom: 25px;
  }
}

.containers {
  z-index: 10;

  &.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
  }
}


/* This .class { ... }
 *      .class:not(.other_class) { position:absolute }
 *      .class.other_class { position:relative }
 * trick for setting the panel position attributes is inspired by
 * http://tympanus.net/codrops/2013/09/05/sliding-horizontal-layout/
 */
.container-view {
  width: 100%;
  top: 0px;
}

// TODO: remove the :not(.current_container) when om is fully deployed
.container-view:not(.current_container) {
  position: absolute;
}

// TODO: remove om is fully deployed
.container-view.current_container {
  position: relative;
}

// Creates the selectors that will keep the proper container in view
// Generates #container_parent.selected_2 { #container_2 { position: relative; }}
.selectedX (@index) when (@index > -1) {
  .selectedX(@index - 1);

  #container_parent.selected_@{index} {

    #container_@{index} {
      position: relative;
    }
  }
}

.selectedX (-1) {}

@max_containers: 100;

.selectedX (@max_containers);

/* Set up a :after pseudo-element to reflect the build status */
.container-list {
  .flexy();
  margin: 0;
  list-style: none;
  margin: 0 8.5%;
}

.container-selector {
  .flex(1, 1);
  .flexy(column);
  .align-items(center);
  position: relative;
  background: white;
  color: @grayLight;
  padding: 1ex 0;
  border: 1px solid @grayBoxBorder;
  border-left-width: 0;

  &.parallelism-tab {
    max-width: 30px;
    background: @circleBlue;
    border: @circleBlue 1px solid;
    color: @white;
    border-left: 0px;

    span {
      margin-top: 8px;
      font-size: 22px;
    }

    &:hover {
      background: lighten(@circleBlue, 4%);
      border: @circleBlue 1px solid;
      border-left: 0px;
      color: @white;
    }
  }

 .parallelism-tab {
    width: 50%;
  } 


  &:hover {
    &.waiting {
      color: @blueLight;
      border: 1px solid @blueLight;
    }

    &.running {
      color: @blueLight;
      border: 1px solid @blueLight;
    }

    &.success {
      color: @green;
      border: 1px solid @green;
    }

    &.failed,
    &.canceled {
      color: @redLight;
      border: 1px solid @redLight;
      background: white;
      svg {
        path {
          stroke: @redLight;
        }
      }
    }
    color: @grayDark;
    border: 1px solid @grayDark;
  }

  &.waiting {
    svg {
      path {
        stroke: @blueLight;
        stroke-linecap: round;
        stroke-width: 20;
      }
    }
  }

  &.running {
    svg {
      path {
        stroke: @blueLight;
      }
    }
  }

  &.success {
    svg {
      path {
        stroke: @green;
      }
    }
  }

  &.failed,
  &.canceled {
    color: @white;
    background: @redLight;
    border-color: @redLight;
    + .failed,
    + .canceled {
      box-shadow: -1px 0 @red;
    }
    svg {
      path {
        stroke: @white;
      }
    }
  }

  &.active {
    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      height: 0;
      width: 0;
      border: solid transparent;
      pointer-events: none;
    }

    &:before {
      border-top-color: @grayLighter;
      border-width: (@baseFontSize / 2) + 1;
      margin-left: (-@baseFontSize / 2) - 1;
    }

    &:after {
      border-top-color: @appBackgroundColor;
      border-width: (@baseFontSize / 2);
      margin-left: (-@baseFontSize / 2);
    }

    &.waiting {
      &:hover {
        &:before {
          border-top-color: @blueLight;
        }
      }
    }

    &.running {
      &:hover {
        &:before {
          border-top-color: @blueLight;
        }
      }
    }

    &.success {
      &:hover {
        &:before {
          border-top-color: @green;
        }
      }
    }

    &.failed,
    &.canceled {
      &:before,
      &:after {
        border-top-color: @redLight;
      }
      &:hover {
        &:after {
          border-top-color: @appBackgroundColor;
        }
      }
    }
  }

  &:first-child {
    border-left-width: 1px;
    border-radius: 4px 0 0 4px;
  }

  &:not(:first-child) {
    &:hover {
      margin-left: -1px;
    }
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  svg {
    path {
      stroke: @grayDark;
      stroke-width: 8;

      &:nth-child(2) {
        stroke-linecap: round;
        stroke-width: 20;
      }
    }
  }
}

// V2 from here on !!!!

// TODO generic V2 stuff, abstract out
.card {
  padding: 15px;
  margin-bottom: 15px;

  background: white;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);

  hr {
    margin: 10px 0;
  }
}

.alert {
  margin-bottom: 15px;

  .alert-icon {
    padding-right: ((2 / 3) * @alert-padding);
  }

  &.expanded {
    padding: 0;
    border: none;

    &.alert-danger {
      .alert-header {
        .flexy();
        background: lighten(@brand-danger-v2, @brand-lighten-ratio-v2 * 0.66);
        border-bottom: 1px solid @brand-danger-v2;
      }

      hr {
        border-top-color: @brand-danger-v2;
      }
    }

    .alert-header {
      padding: ((2 / 3) * @alert-padding) @alert-padding;
      text-transform: uppercase;
    }

    .alert-body {
      padding: @alert-padding;
    }
  }

  &.iconified {
    .flexy(row);
  }
}

@status-badge-height: 25px;

.small-emphasis {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 8px;
}

// Build page V2 stuff
.build-actions-v2 {
  .flexy(center);
  font-size: 13px;
  color: @gray-dark-v2;

  .build-action {
    .flexy();

    .dashboard-icon {
      margin-top: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .dropdown {
    @item-spacing: 20px;
    @toggle-min-width: 145px;
    @button-height: 30px;

    margin-left: @item-spacing;
    margin-right: @item-spacing;
    border-radius: 3px;
    border: solid 1px @dropdown-gray;
    background: @dropdown-light-gray;

    button {
      background: @dropdown-light-gray;
    }

    ul {
      background: @dropdown-lighter-gray;

      a {
        padding-right: 10px;
        padding-left:  10px;
        font-size: @font-size-small;

        &:hover {
          background: @dropdown-light-gray;
          color: @gray-dark-v2;
        }
      }
    }

    .dropdown-toggle {
      min-width: @toggle-min-width;
      min-height: @button-height;
      font-size: @font-size-base;
      padding-top: 1px;
      padding-bottom: (@font-size-base / 3px);

      .chevron {
        float: right;
        padding-top: 5px;
      }

      .status {
        float: left;
        max-height: (@button-height / 2px);
      }

      &:hover {
        background: @dropdown-lighter-gray;
      }
    }

    .dropdown-menu {
      margin-top: 0;

      /* Makes sure the dropdown options are
         exactly in line with the dropdown button. */
      min-width: (@toggle-min-width + 2px);
      margin-left: -1px;

      text-align: left;
      box-shadow: none;
      border-radius: 0;
    }
  }
}

// Build page V2 stuff

@pills-breakpoint: @screen-xs-max;

.build-info-v2 {
  margin-top: 15px;

  .summary-item {
    margin-right: 20px;
  }
}

.container-v2 {
}

.container-list-v2 {
  display: flex;

  @media (max-width: @pills-breakpoint) {
    flex-wrap: wrap;
  }
}

.container-selector-v2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 40px;

  background: @gray-background-v2;
  color: @gray-light-v2;
  font-size: 11px;
  padding: 5px;

  .container-status-icon {
    height: 14px;
    width: 14px;
  }

  & + .container-selector-v2 {
    margin-left: 1px;
  }

  &.add-containers {
    .flexy(center, center);
    font-size: 20px;
    color: @white;
    background: @brand-primary-v2;
  }

  &.active {
    color: @white;

    &.success {
      background: @brand-success-v2;
    }

    &.waiting {
      background: @brand-pending-v2;
    }

    &.running {
      background: @brand-primary-v2;
    }

    &.failed {
      background: @brand-danger-v2;
    }

    &.canceled {
      background: @brand-cancelled-v2;
    }
  }

  &.page-container-pills {
    @caret-padding: 10px;

    .flexy(center, flex-start, row);

    color: @white;
    background: @backround-color-dark-v2;

    .pill-details {
      @media (max-width: @pills-breakpoint) {
        text-align: right;
      }
    }

    .nav-caret, .pill-details {
      flex-grow: 1;
    }

    .nav-caret + .pill-details {
      text-align: left;
    }

    .pill-details + .nav-caret {
      text-align: right;

      @media (max-width: @pills-breakpoint) {
        padding-left: @caret-padding;
        text-align: left;
      }
    }

    @media (max-width: @pills-breakpoint) {
      .nav-caret {
        &:first-child {
          text-align: right;
          padding-right: @caret-padding;
        }
      }
    }
  }

  .upper-pill-section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    & > .container-index {
      text-align: left;

    }

    & > .status-icon {
      text-align: right;
    }

    & > .container-index,
    & > .status-icon {
      flex-grow: 1;
    }

    @media (max-width: @pills-breakpoint) {
      & > .container-index,
      & > .status-icon {
        text-align: center;
      }
    }
  }

  @media (max-width: @pills-breakpoint) {
    padding: 1px;

    .upper-pill-section {
      flex-direction: column;
    }

    .lower-pill-section {
      display: none;
    }

    &.page-container-pills, &.add-containers {
      @container-pill-vertical-spacing: 15px;

      min-width: 100%;
      padding: 3px;

      text-align: center;

      &:first-child {
        margin-bottom: @container-pill-vertical-spacing;
      }

      &:last-child {
        margin-top: @container-pill-vertical-spacing;
      }
    }
  }
}

// Used by om frontend to hide scrollers it needs for find in firefox
.container-scroll-parent-v2 {
  // hides scrollbar on container_parent
  overflow: hidden;
  overflow-x: scroll;

  .container-parent-v2 {
    overflow-y: hidden;

    // hides scrollbar
    margin-bottom: -25px;
    padding-bottom: 25px;
  }
}

.summary-items {
  .flexy();
}

.summary-build-contents {
  .flexy(stretch, flex-end, row);
  flex-grow: 2;
}

&.ui-v2 {
  @media (max-width: @screen-sm-max) {

    .summary-header {
      .flexy(stretch, space-around, column);
    }

    .summary-items {
      .flexy(stretch, flex-start, row);
    }

    .summary-build-contents {
      .flexy(stretch, flex-start, row);
    }

    .head-user {
      .flexy(stretch, flex-start, column);
    }
  }
}

.recent-status-badge {
  min-width: 105px;
}

.summary-header {
  .flexy();
  margin-bottom: 15px;

  font-size: 13px;
  color: @gray-light-v2;
  line-height: @status-badge-height;
}

.summary-label {
  color: @gray-lighter-v2;
}

.summary-spacer {
  padding: 0 5px;
}

.build-commits-list {
  .metadata-item, .commit-message {
    font-size: 13px;
  }
}

.build-tests-info {
  margin-bottom: 0;
}

&.ui-v2 {
  #container_parent {
    margin-left: 0;
    margin-right: 0;
  }

  .alert {
    a {
      color: @gray-dark-v2;
      text-decoration: underline;
    }
  }

  // TODO, just remove build-head-wrapper once v2 ships
  .build-head-wrapper {
    margin: 0;
    padding: 0;
  }

  .build-tests-list {
    margin: 0;
    counter-reset: test-list;

    li + li {
      margin-top: 10px;
    }
  }

  .build-test {
    &:last-child {
      .build-test-output, .build-test-name {
        margin-bottom: 0;
      }
    }
  }

  .build-test:before {
    content: counter(test-list) " - ";
    counter-increment: test-list;
  }

  .build-test-name {
    display: inline-block;
  }

  .build-test-output {
    margin: 10px 0;
  }

  .build-tests-toggle {
    margin: 0;
    padding: 0;
    color: @gray-dark-v2;
  }

  .build-tests-toggle-icon {
    margin-right: 6px; // magic number
    color: @gray-lighter-v2;
  }

  // TODO Generalized whitespace tweak. Should be moved to
  // global bootstrap override file or something.
  ul:last-child {
    margin-bottom: 0;
  }
}

.test-results {
  .alert {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.queued-builds {
  margin-top: (@grid-gutter-width / 2);
  // terrible hack because the box shadow is inset into grid
  margin-bottom: -(@grid-gutter-width / 2) + 1;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.10);
}
