@import "../shared/variables.less";

pre {
  background: @terminal-background-color;
  color:      @terminal-color;
  .pre {
    white-space: pre-wrap;
  }
  &.solarized {
    .brblack { color: #002b36; }
    .black { color: #073642; }
    .brgreen { color: #586e75; }
    .bryellow { color: #657b83; }
    .brblue { color: #839496; }
    .brcyan { color: #93a1a1; }
    .white { color: #eee8d5; }
    .brwhite { color: #fdf6e3; }
    .yellow { color: #b58900; }
    .brred { color: #cb4b16; }
    .red { color: #dc322f; }
    .magenta { color: #d33682; }
    .brmagenta { color: #6c71c4; }
    .blue { color: #268bd2; }
    .cyan { color: #2aa198; }
    .green { color: #859900; }
    .italic { font-style: italic; }
    .bg-white { background: #eee8d5; }
    .bg-red { background: #dc322f; color: #002b36; }
    .bg-green { background: #859900; color: #002b36; }
    .bg-yellow { background: #b58900; color: #002b36; }
    .bg-blue { background: #268bd2; color: #002b36; }
    .bg-magenta { background: #d33682; color: #002b36; }
    .bg-cyan { background: #2aa198; color: #002b36; }
    .bg-brblack { background: #002b36; }
  }
}

// TODO, probably can just use bootstrap variables once v2 ships
// Also, we need the rest of the color palette actually specced out.
&.ui-v2 {
  @standard-color-lighten-factor: 13%;
  pre {
    background: @terminal-background-color-v2;
    color: @terminal-foreground-color-v2;

    // temporary? bootstrap override
    border: none;
    border-radius: 0;

    // TODO We have to lie about the color scheme for precedence reasons.
    &.solarized {
      .white {
        color: @terminal-foreground-color-v2;
      }

      .blue {
        color: lighten(@brand-blue-v2, @standard-color-lighten-factor);
      }

      .brblue {
        color: @brand-blue-v2;
      }

      .cyan {
        color: lighten(saturate(@brand-blue-v2, 30%), @standard-color-lighten-factor);
      }

      .brcyan {
        color: saturate(@brand-blue-v2, 30%);
      }

      .green {
        color: lighten(@brand-green-v2, @standard-color-lighten-factor);
      }

      .brgreen {
        color: @brand-green-v2;
      }

      .yellow {
        color: lighten(@brand-orange-v2, @standard-color-lighten-factor);
      }

      .bryellow {
        color: @brand-orange-v2;
      }

      .red {
        color: lighten(@brand-orange-v2, @standard-color-lighten-factor);
      }

      .brred {
        color: @brand-red-v2;
      }

      .magenta {
        color: lighten(@brand-purple-v2, @standard-color-lighten-factor);
      }

      .brmagenta {
        color: @brand-purple-v2;
      }
    }
  }
}
