.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .bar {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    background-color: @top-bar-color;
    height: @top-bar-height;
    justify-content: space-between;

    .logo {
        position: absolute;

        // TOOD -ac Add these 50%'s and transform prop back in and move the
        // logo out of .left to make it sit in the middle
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        top: 27%;
        left: 34%;
    }

    .logomark {
      .flexy(center, center);
      .icon-style(@white, (@em * 2));
      width: 60px;
      min-height: @top-bar-height;
      i {
        opacity: 1;
      }
    }

    .header-nav {
      padding: 0;
      list-style: none;

      &.left, &.right {
          position: absolute;
      }

      &.left {
          left: 0;
      }
      &.right {
          right: 0;
      }
    }

    .header-nav-item {
      float: left;

      &.border-right {
        border-right: 1px solid #444;
      }
    }

    .header-nav-link {
      display: block;
      padding: 20px;
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      color: #fff;
    }

    .name {
      padding: 16px;
    }

    .gravatar {
      min-width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
}


/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    height: @top-bar-height;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    // min-width: 160px;

    // TODO -ac How to handle long names? Width: 100% constrains too tightly, but idk?
    // width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // Make content float above rest of the page
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: #F1F1F1;
        }
    }
}
