// Content --------------------------------------------------------------------

#content {
  position: relative;
  background: url("@{imgPath}/outer/bg_pattern.png");

  & > section {
    background: url("@{imgPath}/outer/about/sf_watermark.png") no-repeat top right;
    .container;
  }

  h1 {
    margin: 100px auto 0;
    color: #444;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
  }

  h1 + p,
  .story p {
    color: #444;
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255,255,255);
  }

  h1 + p {
    color: @link;
    font-weight: 300;
  }

  .story {
    margin: 80px auto 0;
    padding: 10px 0;
    .push(2);
    .pull(2);

    // Old browsers get centered dashed rules
    .no-generatedcontent & {
      border: 1px;
      border-style: dashed;
      border-color: @grayLight;
      border-left: none;
      border-right: none;
    }

    // Good browsers get pseudo-elements
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: #FAFAFA;
      background: hsla(0, 0%, 0%, 0.02);
      height: 225px;
      width: 100%;
      top: 75px;
      left: 0;
      border: 1px solid hsl(0, 0%, 90%);
    }

    p {
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }

  hr {
    border-style: dashed;
    border-color: @grayLight;
    margin-bottom: 65px;
  }
}
