// Team Members ----------------------------------------------------------------

.vcard {
  .container;
  margin-top: 10px;
  margin-bottom: 50px;
  position: relative;

  figcaption {
    .column(9);
    background-image: url("@{imgPath}/outer/about/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -265px;
    height: 280px;
    float: right;

    // Name & Title
    & > div {
      margin-top: 5px;
    }

    .note, & > div { margin-left: 50px; }
  }

  .fn,
  .title {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    display: inline;
    color: @grayDark;
    font-size: 22px;
  }

  .fn:after {
    content: ',  ';
  }

  .title {
    color: @gray;
    font-weight: 300;
  }

  // Bio
  .note {
    color: @grayDark;
    line-height: 24px;
  }

  // Thumbnail
  .visual {
    .column(3);
    float: left;
    background: url("@{imgPath}/outer/about/sprite.png") no-repeat -9px 0;
    height: 215px;
    .transition(250ms all ease-in);
    z-index: 1;

    &:hover { .rotate(-2deg); }
  }

  // Social Media Icons
  .social {
    position: absolute;
    left: 215px;
    top: 30px;
    z-index: 100;

    &:hover + .visual { .rotate(-2deg); }

    // Sprites with hover states
    a {
      .ir;
      margin-bottom: 5px;
      background-image: url("@{imgPath}/outer/about/sprite.png");
      background-repeat: no-repeat;
      .square(27px);
    }

    // Individual sprite positions
    .email    { background-position: -244px -20px;
      &:hover { background-position: -244px -120px; }}

    .github   { background-position: -244px -50px;
      &:hover { background-position: -244px -150px; }}

    .twitter  { background-position: -244px -81px;
      &:hover { background-position: -244px -181px; }}
  }

  // Reverse profile
  &.right {

    // Alternate shadow
    figcaption {
      background-position: -15px -482px;
      float: left;

      // Reverse margins
      .note, & > div {
        margin-left: 0;
        margin-right: 50px;
      }
    }

    // Align image
    .visual {
      float: right;
      background-position: 14px -4px;

      // Subtle animation on hover
      &:hover {
        .rotate(2deg);
      }
    }

    // Align social icons
    .social {
      position: absolute;
      left: 717px;
      top: 30px;

      &:hover + .visual { .rotate(2deg); }
    }
  }
}
