// Imports -------------------------------------------------------------------
@import "_shared/normalize";
@import "_shared/mixins";
@import "_shared/grid";

// Variables -----------------------------------------------------------------
// Links
@link:               #105AAF;
@linkHover:          #023066;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #ccc;
@grayLighter:           #eee;
@white:                 #fff;

// Layout Grid ---------------------------------------------------------------
@columns: 12;
@column-width: 60;
@gutter-width: 20;

.container {
  .clearfix;
  width: 960px;
  margin: 0 auto;
}

// Typography ---------------------------------------------------------------
input[type=text].signup {
  width: 270px;
  border: 1px solid #000000;
  .box-shadow(0 1px 0 rgba(255,255,255,.5));
  background-color: #ffffff;
  #gradient > .vertical(rgb(255,255,255), rgb(201, 201, 201));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#c9c9c9');

  &:focus {
    background: @white;
  }
}

::-moz-selection { background: @link; color: #fff; text-shadow: none; }
::selection { background: @link; color: #fff; text-shadow: none; }
