// Imports -------------------------------------------------------------------
@import "_shared/normalize";
@import "_shared/mixins";
@import "_shared/grid";

// Variables -----------------------------------------------------------------
// Links
@link:               #105AAF;
@linkHover:          #023066;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

// Layout Grid ---------------------------------------------------------------
@columns: 12;
@column-width: 60;
@gutter-width: 20;

.container {
  .clearfix;
  width: 960px;
  margin: 0 auto;
}

// Typography ---------------------------------------------------------------
body {
  font: 16px/1.625em sans-serif;
}

body, button, input, select, textarea {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

h1, h2 {
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Myriad", sans-serif;
}

h1 {
  .font-calc(86, 104);
  .vert-calc(1, 2, 86);
}

h2 {
  .font-calc(49, 52);
  .vert-calc(2, 2, 49);
}

h3 {
  .font-calc(28, 52);
  .vert-calc(1, 0, 28);
}

p {
  .vert-calc(2, 2);
}

small, aside {
  .font-calc(9, 14);
}
