#about {

  .jumbotron {
    overflow: hidden;
  }

  .fact {
    padding: 0 10px;
    text-align: center;

    .header, .caption {
      margin: 0;
      color: @gray-dark;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2em;
    }

    .value {
      margin: 0;
      color: @headings-color;
      font-size: 64px;
      font-weight: 300;
    }
  }

  .story {
    margin-top: 40px;
  }

  .logo-container {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;

    .logo {
      height: 60px;
      max-width: 200px;
    }
  }
}
