#about {

  .jumbotron {
    overflow: hidden;
  }

  .story {
    margin-top: 40px;
  }

  .logo-container {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;

    .logo {
      height: 60px;
      max-width: 200px;
    }
  }
}
