#about {

  .fact {
    padding: 0 10px;
    text-align: center;

    .header, .caption {
      margin: 0;
      color: @gray-dark;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2em;
    }

    .value {
      margin: 0;
      color: @headings-color;
      font-size: 64px;
      font-weight: 300;
    }
  }

  .story {
    margin-top: 40px;
  }

  .logo-container {
    margin-top: 40px;

    .flexy(center, space-between);

    .logo {
      height: 60px;
      max-width: 200px;
    }
  }
}

#team {

  .people-section {
    overflow: visible;
  }

  .people-header {
    text-align: center;
    margin-bottom: 50px;
  }

  .people {
    .flexy();
    .flex-wrap(wrap);

    text-align: center;

    .person {
      @size: 150px;
      @logo-size: @size / 3;

      padding: 0 44px;
      margin-bottom: 45px;
      position: relative;

      text-align: center;

      .circle {

	.pic {
	  position: relative;
	  overflow:hidden;

	  background-color: @gray-lighter;

	  &, &::after {
	    height: @size;
	    width: @size;
	    border-radius: @size / 2;
	  }

	  &::after {
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    content: "";
	    background-color: @black;
	    opacity: 0;
	  }

	  &:hover::after {
	    opacity: 0.3;
	  }
	}

	.bubble {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  padding: 10px;
	  opacity: 0;
	  transition: opacity 0.2s, bottom 0.2s;
	  z-index: 2;

	  pointer-events: none;
	  background-color: @white;
	  border-radius: 10px;
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

	  &::after {
	    content: "";
	    position: absolute;
	    bottom: -15px;
	    left: calc(~'50% - 15px');
	    width: 0;
	    border-width: 15px 15px 0;
	    border-style: solid;
	    border-color: @white transparent;
	  }
	}

	&:hover .bubble {
	  bottom: 220px;
	  opacity: 1;
	}


	.logo {
	  margin: (@size - @logo-size) / 2;
	  height: @logo-size;
	  width: @logo-size;
	  opacity: 0.2;
	}
      }

      .name {
	margin: 1em 0 0;
	color: @gray-darker;
	font-size: 110%;
      }
    }
  }

  .bottom-cta {
    text-align: center;

    .subheader {
      margin-bottom: 35px;
    }
  }
}