
/**************************************/
/*** Blue and green theme rule sets ***/

h3 {
	color: #127E3E;
}

h5 {
	color: #127E3E;
}

.call_to_action {
	border: 5px solid #0F6833;
	text-shadow: -1px -1px 0 #593A2E;
	background: #34221B;
	background: url("../images/bg_fallback_cta_brown.gif") repeat-x center left;
	background: -moz-linear-gradient(top, #794E3E, #613E32 50%, #462E24 50%, #34221B);
	background: -webkit-gradient(linear, left top, left bottom, from(#794E3E), color-stop(50%, #613E32), color-stop(50%, #462E24), to(#34221B));
	-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
}

	.call_to_action:hover {
		background: #C7480C;
		background: url("../images/bg_fallback_cta_brown.gif") repeat-x center left;
		background: -moz-linear-gradient(top, #794E3E, #34221B);
		background: -webkit-gradient(linear, left top, left bottom, from(#794E3E), to(#34221B));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

	.call_to_action:active {
		background: #C7480C;
		background: url("../images/bg_fallback_cta_brown.gif") repeat-x center left;
		background: -moz-linear-gradient(top,#34221B, #794E3E);
		background: -webkit-gradient(linear, left top, left bottom, from(#34221B), to(#794E3E));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

#logo a, a#logo {
		background: url("../images/logo_brown.png") no-repeat top left;
}

#nav li a {
	color: #127E3E;
}

	#nav > li:hover > a, #nav li .current_page {
		color: #0F6833;
	}

#nav > li:hover > a, #nav li .current_page {
		background: url("../images/current_page_arrow_green.png") no-repeat center bottom;
}

#nav .dropdown_alignedLeft > a, #nav .dropdown_alignedRight > a {
		background: url("../images/dropdown_arrow_green.png") no-repeat top right;
}

	#nav .dropdown_alignedLeft:hover > a, #nav .dropdown_alignedRight:hover > a {
		background: #0F6833 url("../images/dropdown_arrow_green.png") no-repeat bottom right;
	}

#nav .dropdown_alignedLeft:hover > ul, #nav .dropdown_alignedRight:hover > ul {
	background: #0F6833;
}
	
#nav li ul li {
	border-bottom: 1px dashed #87B499;
}

#nav li ul li.dropdown_innerTitle {
	color: #87B499;
}

#nav li ul li a:hover {
	color: #87B499;
}

#pitch_wrap {
	border-top: 5px solid #0F6833;
	background: #0F6833 url("../images/bg_gradient_green.jpg") no-repeat top center;
}

#slider {
	-moz-box-shadow: 0 0 15px #355F46;
	-webkit-box-shadow: 0 0 15px #355F46;
	box-shadow: 0 0 15px #355F46;
}

	.slider_controls li a {
		background: url("../images/slider_controls_green.png") no-repeat top left;
	}

#blurb a {
	border-bottom: 1px solid #127E3E;
	color: #127E3E;
}

#page_title_wrap {
	border-top: 5px solid #0F6833;
	background: #0F6833 url("../images/bg_gradient_green.jpg") no-repeat top center;
}

#main_content_full_width h1, #main_content_extra_wide h1, #main_content_wide h1, #main_content_wide_wpadding h1 {
	color: #127E3E;
}

.best_plan {
	background: #127E3E;
}

#account h3 span {
	background: #0F6833;
	background: -moz-linear-gradient(top, #127E3E, #0F6833);
	background: -webkit-gradient(linear, left top, right bottom, from(#127E3E), to(#0F6833));
}

#main_content_wide_wpadding .post_excerpt h2, #main_content_wide_wpadding .post_excerpt h2 a, #main_content_wide_wpadding #post h1 {
	color: #127E3E;
}

#main_content_wide_wpadding .post_excerpt h2 a:hover {
	color: #0F6833;
}

.more {
	color: #127E3E;
}

	.more a {
		color: #127E3E;	
	}

.generic_table th:hover, .generic_table td:hover {
	color: #FFFFFF;
	background-color: #127E3E;
}