
/**************************************/
/*** Blue and green theme rule sets ***/

h3 {
	color: #A4362B;
}

h5 {
	color: #A4362B;
}

.call_to_action {
	border: 5px solid #C48C0B;
	text-shadow: -1px -1px 0 #000000;
	background: #000000;
	background: url("../images/bg_fallback_cta_black.gif") repeat-x center left;
	background: -moz-linear-gradient(top, #737373, #3A3A3A 50%, #292929 50%, #000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#737373), color-stop(50%, #3A3A3A), color-stop(50%, #292929), to(#000000));
	-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
}

	.call_to_action:hover {
		background: #C7480C;
		background: url("../images/bg_fallback_cta_black.gif") repeat-x center left;
		background: -moz-linear-gradient(top, #737373, #000000);
		background: -webkit-gradient(linear, left top, left bottom, from(#737373), to(#000000));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

	.call_to_action:active {
		background: #C7480C;
		background: url("../images/bg_fallback_cta_black.gif") repeat-x center left;
		background: -moz-linear-gradient(top,#000000, #737373);
		background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#737373));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

#logo a, a#logo {
		background: url("../images/logo_black.png") no-repeat top left;
}

#nav li a {
	color: #A4362B;
}

	#nav > li:hover > a, #nav li .current_page {
		color: #70251D;
	}

#nav > li:hover > a, #nav li .current_page {
		background: url("../images/current_page_arrow_yellow.png") no-repeat center bottom;
}

#nav .dropdown_alignedLeft > a, #nav .dropdown_alignedRight > a {
		background: url("../images/dropdown_arrow_red.png") no-repeat top right;
}

	#nav .dropdown_alignedLeft:hover > a, #nav .dropdown_alignedRight:hover > a {
		background: #A4362B url("../images/dropdown_arrow_red.png") no-repeat bottom right;
	}

#nav .dropdown_alignedLeft:hover > ul, #nav .dropdown_alignedRight:hover > ul {
	background: #A4362B;
}
	
#nav li ul li {
	border-bottom: 1px dashed #D29B95;
}

#nav li ul li.dropdown_innerTitle {
	color: #D29B95;
}

#nav li ul li a:hover {
	color: #D29B95;
}

#pitch_wrap {
	border-top: 5px solid #C48C0B;
	background: #C48C0B url("../images/bg_gradient_yellow.jpg") no-repeat top center;
}

#slider {
	-moz-box-shadow: 0 0 15px #B3860C;
	-webkit-box-shadow: 0 0 15px #B3860C;
	box-shadow: 0 0 15px #B3860C;
}

	.slider_controls li a {
		background: url("../images/slider_controls_yellow.png") no-repeat top left;
	}

#blurb a {
	border-bottom: 1px solid #A4362B;
	color: #A4362B;
}

#page_title_wrap {
	border-top: 5px solid #C48C0B;
	background: #C48C0B url("../images/bg_gradient_yellow.jpg") no-repeat top center;
}

#main_content_full_width h1, #main_content_extra_wide h1, #main_content_wide h1, #main_content_wide_wpadding h1 {
	color: #A4362B;
}

.best_plan {
	background: #DAA810;
}

#account h3 span {
	background: #C7480C;
	background: -moz-linear-gradient(top, #DAA810, #C48C0B);
	background: -webkit-gradient(linear, left top, right bottom, from(#DAA810), to(#C48C0B));
}

#main_content_wide_wpadding .post_excerpt h2, #main_content_wide_wpadding .post_excerpt h2 a, #main_content_wide_wpadding #post h1 {
	color: #A4362B;
}

#main_content_wide_wpadding .post_excerpt h2 a:hover {
	color: #A4362B;
}

.more {
	color: #A4362B;
}

	.more a {
		color: #A4362B;	
	}

.generic_table th:hover, .generic_table td:hover {
	color: #FFFFFF;
	background-color: #A4362B;
}