
/**************************************/
/*** Blue and green theme rule sets ***/

h3 {
	color: #2B95C8;
}

h5 {
	color: #2B95C8;
}

.call_to_action {
	border: 5px #2378A1;
	text-shadow: -1px -1px 0 #6DBA42;
	background: #2EB72B;
	background: url("../img/bg_fallback_cta_green.gif") repeat-x center left;
	background: -moz-linear-gradient(top, #A9E058, #77D94A 50%, #55C336 50%, #2EB72B);
	background: -webkit-gradient(linear, left top, left bottom, from(#A9E058), color-stop(50%, #77D94A), color-stop(50%, #55C336), to(#2EB72B));
	-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
}

	.call_to_action:hover {
		background: #2EB72B;
		background: url("../img/bg_fallback_cta_green.gif") repeat-x center left;
		background: -moz-linear-gradient(top, #A9E058, #2EB72B);
		background: -webkit-gradient(linear, left top, left bottom, from(#A9E058), to(#2EB72B));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

	.call_to_action:active {
		background: #2EB72B;
		background: url("../img/bg_fallback_cta_green.gif") repeat-x center left;
		background: -moz-linear-gradient(top,#2EB72B, #A9E058);
		background: -webkit-gradient(linear, left top, left bottom, from(#2EB72B), to(#A9E058));
		-webkit-background-clip: padding-box; /* fix for Chrome anti-aliasing issue */
	}

#logo a, a#logo {
}

#nav li a {
	color: #2B95C8;
}

	#nav > li:hover > a, #nav li .current_page {
		color: #2378A1;
	}

#nav > li:hover > a, #nav li .current_page {
		background: url("../img/current_page_arrow_blue.png") no-repeat center bottom;
}

#nav .dropdown_alignedLeft > a, #nav .dropdown_alignedRight > a {
		background: url("../img/dropdown_arrow_blue.png") no-repeat top right;
}

	#nav .dropdown_alignedLeft:hover > a, #nav .dropdown_alignedRight:hover > a {
		background: #2378A1 url("../img/dropdown_arrow_blue.png") no-repeat bottom right;
	}

#nav .dropdown_alignedLeft:hover > ul, #nav .dropdown_alignedRight:hover > ul {
	background: #2378A1;
}
	
#nav li ul li {
	border-bottom: 1px dashed #2B95C8;
}

#nav li ul li.dropdown_innerTitle {
	color: #C8DDE7;
}

#nav li ul li a:hover {
	color: #C8DDE7;
}

#pitch_wrap {
	border-top: 5px solid #2378A1;
	background: #2378A1 url("../img/bg_gradient_blue.jpg") no-repeat top center;
}

#slider {
	-moz-box-shadow: 0 0 20px #2378A1;
	-webkit-box-shadow: 0 0 20px #2378A1;
	box-shadow: 0 0 20px #2378A1;
}

	.slider_controls li a {
		background: url("../img/slider_controls_blue.png") no-repeat top left;
	}

#blurb a {
	border-bottom: 1px solid #2EB72B;
	color: #2EB72B;
}

#page_title_wrap {
	border-top: 5px solid #2378A1;
	background: #2378A1 url("../img/bg_gradient_blue.jpg") no-repeat top center;
}

#main_content_full_width h1, #main_content_extra_wide h1, #main_content_wide h1, #main_content_wide_wpadding h1 {
	color: #2B95C8;
}

.best_plan {
	background: #2B95C8;
}

#account h3 span {
	background: #2B95C8;
	background: -moz-linear-gradient(top, #2B95C8, #2378A1);
	background: -webkit-gradient(linear, left top, right bottom, from(#2B95C8), to(#2378A1));
}

#main_content_wide_wpadding .post_excerpt h2, #main_content_wide_wpadding .post_excerpt h2 a, #main_content_wide_wpadding #post h1 {
	color: #2B95C8;
}

#main_content_wide_wpadding .post_excerpt h2 a:hover {
	color: #2378A1;
}

.more {
	color: #2EB72B;
}

	.more a {
		color: #2EB72B;	
	}

.generic_table th:hover, .generic_table td:hover {
	color: #FFFFFF;
	background-color: #2B95C8;
}
