#press {
  .well {
    margin-top: 40px;
    background: #fff;
    box-shadow: none;

    h3 {
      margin-top: 0;
      .text-center;
      padding: 10px;
    }
  }

  .news-item {
    padding-top: 10px;
    .text-center;
    color: @gray-darker;
  }

  .news-link {
    display: block;
  }
}
