h2:first-child {
  margin-top: 0;
}

.privacy-policy {
  li {
    margin-bottom: 0.75em;
  }
}

.label {
  display: inline-block;
  min-width: 120px;
  padding-top: 0.3em;
  margin-right: 0.5em;
  font-size: 14px;
}

