%p
  We need github access to check out your code and run your tests. We'll also
  add a post-commit hook and deployment keys so that everything is smooth and
  hassle-free for you. We won't do any more without explicitly asking, and of
  course all of this can be disabled from your account page on Github.
