We'll start running tests on your X projects ASAP. Rails and clojure
projects are pretty much ready, and we'll have them to you soon. Other
languages/platforms/paradigms will come soon: we're using the projects you
add as guidance for what to work on next, so thanks!

.finally Any comments - what's important, what's not, what your goal is?
