%h1
  Got it!

%p
  We currently support Rails and Clojure. If you have a supported project, we'll start your builds
  ASAP, and you should start getting build emails soon.
%p
  If your platform isn't supported, don't worry. We're using your code to gauge what we should
  support next. We'll email you when we we're ready to run your tests.


%h6
  Need to remove it?

%p
  We're ultra careful with your code. But if you feel unsafe, you'll always be able to revoke our
  access via Github. But if you feel the need, please
  = mail_to("allan@circleci.com", "drop us a line")
  to let us know why--we'd love your feedback.