// Teaser ------------------------------------------------------------------

// Full width wrapper
#teaser {
  .box-shadow( inset 0 8px 25px -6px rgba(0,0,0,.5) );
  #gradient > .vertical(rgb(11, 90, 175), rgb(8, 55, 107));

  // Content container
  & > section {
    .container;
    position: relative;
    padding-top: 88px;
    padding-bottom: 116px;
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
  }

  // Teaser screenshot
  .screenshot {
    .ir;
    z-index: 1;
    width: 772px;
    height: 431px;
    position: absolute;
    bottom: 0;
    left: 21em;
    background: url("@{imgPath}/teaser_ss.png") no-repeat;
  }

  // Teaser text layout
  h2, h3, p, form {
    .column(5.5);
    .pull(6.5);
    margin-left: 0;
  }

  // Teaser typography
  h2 {
    font-size: 35px;
  }

  h3 {
    margin-top: 1em;
    font: 600 16px/24px "Open Sans", sans-serif;
    line-height: 24px;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 20px;
  }

  // z-index > screenshot's, prevent clickability occlusion
  button {
    position: relative;
    z-index: 5;
  }
}
