.container
  .contents

    = render :partial => "section",
             :locals => { :header => "Authorize us on Github",
                          :index => 1}

    = render :partial => "section",
             :locals => { :header => "Add projects",
                          :index => 2}

    = render :partial => "section",
             :locals => { :header => "Start running tests",
                          :index => 3}
