.container
  .contents

    = render :partial => "section",
             :locals => { :header => "Authorize us on Github",
                          :index => 1}

    = render :partial => "section",
             :locals => { :header => "Pick a project",
                          :index => 2}

    = render :partial => "section",
             :locals => { :header => "Profit",
                          :index => 3}
