// Title --------------------------------------------------------------------

#title {
  height: 116px;
  background: url("@{imgPath}/blocks/title/title_bg.png") repeat-x;

  h1 {
    margin: 0;
    .container;
    color: #fff;
    font-size: 42px;
    line-height: 116px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
  }

  &:after {
    content: '';
    #gradient > .vertical (rgba(0,0,0,0.08), rgba(0,0,0,0));
    background-color: transparent;
    display: block;
    height: 50px;
    width: 100%;
    z-index: 10;
    position: absolute;
  }
}
