&.notfound {

  h2, h3 {
    text-align: center
  }

  h1 {
    font-size: 120px;
    line-height: 100px;
  }

  .content p {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding: 0 200px;
    text-align: center;
  }
}
