.notfound {

  h2, h3 {
    a {
      text-decoration: underline;
    }
    font-size: 36px;
    text-align: center;
  }

  h1 {
    font-size: 90px;
    line-height: 80px;
  }

  .content p {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    padding: 0 200px;
    text-align: center;
  }
}
