// Imports -------------------------------------------------------------------
@import "normalize";
@import "mixins";
@import "grid";
@import "variables";

body {
  min-width: 960px;
}

// Etc -----------------------------------------------------------------
input[type=text].signup {
  width: 270px;
  border: 1px solid #152942;
  .box-shadow(~"0 1px 0 rgba(255,255,255,.25), 0 2px 5px rgba(0, 0, 0, 0.25) inset");
  background-color: #ffffff;
}

::-moz-selection { background: @link; color: #fff; text-shadow: none; }
::selection { background: @link; color: #fff; text-shadow: none; }
