// Imports -------------------------------------------------------------------
@import "shared/normalize";
@import "shared/mixins";
@import "shared/grid";

// Variables -----------------------------------------------------------------
// Links
@link:               @blueDark;
@linkHover:          @blueDarker;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #777;
@grayLight:             #ccc;
@grayLighter:           #eee;
@white:                 #fff;

// Blues
@blueDarker:            #1b4f8a;
@blueDark:              #366aa4;
@blue:                  #586e8a;
@blueLight:             #d7dce3;
@blueLighter:           #eff2f6;


// Layout Grid ---------------------------------------------------------------
@columns: 12;
@column-width: 60;
@gutter-width: 20;

body {
  min-width: 960px;
}

// Etc -----------------------------------------------------------------
input[type=text].signup {
  width: 270px;
  border: 1px solid #152942;
  .box-shadow(~"0 1px 0 rgba(255,255,255,.25), 0 2px 5px rgba(0, 0, 0, 0.25) inset");
  background-color: #ffffff;
}

::-moz-selection { background: @link; color: #fff; text-shadow: none; }
::selection { background: @link; color: #fff; text-shadow: none; }
