.contact-us {
  .notice {
    .error { color: @errorText; }
    .success { color: @successText; }
    margin: 0 0 15px;
  }

  textarea {
    height: 100px;
  }

  button {
    display: block;
    width: 100px;
  }
}
