.drawing {
  text {
    fill: @gray;
  }
  line {
    fill: none;
    stroke: @grayBoxBorder;
  }
  .draw-nav {
    rect {
      fill: @grayDark;
    }
    circle {
      fill: @gray;
    }
    path {
      fill: @white;
    }
  }
  .draw-menu {
    > text {
      fill: @blacken;
    }
    path,
    polyline {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
    }
    path {
      stroke: @redLight;
    }
    polyline {
      stroke: @green;
      stroke-linejoin: round;
    }
  }
  .draw-main {
    path {
      fill: @green;
    }
    .draw-th {
      fill: @blacken;
    }
  }
}