// sticky - see http://mystrd.at/modern-clean-css-sticky-footer/
#footer {
  padding: @footerPadding 0;
  border-top: 1px solid @grayLightest;
  .logo {
    height: 1em;
    background-image: url("@{imgPath}/logomark.svg");
    background-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .66;
    transition: opacity .4s ease-in-out;
    &:hover {
      opacity: 1;
      transition-duration: .2s;
    }
  }
  nav {
    li {
      a {
        color: @grayLighter;
        transition: color .4s ease-in-out;
        &:hover,
        &:focus,
        &.active {
          background-color: transparent;
          color: @grayLight;
          transition-duration: .2s;
        }
      }
    }
  }
// this should go back to outer
//  @import "../shared/additional.less";
}