.border-radius(@radius: 5px) {
   webkit-border-radius: @radius;
   moz-border-radius: @radius;
   border-radius: @radius;
}

.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.text-shadow(@size1, @size2, @size3, @color){
    -webkit-text-shadow: @size1 @size2 @size3 @color;
    text-shadow:-@size1 @size2 @size3 @color;
}


.button (@buttonColor: @blueDark) {
  #gradient.vertical(rgba(255,255,255,.05),rgba(0,0,0,.08));
  background-repeat: repeat-x;
  background-color: @buttonColor;
  border-style: solid;
  border-color: darken(@buttonColor,8%);
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.21);
  color: #eee;
  .box-sizing(border-box);
  background-size: 100%;
  transition-duration       : (1s/3s);
  transition-timing-function: ease-in-out;
  text-shadow: 0 -1px 1px darken(saturate(@buttonColor,8%),13%);
  line-height: 1em;
  padding: 1em 0;
  margin-right: -4px; //removes hidden txt margin from browser
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: darken(saturate(@buttonColor,3%),3%);
    border-color: @buttonColor;
    box-shadow: 0 0 rgba(0,0,0,0);
    background-size: 300%;
    transition-duration: (1s/8s);
    color: @white;
    text-shadow: 0 0 rgba(0,0,0,0);
  }
  &:active, &:focus {
    background-color: darken(saturate(@buttonColor,5%),8%);
    box-shadow: 0 2px 3px rgba(0,0,0,.34) inset;
    background-size: 300%;
    text-shadow: 0 0 rgba(0,0,0,0);
    transition-duration: .1s;
  }
}
