.border-radius(@radius: 5px) {
   webkit-border-radius: @radius;
   moz-border-radius: @radius;
   border-radius: @radius;
}

.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.text-shadow(@size1, @size2, @size3, @color){
    -webkit-text-shadow: @size1 @size2 @size3 @color;
    text-shadow:-@size1 @size2 @size3 @color;
}

.buttonDark(@buttonColor: #004b64) {
  text-align: center;
  margin-left: -4px;
  border-radius: 4px;
  background-size: 100%;
  background-repeat: repeat-x;
  background-color: @buttonColor;
  background-image: linear-gradient(to bottom,
                      fadeout(@white, 95%) 0%,
                      fadeout(@black, 92%) 100%);
  border: 1px solid darken(@buttonColor,8%);
  box-shadow: 0 1px 1px fadeout(@black, 79%);
  transition: all .3s linear;
  display: inline-block;
  padding: 0 1em;
  white-space: nowrap;
  line-height: 3em;
  text-decoration: none;
  color: darken(@white, 13%);
  text-shadow: 0 -1px 1px darken(saturate(@buttonColor,8%),13%);
  .box-sizing(border-box);
  &:hover {
    background-size: 300%;
    background-color: darken(saturate(@buttonColor,3%),3%);
    border-color: darken(saturate(@buttonColor,3%),3%);
    box-shadow: 0 0 fadeout(@black, 100%);
    transition: all .1s ease-in-out;
    color: @white;
    text-shadow: 0 0 rgba(0,0,0,0);
  }
  &:active {
    background-size: 300%;
    background-color: darken(saturate(@buttonColor,5%),8%);
    border-color: darken(saturate(@buttonColor,3%),3%);
    box-shadow: 0 2px 3px rgba(0,0,0,.34) inset;
    transition: all .2s ease-in-out;
    color: darken(@white, 5%);
    text-shadow: 0 0 rgba(0,0,0,0);
  }
}


.dynamicTextColor (@bkg) when (lightness(@bkg) < 50%) {
  color: @grayLightest;
  text-shadow: 0 -1px 1px darken(saturate(@bkg,8%),21%),
               0  1px 1px lighten(@bkg, 8);
}
.dynamicTextColor (@bkg) when (lightness(@bkg) >= 50%) {
  color: @grayDark;
  text-shadow: 0 1px 1px lighten(@bkg, 8);
}
.circleButton(@color: @grayLight, @hover: @grayLight) {
  text-align: center;
  outline: none;
  border-radius: 100em;
  background-size: 100%;
  background-repeat: repeat-x;
  background-color: @color;
  background-image: linear-gradient(to bottom,
                      fadein(fadeout(@white, 100), 5) 0%,
                      fadein(fadeout(@black, 100), 8) 100%);
  border: 1px solid darken(@color, 8);
  box-shadow: 0 1px fadein(fadeout(@white, 100), 21) inset;
  padding: .75em 2em;
  line-height: 1.5em;
  transition: all .3s ease-in-out;
  font-size: 1.154em;
  .dynamicTextColor(@color);
  &:hover, &:active {
    .dynamicTextColor(@hover);
    background-size: 300%;
    border-color: darken(saturate(@hover,3%),3%);
    transition-duration: .1s;
  }
  &:hover {
    background-color: darken(saturate(@hover,3%),3%);
    box-shadow: none;
    text-shadow: none;
  }
  &:active {
    background-color: darken(saturate(@hover,5%),8%);
    box-shadow: 0 2px fadein(fadeout(@black, 100), 21) inset;
    text-shadow: 0 2px 1px darken(@hover, 13);
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
     -moz-animation: @arguments;
          animation: @arguments;
}

}
@import "mixins/transforms.less";
@import "mixins/skins.less";
