.border-radius(@radius: 5px) {
   webkit-border-radius: @radius;
   moz-border-radius: @radius;
   border-radius: @radius;
}

.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.text-shadow(@size1, @size2, @size3, @color){
    -webkit-text-shadow: @size1 @size2 @size3 @color;
    text-shadow:-@size1 @size2 @size3 @color;
}

.buttonDark(@buttonColor: #004b64) {
  text-align: center;
  margin-left: -4px;
  border-radius: 4px;
  background-size: 100%;
  background-repeat: repeat-x;
  background-color: @buttonColor;
  background-image: linear-gradient(to bottom,
                      fadeout(@white, 95%) 0%,
                      fadeout(@black, 92%) 100%);
  border: 1px solid darken(@buttonColor,8%);
  box-shadow: 0 1px 1px fadeout(@black, 79%);
  transition: all .3s linear;
  display: inline-block;
  padding: 0 1em;
  white-space: nowrap;
  line-height: 3em;
  text-decoration: none;
  color: darken(@white, 13%);
  text-shadow: 0 -1px 1px darken(saturate(@buttonColor,8%),13%);
  .box-sizing(border-box);
  &:hover {
    background-size: 300%;
    background-color: darken(saturate(@buttonColor,3%),3%);
    border-color: darken(saturate(@buttonColor,3%),3%);
    box-shadow: 0 0 fadeout(@black, 100%);
    transition: all .1s ease-in-out;
    color: @white;
    text-shadow: 0 0 rgba(0,0,0,0);
  }
  &:active {
    background-size: 300%;
    background-color: darken(saturate(@buttonColor,5%),8%);
    border-color: darken(saturate(@buttonColor,3%),3%);
    box-shadow: 0 2px 3px rgba(0,0,0,.34) inset;
    transition: all .2s ease-in-out;
    color: darken(@white, 5%);
    text-shadow: 0 0 rgba(0,0,0,0);
  }
}

.scale3d (@x, @y: 0, @z: 0) {
  -webkit-transform: scale3d(@x, @y, @z);
          transform: scale3d(@x, @y, @z);
}

.transition-transform (@duration: .1s, @timing-function: ease-in, @delay: 0) {
  transition: -webkit-transform @duration @timing-function @delay;
  transition:         transform @duration @timing-function @delay;
}

.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}

.animation(@arguments) {
  -webkit-animation: @arguments;
     -moz-animation: @arguments;
          animation: @arguments;
}

.rotate3d (@x, @y, @z, @deg) {
  -webkit-transform: rotate3d(@x, @y, @z, @deg);
          transform: rotate3d(@x, @y, @z, @deg);
}

.fontFace(@font, @weight, @style: normal){
    @font-face{
        font-family: @font;
        src:url('../../webfonts/@{font}@{weight}.eot');
        src:url('../../webfonts/@{font}@{weight}.eot?#iefix') format('embedded-opentype'),
            url('../../webfonts/@{font}@{weight}.woff') format('woff'),
            url('../../webfonts/@{font}@{weight}.ttf') format('truetype'),
            url('../../webfonts/@{font}@{weight}.svg#icon') format('svg');
        font-weight: @weight;
        font-style: @style;
    }
}
