html {
  min-height: 100%;
  position: relative;
}
body {
  -webkit-font-smoothing: antialiased;
}
pre, code {
  font-familt: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.btn-primary {
  @btnPrimaryBackground: #1f4d80;
  @btnPrimaryBackgroundHighlight: darken(@btnPrimaryBackground, 5%);
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}
#content {
  min-width: 960px;
  min-height: 100vh;
  padding-top: 1vw;
  .box-sizing(border-box);
}
h1 {
  color: #1c508b;
}
h2 {
  color: #366aa4;
}
a:hover {
  cursor: pointer;
}
.alert-info {
  a {
    text-decoration: underline;
  }
}
label.sticky {
  .stickyLabel();
}
label.stickyArea {
  .stickyLabelTextarea();
}
.centered-spinner {
  text-align: center;
  margin-top: 30px;
  font-size: 28px;
}
.fa.fa-spin {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.flash-error-wrapper {
  height: 100px;
}
.github-icon-link {
  color: #333;
  .transition(all 0.1s ease-in);
  &:hover {
    text-decoration: none;
    color: #4183c4;
  }
}
