body {
  -webkit-font-smoothing: antialiased;
}
#app {
  .displayFlex();
  .flex-direction(column);
  min-width: @minimumContentWidth;
  min-height: 100vh;
  main {
    .flex(1, 1);
  }
}
.btn-primary {
  @btnPrimaryBackground: #1f4d80;
  @btnPrimaryBackgroundHighlight: darken(@btnPrimaryBackground, 5%);
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}
a {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
label.sticky {
  .stickyLabel();
}
label.stickyArea {
  .stickyLabelTextarea();
//
// Smart Label
//
input {
  @input_height: 3em;
  @input_margin: (@input_height / 3);
  @input_border: 1px;
  .box-sizing(border-box);
  outline: none;
  &[type="text"],
  &[type="email"] {
    height: @input_height;
    width: 100%;
    margin: 0 0 @input_margin;
    padding: @input_margin;
    border: @input_border solid @grayLighter;
    border-radius: (@input_height / 2);
    background: @whiten;
    &[required] {
      &:focus {
        border-color: @blueLighter !important; // BS RESET
        box-shadow: none           !important; // BS RESET
        + span {
          &[placeholder] {
            &:before {
              color: @blueLighter;
            }
          }
        }
      }
      &:focus,
      &:valid {
        + span {
          &[placeholder] {
            &:before {
              transition-duration: .2s;
              -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
                      transform: translate(0, -1.5em) scale(0.9, 0.9);
            }
          }
        }
      }
      + span {
        &[placeholder] {
          display: block;
          pointer-events: none;
          margin: ~"calc(-@{input_height} - (@{input_border} * 2))" 0 ((2 / 3) * @input_height);
          &:before {
            content: attr(placeholder);
            display: inline-block;
            margin: 0 ~"calc(@{input_margin} + (@{input_border} * 2))";
            padding: 0 2px;
            color: @grayLight;
            white-space: nowrap;
            transition: .3s ease-in-out;
            background-image: linear-gradient(to bottom, @whiten, @whiten);
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}
.loading-spinner {
  svg {
    display: inherit;
    margin: auto;
    width: 1em;
    height: 1em;
  }
  &:not(span) {
    svg {
      width: @spinnerSize;
      height: @spinnerSize;
    }
  }
}
.fa.fa-spin {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
.github-icon-link {
  color: #333;
  .transition(all 0.1s ease-in);
  &:hover {
    text-decoration: none;
    color: #4183c4;
  }
}
.center{
  display: block;
  margin: 0 auto;
}
.center-text{
  text-align: center;
}
.contact-us {
  .notice {
    .error { color: @errorText; }
    .success { color: @successText; }
    margin: 0 0 15px;
  }

  textarea {
    height: 100px;
  }

  button {
    display: block;
    width: 100px;
  }
}
#sticky-help-link {
  bottom: 0;
  border: 1px solid @black;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  max-height: 41px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  transition: max-height .7s ease;
  z-index: @zindexStickyFooter;

  .dark-background {
    background: @grayDark;
    color: @white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 19px 11px;
    text-shadow: 0 1px 0 fade(@black, 50%);
  }

  .light-background {
    background: @white;
    padding: 10px 19px 11px;

    .contact-us {
      margin: 0px 0px 15px;
    }
  }

  &.isOpen {
    max-height: 1000px;
  }
}

