.middle-head {
  .flexy(column);
  .head-user {
    .flexy(center, space-between);
    height: @tile;
    box-shadow: 0 -1px @grayBoxBorder inset;
    .settings {
      .flexy(center, center);
      .tip(left);
      width: @tile;
      height: @tile;
      &:not(:hover) {
        color: @grayDark;
      }
    }
  }
}
.breadcrumbs {
  margin-left: 1em;
  a {
    &:not(:first-child) {
      &:before {
        content: '/';
        color: @grayLight;
        margin-right: 3px; // from trial and error
      }
    }
    &:not(:hover) {
      color: @grayLight;
    }
    &[disabled] {
      pointer-events: none;
    }
  }
}
.head-admin {
  @color: fade(@white, 50);
  .flexy(center, space-between);
  min-height: @tile;
  color: @color;
  background: @blueLight;
  line-height: 200%;
  a {
    color: @color;
    &:hover {
      color: @white;
    }
  }
  th, td {
    padding-right: 1em;
  }
  .admin-metrics {
    .flexy(center);
    margin: 0 1em;
  }
  .metric {
    padding-right: 5px;
    &:not(:first-child) {
      &:before {
        content: '/';
        color: @color;
        margin-right: 5px;
      }
    }
  }
  .metric-label {
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
  .admin-environment {
    color: @white;
    line-height: 1em;
    padding: .5em 1em;
    border-radius: 2em;
    &.env-production  { background: @redLight;  }
    &.env-staging     { background: @orange;    }
    &.env-development { background: @blueLight; }
    &.env-test        { background: @green;     }
  }
  .admin-tools {
    margin: 0 1em;
    a {
      &:not(:first-child) {
        &:before {
          content: '/';
          color: @color;
          margin-right: 3px;
        }
      }
    }
  }
}
