svg {
  &.ico {
    height: 1em;
    width: 1em;
    .ico-logo {
      fill: @blueDark;
    }
    .ico-pass {
      fill: @green;
    }
    .ico-fail {
      fill: @redLight;
    }
    .ico-fail-light {
      stroke: @redLight;
      stroke-width: 4;
    }
    .ico-queued {
      fill: @grayLight;
    }
  }
}
