svg {
  &.icon {
    height: 1em;
    width: 1em;
    .icon-logo {
      fill: @blueDark;
    }
    .icon-pass {
      fill: @green;
    }
    .icon-fail {
      fill: @redLight;
    }
    .icon-queued {
      fill: @grayLight;
    }
  }
}
