#navbar,
#sticky-help-link,
.main-foot {
  display: none !important;
}
#app {
  min-width: inherit;
}
@em: @baseFontSize;
@h1_font_size: 72px;
@h1_line_height: @h1_font_size;
@h3_font_size: 20px;
@h3_line_height: 30px;
.page {
  &.home {
    color: @white;
    h1 {
      font-size: @h1_font_size;
      line-height: @h1_line_height;
      font-weight: 300;
    }
    h3 {
      font-size: @h3_font_size;
      line-height: @h3_line_height;
      font-weight: normal;
      margin: 0;
    }
  }
}


@zindex_intro_above: 3;
@zindex_intro_cover: 2;
@zindex_intro_below: 1;

@intro_overlay_fadein: 400ms;
@intro_overlay_fadeout: 200ms;


.home-intro {
  .flexy(column);
  .justify-content(center);
  position: relative;
  height: 100vh;
  background: @grayDark;
  color: #aaa;
}
.intro-nav {
  .box-sizing(border-box);
  .flexy(center, center);
  position: relative;
  z-index: @zindex_intro_below;
  height: @tile;
  margin-bottom: auto;
  border: 1px solid fade(@black, 13);
  order: 1;
}
.intro-nav-promote {
  color: @gray;
  margin-left: ((@tile / 2) - (@baseLineHeight / 2));
  margin-right: auto;
}
.intro-nav-login {
  color: @gray;
  margin-left: auto;
  margin-right: ((@tile / 2) - (@baseLineHeight / 2));
}
.intro-brand {
  position: relative;
  z-index: @zindex_intro_above;
  order: 2;
  i.ico {
    svg {
      width: @tile;
      height: @tile;
      path {
        fill: @white;
        transition: @intro_overlay_fadeout;
      }
    }
  }
}
.intro-slogan {
  position: relative;
  z-index: @zindex_intro_above;
  text-align: center;
  margin: @tile 0;
  order: 3;
  .slogan-tagline,
  .slogan-subline {
    position: relative;
    color: transparent;
    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      pointer-events: none;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    &:before {
      content: attr(title);
      top: 0;
      transition: opacity @intro_overlay_fadeout, top (@intro_overlay_fadeout * 1.5);
    }
    &:after {
      content: attr(alt);
      opacity: 0;
      transition: (@intro_overlay_fadeout / 2);
    }
  }
  .slogan-tagline {
    height: @h1_font_size;
    margin: 0 0 ((@tile * 2) - (@h1_line_height + (@h3_line_height * 2)));
    &:before {
      color: @grayBoxBorder;
    }
    &:after {
      top: @h1_font_size;
      color: @grayDark;
    }
  }
  .slogan-subline {
    height: @h3_line_height;
    &:before,
    &:after {
      color: #aaa;
    }
    &:after {
      top: @h3_line_height;
    }
  }
}
.intro-action {
  .box-sizing(border-box);
  .flexy(center, center);
  align-self: center;
  position: relative;
  z-index: @zindex_intro_above;
  color: @grayDark;
  font-size: 20px;
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border: 1px solid @white;
  border-radius: (@tile / 2);
  order: 4;
  &:hover {
    color: @green;
    border-color: @green;
    ~ .intro-cover {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0;
      transition: all @intro_overlay_fadein, border-radius (@intro_overlay_fadein / 2);
    }
    ~ .intro-brand {
      i.ico {
        svg {
          path {
            fill: @grayDark;
            transition: @intro_overlay_fadein;
          }
        }
      }
    }
    ~ .intro-slogan {
      .slogan-tagline {
        &:before {
          top: -@h1_font_size;
          opacity: 0;
          transition: (@intro_overlay_fadein / 2);
        }
        &:after {
          top: 0;
          opacity: 1;
          transition: top @intro_overlay_fadein, opacity (@intro_overlay_fadein * 1.5);
        }
      }
      .slogan-subline {
        &:before {
          top: -@h3_line_height;
          opacity: 0;
          transition: (@intro_overlay_fadein / 2);
        }
        &:after {
          top: 0;
          opacity: 1;
          transition: top @intro_overlay_fadein, opacity (@intro_overlay_fadein * 1.5);
        }
      }
    }
  }
}
.intro-cover {
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border-radius: (@tile / 2);
  position: absolute;
  z-index: @zindex_intro_cover;
  pointer-events: none;
  left: ~"calc(50% - 105px)";
  top: ~"calc(50% + 140px)";
  transition: @intro_overlay_fadeout;
}
.intro-learn {
  .flexy(center, center);
  position: relative;
  z-index: @zindex_intro_above;
  height: @tile;
  margin-top: auto;
  order: 5;
  a {
    color: @white;
  }
}
