#navbar,
#sticky-help-link,
.main-foot {
  display: none !important;
}
#app {
  min-width: inherit;
}
@em: @baseFontSize;
@h1_font_size: 72px;
@h1_line_height: @h1_font_size;
@h3_font_size: 20px;
@h3_line_height: 30px;
.page {
  &.home {
    color: @white;
    h1 {
      font-size: @h1_font_size;
      line-height: @h1_line_height;
      font-weight: 300;
      // color: @grayBoxBorder;
      margin: 0;
    }
    h3 {
      font-size: @h3_font_size;
      line-height: @h3_line_height;
      font-weight: normal;
      // color: #aaa;
      margin: 0;
    }
  }
}


@zindex_intro_top: 2;
@zindex_intro_bottom: 1;


.outer-navigation {
  .box-sizing(border-box);
  .flexy(center, center);
  position: relative;
  z-index: @zindex_intro_top;
  height: @tile;
  margin-bottom: auto;
  border: 1px solid fade(@black, 13);
  order: 1;
}
.latest-link {
  color: @gray;
  margin-left: ((@tile / 2) - (@baseLineHeight / 2));
  margin-right: auto;
}
.login-link {
  color: @gray;
  margin-left: auto;
  margin-right: ((@tile / 2) - (@baseLineHeight / 2));
}



.home-intro {
  .flexy(column);
  .justify-content(center);
  position: relative;
  height: 100vh;
  background: @grayDark;
  color: #aaa;
}
.intro-brand {
  .icon_style(@white, @tile);
  position: relative;
  z-index: @zindex_intro_top;
  order: 2;
}
.intro-slogan {
  position: relative;
  z-index: @zindex_intro_top;
  text-align: center;
  margin: @tile 0;
  padding: (((@tile * 2) - (@h1_line_height + (@h3_line_height * 2))) / 2) 0;
  order: 3;
  h1 {
    color: @grayBoxBorder;
  }
}
// .intro-action {
//   .flexy(center, center);
// }
.intro-action-btn {
  .box-sizing(border-box);
  .flexy(center, center);
  align-self: center;
  position: relative;
  z-index: @zindex_intro_top;
  color: @grayDark;
  font-size: 20px;
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border: 1px solid @white;
  border-radius: (@tile / 2);
  order: 4;
  &:hover {
    ~ .intro-action-overlay {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0;
    }
    ~ .intro-slogan {
      h1 {
        color: red;
      }
    }
  }
}
.intro-action-overlay {
  .box-sizing(border-box);
  .flexy(center, center);
  color: @grayDark;
  font-size: 20px;
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border: 1px solid @white;
  border-radius: (@tile / 2);

  position: absolute;
  z-index: @zindex_intro_bottom;
  pointer-events: none;
  left: ~"calc(50% - 105px)";
  top: ~"calc(50% + 140px)";
  transition: 400ms;
}
.intro-learn {
  .flexy(center, center);
  position: relative;
  z-index: @zindex_intro_top;
  height: @tile;
  margin-top: auto;
  order: 5;
  a {
    color: @white;
  }
}
