// temporary hacks for mocking up initial design
#navbar,
#sticky-help-link,
.main-foot {
  display: none !important;
}
#app {
  min-width: inherit;
}
// temporary hacks for mocking up initial design

@em: @baseFontSize;

@prolog_light_on_dark: #aaa;

@prolog_h1_font: 72px;
@prolog_h1_line: @prolog_h1_font;
@prolog_h3_font: 20px;
@prolog_h3_line: (@prolog_h3_font * 1.5); // 30px

@prolog_cover_fadein: 500ms; // original is 500ms
@prolog_cover_fadeout: (@prolog_cover_fadein / 2);
@prolog_cover_timing: ease-in-out;

@purpose_font: 16px;
@purpose_line: 24px;

@zindex_prolog_cover: 2; // These should move to a less file in charge of managing z-indexes
@zindex_prolog_above: (@zindex_prolog_cover + 1);
@zindex_prolog_below: (@zindex_prolog_cover - 1);

.page {
  &.home {
    // color: @white;
    h1 {
      font-size: @prolog_h1_font;
      line-height: @prolog_h1_line;
      font-weight: 300;
    }
    h3 {
      font-size: @prolog_h3_font;
      line-height: @prolog_h3_line;
      font-weight: normal;
      margin: 0;
    }
  }
}
.home-prolog {
  .flexy(column);
  .justify-content(center);
  position: relative;
  height: 100vh;
  background: @grayDark;
  color: @prolog_light_on_dark;
  a:not([role="button"]) {
    color: @gray;
    transition: color 300ms;
    i {
      path {
        stroke: @gray;
        stroke-width: 8;
        transition: stroke 300ms;
      }
    }
    &:hover {
      color: @white;
      transition: color 200ms;
      i {
        path {
          stroke: @white;
          transition: stroke 200ms;
        }
      }
    }
  }
}
.prolog-navigation {
  .box-sizing(border-box);
  position: relative;
  z-index: @zindex_prolog_above;
  height: @tile;
  margin-bottom: auto;
  border: 1px solid fade(@black, 13);
  order: 1;
  nav {
    .flexy(center, center);
    height: 100%;
    padding: 0 ((@tile - @baseLineHeight) / 2);
  }
  .promo {
    margin-right: auto;
  }
  .login {
    margin-left: auto;
  }
}
.prolog-cover {
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border-radius: (@tile / 2);
  position: absolute;
  z-index: @zindex_prolog_cover;
  pointer-events: none;
  left: ~"calc(50% - 105px)";
  top: ~"calc(50% + 140px)";
  transition: @prolog_cover_fadeout;
  transition-timing-function: @prolog_cover_timing;
}
.prolog-logos {
  .flexy(center, center);
  position: relative;
  z-index: @zindex_prolog_above;
  order: 2;
  .avatars {
    position: relative;
    width: @tile;
    height: @tile;
  }
  i.ico {
    svg {
      width: @tile;
      height: @tile;
    }
    path {
      fill: @white;
      transition: @prolog_cover_fadeout;
    }
  }
  .avatar-circle {
    position: absolute;
    top: 0;
    left: 0;
    transition: @prolog_cover_fadeout;
    transition-timing-function: @prolog_cover_timing;
  }
  .avatar-github {
    position: absolute;
    top: (-@tile / 4);
    left: (-@tile / 4);
    opacity: 0;
    transition: (@prolog_cover_fadeout / 2);
    &:before,
    &:after {
      .box-sizing(border-box);
      content: "";
      position: absolute;
      width: 90px;
      height: 90px;
      border: 1px solid @grayBoxBorder;
      border-radius: 5px;
    }
    &:before {
      top: -10px;
      left: -10px;
    }
    &:after {
      top: (@tile / 2);
      left: (@tile / 2);
      background: @white;
    }
  }
}
.prolog-slogans {
  position: relative;
  z-index: @zindex_prolog_above;
  text-align: center;
  margin: @tile 0;
  order: 3;
  .slogan {
    position: relative;
    color: transparent;
    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      pointer-events: none;
      transition-timing-function: @prolog_cover_timing;
    }
    &:before {
      content: attr(title);
      top: 0;
      transition: opacity @prolog_cover_fadeout (@prolog_cover_fadeout / 2),
                  top (@prolog_cover_fadeout * 1.5) (@prolog_cover_fadeout / 2);
    }
    &:after {
      content: attr(alt);
      opacity: 0;
      transition: (@prolog_cover_fadeout / 2);
    }
  }
  .proverb {
    height: @prolog_h1_font;
    margin: 0 0 ((@tile * 2) - (@prolog_h1_line + (@prolog_h3_line * 2)));
    &:before {
      color: @grayBoxBorder;
    }
    &:after {
      top: @prolog_h1_font;
      color: @grayDark;
    }
  }
  .context {
    height: @prolog_h3_line;
    &:before,
    &:after {
      color: @prolog_light_on_dark;
    }
    &:after {
      top: @prolog_h3_line;
    }
  }
}
.prolog-learn {
  .flexy(center, center);
  position: relative;
  z-index: @zindex_prolog_above;
  height: @tile;
  margin-top: auto;
  order: 5;
  a {
    .flexy();
  }
  i {
    margin-left: 1ex;
    svg {
      width: round(@em * .89);
      height: round(@em * .89);
    }
  }
}
//
// Where the magic happens.
//
.prolog-action {
  .box-sizing(border-box);
  .flexy(center, center);
  align-self: center;
  position: relative;
  z-index: @zindex_prolog_above;
  color: @grayDark;
  font-size: 20px;
  background: @white;
  width: (@tile * 3);
  height: @tile;
  border: 1px solid @white;
  border-radius: (@tile / 2);
  order: 4;
  transition: color @prolog_cover_fadeout,
              background @prolog_cover_fadeout,
              border-color @prolog_cover_fadeout @prolog_cover_fadeout;
  &:hover {
// Button
    color: @white;
    background: @grayDark;
    border-color: @grayBoxBorder;
    transition: color @prolog_cover_fadein @prolog_cover_fadeout,
                background @prolog_cover_fadein @prolog_cover_fadeout,
                border-color 0 0;
// Cover
    ~ .prolog-cover {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0;
      transition: all @prolog_cover_fadein,
                  border-radius (@prolog_cover_fadein / 2);
    }
// Logos
    ~ .prolog-logos {
      i.ico {
        path {
          fill: @grayDark;
          transition: @prolog_cover_fadein;
        }
      }
      .avatar-circle {
        top: ((@tile / 4) + 10px);
        left: ((@tile / 4) + 10px);
        transition: @prolog_cover_fadein;
      }
      .avatar-github {
        opacity: 1;
        transition: @prolog_cover_fadein @prolog_cover_fadeout;
      }
    }
// Taglines
    ~ .prolog-slogans {
      .proverb {
        &:before {
          top: -@prolog_h1_font;
          opacity: 0;
          transition: (@prolog_cover_fadein * .3);
        }
        &:after {
          top: 0;
          opacity: 1;
          transition: top @prolog_cover_fadein,
                      opacity @prolog_cover_fadein (@prolog_cover_fadeout * .5);
        }
      }
      .context {
        &:before {
          top: -@prolog_h3_line;
          opacity: 0;
          transition: (@prolog_cover_fadein * .3);
        }
        &:after {
          top: 0;
          opacity: 1;
          transition: top @prolog_cover_fadein,
                      opacity @prolog_cover_fadein (@prolog_cover_fadeout * .5);
        }
      }
    }
  }
}

// delete these
// .purpose-drawings {.flex(0, 0, 100%);}
// .purpose-articles {display: none}
// .home-prolog {display: none !important;}

.home-purpose {
  .flexy();
  font-size: @purpose_font;
  line-height: @purpose_line;
  height: 100vh;
  background: @whiten;
}
.purpose-drawings {
  .flex(0, 0, 34%);
  .flexy(center, flex-end);
  position: relative;
  margin: auto 0;
  .drawing {
    @offset: 5px;
    @width: 1600px;
    .flex(0, 0, auto);
    position: relative;
    width: @width;
    height: (@width / 1.6);
    background: @appBackgroundColor;
    border: 1px solid @grayBoxBorder;
    border-radius: 5px;
    overflow: hidden;
    // pointer-events: none;      // turned off for dev
    // -webkit-user-select: none; // turned off for dev
    &:nth-child(-n+2) {
      position: absolute;
      background-image: url("../../img/drawing-dashboard.svg");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
    }
    &:nth-child(1) {
      right: (@offset * 2);
      bottom: (-@offset * 2);
    }
    &:nth-child(2) {
      right: @offset;
      bottom: -@offset;
    }
  }
}
.purpose-articles {
  .box-sizing(border-box);
  .flex(0, 0, 66%);
  .flexy(center, center, column);
  padding: 0 @tile;
  article {
    max-width: 1000px;
  }
}
