//
// see: http://csswizardry.com/2013/04/shame-css/
//
#IntercomTab {
  z-index: 9000; // intercom's styles are stupid and overpowering (this is overriding them in vendors)
}
#jasmine-results {
  height: 100vh;
  overflow-y: auto;
}
.aside-left-nav:not(.slim) {
  .aside-item {
    + .tooltip {
      display: none !important;
    }
  }
}
