//
// see: http://csswizardry.com/2013/04/shame-css/
//
@media only screen and (device-width: 768px) , (device-width: 320px) {
  #app {
    &.outer {
      .stories-head {
        height: 600px; // vh bug with ios 6-7 (see: https://bugs.webkit.org/show_bug.cgi?id=127771)
      }
      .stories-stats {
        ul {
          margin: 3em 0; // vh bug with ios 6-7 (see: https://bugs.webkit.org/show_bug.cgi?id=127771)
        }
      }
    }
  }
}
#IntercomTab {
  z-index: 9000; // intercom's styles are stupid and overpowering (this is overriding them in vendors)
}
