// Links
@link:               @blueDark;
@linkHover:          @blueDarker;
@linkColor:               @blueDark;
@linkColorHover:          @blueDarker;


// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #777;
@grayLight:             #ccc;
@grayLighter:           #eee;
@white:                 #fff;

@grayLightest:          #fbfbfb;


// Blues
@blueDarker:            #1b4f8a;
@blueDark:              #366aa4;
@blue:                  #586e8a;
@blueLight:             #d7dce3;
@blueLighter:           #eff2f6;

@blueRunning:           #62CFFC;

// Greens - Daniel chose these, feel free to find better ones
@greenDark:             #2e6110;
@green:                 #579531;
@greenLight:            #8aca64;

// Reds
@redLight:              #FF7373;
@red:                   #BF3030;
@redDark:               #A60000;
@lightRed: rgba(157, 38, 29, 0.7);

// Yellows
@lightYellow: rgba(255, 196, 13, 0.2);



// Layout Grid ---------------------------------------------------------------
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// tables ---------------------------------------------------------------
@tableBackgroundAccent: #fafafa;
@tableBackgroundHover: #eee;
