#lightbox {
	background-color: #FFFFFF;
	padding: 10px;
	}

#lightboxDetails {
	font-size: 0.8em;
	padding-top: 0.4em;
	}

#lightboxCaption { 
	float: left;
}

#keyboardMsg { 
	float: right;
}

#closeButton {
	top: 5px;
	right: 5px;
}

#lightbox img {
	padding: 0 !important;
	border: none !important;
	clear: both;
}
 
#overlay img {
	border: none;
}

#overlay {
	background-image:
	url("../img/overlay.png"); 
}

* html #overlay {
	background-color: #333333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/overlay.png", sizingMethod="scale");
}
	