#enterprise {
  & > .jumbotron {
    background-color: rgb(251,251,251);
    position: relative;

    .container {
      position: relative;
      z-index: 2;
    }
  }
}

img.arrow {
  position: absolute;

  &.left-a-1 {
    top: 0;
    left: 0;
    height: 20%;
  }

  &.left-a-2 {
    height: 60%;
    top: 0;
    left: 0;
  }

  &.left-a-3 {
    bottom: 0;
    left: 0;
    height: 45%;
  }

  &.left-a-4 {
    bottom: 0;
    left: 0;
    height: 45%;
  }

  &.right-a-1 {
    top: 0;
    right: 0;
    height: 35%;
  }

  &.right-a-2 {
    top: 0;
    right: 0;
    height: 27%;
  }

  &.right-a-3 {
    bottom: 0;
    right: 0;
    height: 65%;
  }

  &.right-a-4 {
    bottom: 0;
    right: 0;
    height: 12%;
  }
}

.enterprise-hero-title {
  & > h1 {
    display: block;
  }

  margin-bottom: 70px;
}

.enterprise-icon {
  width: 65px;
  .center-block;
}

.enterprise-cta-contact {
  margin-bottom: 70px;

  // redline calls for 40px between button and button of form, but inputs add 1em margin to the bottom.
  .contact-form {
    margin-bottom: calc(40px - 1em);
  }
}

.telephone-info {
  line-height: 50px;
  margin-left: 15px;
  
  .telephone-number {
    color: @brand-success;
  }
}

.integration-text {
  border-radius: 0 0 5px 5px;
  border: 1px solid @gray-lighter;
  padding: 1em;
}

.integration-logo {
  border-radius: 5px 5px 0 0;
  height: 70px;
  padding: 1em;

  img {
    max-height: 35px;
  }

  &.github {
    background-color: rgb(63,61,62);
  }

  &.docker {
    background-color: rgb(52,123,144);
  }

  &.sauce-labs {
    background-color: rgb(81,89,95);
  }
}

.integration-learn-more {
  display: block;
  text-align: center;
  padding-top: 1em;
}
