#enterprise {

  .enterprise-section {
    margin-bottom: 20px;
    h2 {
      margin-top: 0;
    }
  }

  .enterprise-story {
    border-top: solid 1px @panel-default-border;
    background-color: rgb(251,251,251);
    padding: 35px 0;
    position: relative;
    overflow: hidden;

    .story-logo {
      .center-block;
      width: 250px;
      padding-bottom: 20px;
    }
  }

  img.arrow {
    position: absolute;

    &.left-a-1 {
      top: 0;
      left: 0;
      height: 20%;
    }

    &.left-a-2 {
      height: 60%;
      top: 0;
      left: 0;
    }

    &.left-a-3 {
      bottom: 0;
      left: 0;
      height: 45%;
    }

    &.left-a-4 {
      bottom: 0;
      left: 0;
      height: 45%;
    }

    &.right-a-1 {
      top: 0;
      right: 0;
      height: 35%;
    }

    &.right-a-2 {
      top: 0;
      right: 0;
      height: 27%;
    }

    &.right-a-3 {
      bottom: 0;
      right: 0;
      height: 65%;
    }

    &.right-a-4 {
      bottom: 0;
      right: 0;
      height: 12%;
    }
  }

  .extra-row {
    margin-top: 20px;
  }

  .enterprise-cta-contact {
    margin-top: 30px;
    margin-bottom: 70px;

    // redline calls for 40px between button and button of form, but inputs add 1em margin to the bottom.
    // TODO: this is too much space, but feels fancy enough to not change casually
    .contact-form {
      margin-bottom: calc(40px - 1em);
    }

    .validated-form-control {
      margin-bottom: 1em;

      > input {
        margin-bottom: 0;
      }

      > .validation-message-container {
        padding: 0 19px;
      }
    }
  }

  .telephone-info {
    margin-top: 5px;
    margin-left: 15px;

    .telephone-number {
      color: @brand-success;
    }
  }

  .integration-text {
    border-radius: 0 0 5px 5px;
    border: 1px solid @gray-lighter;
    padding: 1em;
  }

  .integration-logo {
    border-radius: 5px 5px 0 0;
    height: 80px;
    padding: 1.5em;
    text-align: center;

    img {
      max-height: 35px;
    }

    &.github {
      background-color: rgb(63,61,62);
    }

    &.docker {
      background-color: rgb(52,123,144);
    }

    &.sauce-labs {
      background-color: rgb(81,89,95);
    }
  }

  .integration-learn-more {
    display: block;
    text-align: center;
    padding-top: 1em;
  }

  .inline-logo {
    height: 100px;
    margin-bottom: 10px;
  }

}
