// Team Members ----------------------------------------------------------------

.vcard {
  .fn,
  .title {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    display: inline;
    color: @grayDark;
    font-size: 22px;
  }

  .fn:after {
    content: ',  ';
  }

  .title {
    color: @gray;
    font-weight: 200;
  }

  .note {
    color: @grayDarker;
  }
}
