// Privacy Policy  ----------------------------------------------------------------
#privacy > #content {
  padding-bottom: 65px;

  li { line-height: 1.8em; }

  hr { margin-bottom: 35px; }

  h3 {
    color: #333;
    margin: 1.5em 0 0;
  }

  p {
    margin: 0.5em 0 1em;
    line-height: 19px;
  }

  b {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
}
