&.security {

  section {
    padding-bottom: 20px;
    margin: 30px 0 20px 0;
    border-bottom: 1px solid #eee;

    h3 {
      margin-top: 0;
    }
  }

  .content ul {
    margin: 20px 0 20px 15px;

    li {
      margin: 5px 0;
    }
  }
}
